Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Redirect .AttachParent references Changes all uses of TransformComponent.AttachParent to use SharedTransformSystem.SetParent instead
  Robust.Shared/Map/MapManager.GridCollection.cs
  Robust.UnitTesting/Shared/Map/EntityCoordinates_Tests.cs
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .GetWorldPositionRotation references Changes all uses of TransformComponent.GetWorldPositionRotation to use SharedTransformSystem.GetWorldPositionRotation instead
  Robust.Client/Debugging/DebugDrawingSystem.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .GetWorldPositionRotationInvMatrix references Changes all uses of TransformComponent.GetWorldPositionRotationInvMatrix to use SharedTransformSystem.GetWorldPositionRotationInvMatrix instead
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Redirect .MapPosition references Changes all uses of TransformComponent.MapPosition to use SharedTransformSystem.GetMapCoordinates instead
  Robust.Client/GameObjects/EntitySystems/EyeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .WorldRotation references Changes all uses of TransformComponent.WorldRotation to use SharedTransformSystem.GetWorldRotation instead
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/Placement/PlacementMode.cs
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Redirect .Anchored.set references Changes all uses of TransformComponent.Anchored to use SharedTransformSystem.AnchorEntity or SharedTransformSystem.Unanchor instead
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

Move LocalMatrices logic to system Moves the logic for the LocalMatrix and InvLocalMatrix getters to their system methods. Also obsoletes LocalMatrix and InvLocalMatrix
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Move LocalRotation setter logic to system Moves the logic for the LocalRotation setter to SetLocalRotationNoLerp. Also obsoletes the setter
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Move LocalPosition setter logic to system Moves the logic for the LocalPosition setter to SetLocalPositionNoLerp. Also obsoletes the setter
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Move UpdateChildMapIds logic to system Moves the logic for the LocalPosition setter to SetLocalPositionNoLerp. Also obsoletes the setter
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Move GetWorldPositionRotationAndSundry logic to the system
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
Owners: @PJB3005, @DrSmugleaf

Move WorldMatrix logic to the system
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
Owners: @PJB3005, @DrSmugleaf

Move WorldPosition/Rotation logic to the system
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
Owners: @PJB3005, @DrSmugleaf

Move MapPosition logic to the system
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
Owners: @PJB3005, @DrSmugleaf

Remove self-dependency in GetDebugString
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
Owners: @PJB3005, @DrSmugleaf

yaml
  Resources/EnginePrototypes/ParticleEffects/example.yml
  Robust.Client/GameObjects/EntitySystems/ClientParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticlesPrototype.cs
Owners: @PJB3005, @DrSmugleaf

oh no vector2 isn't serialisable
  Robust.Client/Graphics/Particles/ParticlesPrototype.cs
Owners: @PJB3005, @DrSmugleaf

we're getting there!
  Resources/EnginePrototypes/ParticleEffects/example.yml
  Robust.Client/GameObjects/EntitySystems/ClientParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticlesPrototype.cs
Owners: @PJB3005, @DrSmugleaf

textured
  Robust.Client/GameObjects/EntitySystems/ClientParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticlesPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Fixing guidebook not resizable from left and right (#5618)
  RELEASE-NOTES.md
  Robust.Client/UserInterface/CustomControls/BaseWindow.cs
Owners: @PJB3005, @DrSmugleaf

Revert basewindow change
  Robust.Client/UserInterface/CustomControls/BaseWindow.cs
Owners: @PJB3005, @DrSmugleaf

Revert basewindow change (#5664)
  Robust.Client/UserInterface/CustomControls/BaseWindow.cs
Owners: @PJB3005, @DrSmugleaf

Version: 243.0.1
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

review
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

maybe works?
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Revert "maybe works?"
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Revert "review"
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

sloth is like an enigma
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Fix
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

RN
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Increase audio despawn buffer
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add compreg methods to entitymanager (#5655)
  RELEASE-NOTES.md
  Robust.Benchmarks/EntityManager/HasComponentBenchmark.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Server/Maps/MapChunkSerializer.cs
  Robust.Shared/Map/Tile.cs
  Robust.UnitTesting/Shared/Map/MapGrid_Tests.cs
  Robust.UnitTesting/Shared/Map/SingleTileRemoveTest.cs
Owners: @PJB3005, @DrSmugleaf

YAML component
  Robust.Client/GameObjects/Components/Renderable/ParticlesComponent.cs
  Robust.Client/GameObjects/EntitySystems/ClientParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
  Robust.Client/Graphics/Particles/ParticlesPrototype.cs
  Robust.Server/Graphics/ParticlesComponent.cs
  Robust.Shared/GameObjects/Components/Renderable/ParticlesComponent.cs
Owners: @PJB3005, @DrSmugleaf

rename some thing
  Robust.Client/GameObjects/EntitySystems/ClientYamlParticlesSystem.cs
  Robust.Server/GameObjects/EntitySystems/ServerYamlParticlesSystem.cs
  Robust.Shared/GameObjects/Systems/ParticlesComponentSystem.cs
Owners: @PJB3005, @DrSmugleaf

fuggin ecs
  Robust.Client/GameObjects/Components/Renderable/DynamicParticlesComponent.cs
  Robust.Client/GameObjects/Components/Renderable/YamlParticlesComponent.cs
  Robust.Client/GameObjects/EntitySystems/ClientDynamicParticlesSystem.cs
  Robust.Server/GameObjects/EntitySystems/ServerDynamicParticlesSystem.cs
  Robust.Server/Graphics/DynamicParticlesComponent.cs
  Robust.Server/Graphics/YamlParticlesComponent.cs
  Robust.Shared/GameObjects/Components/Renderable/DynamicParticlesComponent.cs
  Robust.Shared/GameObjects/Components/Renderable/YamlParticlesComponent.cs
  Robust.Shared/GameObjects/Systems/DynamicParticlesComponentSystem.cs
  Robust.Shared/GameObjects/Systems/ParticlesComponentSystem.cs
  Robust.Shared/GameObjects/Systems/YamlParticlesComponentSystem.cs
Owners: @PJB3005, @DrSmugleaf

I should stop
  Robust.Client/Graphics/Particles/ParticlesManager.cs
  Robust.Shared/GameObjects/Components/Renderable/DynamicParticlesComponent.cs
  Robust.Shared/GameObjects/Components/Renderable/YamlParticlesComponent.cs
Owners: @PJB3005, @DrSmugleaf

Add CreateWindowCenteredRight method
  Robust.Client/UserInterface/BoundUserInterfaceExt.cs
Owners: @PJB3005, @DrSmugleaf

Bump physics speed cap
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Add CreateWindowCenteredRight method (#5666)
  Robust.Client/UserInterface/BoundUserInterfaceExt.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
