Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Sandbox whitelist for calendar stuff.
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Improve yaml validation errors for ignored prototypes
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Comments
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in Joints_Test (#5885)
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in PhysicsMap_Test (#5884)
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add cycle detection when setting MIDI renderer masters (#5879)
  RELEASE-NOTES.md
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Fix grid fixtures using locale dependent ids
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
Owners: @PJB3005, @DrSmugleaf

Sandbox whitelist for calendar stuff. (#5888)
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Fix grid fixtures using locale dependent ids (#5887)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
Owners: @PJB3005, @DrSmugleaf

Remove assert in UserInterfaceManager.KeyBindDown
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
Owners: @PJB3005, @DrSmugleaf

New Project
  Robust.LanguageServer/Program.cs
  Robust.LanguageServer/Robust.LanguageServer.csproj
  RobustToolbox.sln
Owners: @PJB3005, @DrSmugleaf

Add EmmyLua.LanguageServer
  Robust.LanguageServer/Robust.LanguageServer.csproj
Owners: @PJB3005, @DrSmugleaf

Remove assert in UserInterfaceManager.KeyBindDown (#5889)
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
Owners: @PJB3005, @DrSmugleaf

Version: 255.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Initial commit (#5880)
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

WIP
  Robust.LanguageServer/Program.cs
  Robust.LanguageServer/Robust.LanguageServer.csproj
  Robust.Server/Properties/AssemblyInfo.cs
  Robust.Shared/Properties/AssemblyInfo.cs
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Clean up
  Robust.Shared/ProfileOptSetup.cs
Owners: @PJB3005, @DrSmugleaf

Clean up
  Robust.Client/Graphics/Clyde/Windowing/Glfw.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Clean up
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/Prototypes/ClientPrototypeManager.cs
  Robust.Client/Utility/ReloadManager.cs
  Robust.Server/Prototypes/ServerPrototypeManager.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Register ILocalizationManagerInternal on client
  Robust.Client/ClientIoC.cs
Owners: @PJB3005, @DrSmugleaf

Avoid breaking change
  Robust.Client/Localization/ClientLocalizationManager.cs
  Robust.Server/Localization/ServerLocalizationManager.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup
  Robust.Server/ServerIoC.cs
  Robust.Shared/Localization/LocalizationManager.cs
Owners: @PJB3005, @DrSmugleaf

Release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

ftl hot reloading (#5874)
  RELEASE-NOTES.md
  Robust.Client/ClientIoC.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Localization/ClientLocalizationManager.cs
  Robust.Client/Utility/ReloadManager.cs
  Robust.Server/BaseServer.cs
  Robust.Server/Localization/ServerLocalizationManager.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.Entity.cs
  Robust.Shared/Localization/LocalizationManager.Functions.cs
  Robust.Shared/Localization/LocalizationManager.cs
  Robust.Shared/SharedIoC.cs
  Robust.Shared/Utility/IReloadManager.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/Localization/LoadLocalizationTest.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

Add GridUidChangedEvent and MapUidChangedEvent
  RELEASE-NOTES.md
  Robust.Server/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Server/GameObjects/EntitySystems/ServerOccluderSystem.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/EntitySystemMessages/GridUidChangedEvent.cs
  Robust.Shared/GameObjects/EntitySystemMessages/MapUidChangedEvent.cs
  Robust.Shared/GameObjects/Systems/MetaDataSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

cleanup
  Robust.Server/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Server/GameObjects/EntitySystems/ServerOccluderSystem.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.Shared/GameObjects/EntitySystemMessages/GridUidChangedEvent.cs
  Robust.Shared/GameObjects/EntitySystemMessages/MapUidChangedEvent.cs
Owners: @PJB3005, @DrSmugleaf

Clean up (#5890)
  Robust.Shared/ProfileOptSetup.cs
Owners: @PJB3005, @DrSmugleaf

Loading
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Validating
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Reference client, probably wanted later
  Robust.Client/Properties/AssemblyInfo.cs
  Robust.LanguageServer/Program.cs
  Robust.LanguageServer/Robust.LanguageServer.csproj
Owners: @PJB3005, @DrSmugleaf

Validating through IoC
  Robust.LanguageServer/Loader.cs
  Robust.LanguageServer/Program.cs
  Robust.LanguageServer/Validator.cs
Owners: @PJB3005, @DrSmugleaf

Server start
  Robust.LanguageServer/LanguageServer.cs
  Robust.LanguageServer/Loader.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

LS Wrapper
  Robust.LanguageServer/Handler/TextDocumentHandler.cs
  Robust.LanguageServer/LanguageServer.cs
  Robust.LanguageServer/LanguageServerContext.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Get deps
  Robust.LanguageServer/LanguageServerContext.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Trying to use more ioc
  Robust.LanguageServer/Handler/TextDocumentHandler.cs
  Robust.LanguageServer/LanguageServerContext.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Not sure if this needs to be public yet but make sure it gets done
  Robust.LanguageServer/LanguageServerContext.cs
Owners: @PJB3005, @DrSmugleaf

Check audio file signatures instead of extensions
  Robust.Client/ResourceManagement/ResourceTypes/AudioResource.cs
Owners: @PJB3005, @DrSmugleaf

Remove "struct UpdateTreesJob"
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Use #pragma
  Robust.Client/Graphics/Clyde/Windowing/Glfw.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
