Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

yoink unneeded map check
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

yarr
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Fix TimeSpan overflow on Read
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/TimeOffsetSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Make uitest (not uitest2) also support tab parameter.
  Robust.Client/Console/Commands/UITestCommand.cs
Owners: @moonheart08

Add Axis helper types to make UI layout code generic over multiple axis.
  Robust.Client/UserInterface/Axis.cs
Owners: @PJB3005, @DrSmugleaf

Add WrapContainer control
  Robust.Client/Console/Commands/UITestCommand.TabWrapContainer.cs
  Robust.Client/Console/Commands/UITestCommand.cs
  Robust.Client/UserInterface/Controls/BoxContainer.cs
  Robust.Client/UserInterface/Controls/WrapContainer.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Make devwindow & uitest2 use OSWindow
  Robust.Client/Console/Commands/UITestCommand.cs
  Robust.Client/UserInterface/DevWindow/DevWindow.xaml.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

jouneys-end
  Robust.Shared.Maths/Matrix3Helpers.cs
Owners: @PJB3005, @DrSmugleaf

CleanContainter Del to PredictedDel
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make popups/modals in secondary windows work
  Robust.Client/Console/Commands/UITestCommand.cs
  Robust.Client/UserInterface/Controls/MultiselectOptionButton.cs
  Robust.Client/UserInterface/Controls/OSWindow.cs
  Robust.Client/UserInterface/Controls/OptionButton.cs
  Robust.Client/UserInterface/Controls/UIRoot.cs
  Robust.Client/UserInterface/Controls/WindowRoot.cs
  Robust.Client/UserInterface/Tooltips.cs
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

Fix TimeSpan overflow on Read (#6170)
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/TimeOffsetSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Fix DebugConsole completions in devwindow
  Robust.Client/UserInterface/Controls/Popup.cs
  Robust.Client/UserInterface/Controls/PopupContainer.cs
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.Completions.cs
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Fix framerate dependent UI animations
  Robust.Client/UserInterface/Controls/ScrollBar.cs
  Robust.Client/UserInterface/CustomControls/DropDownDebugConsole.xaml.cs
  Robust.Client/UserInterface/UIAnimations.cs
Owners: @PJB3005, @DrSmugleaf

add RichTextBox control
  Robust.Client/UserInterface/CustomControls/RichTextBlock.Parser.cs
  Robust.Client/UserInterface/CustomControls/RichTextBox.cs
Owners: @PJB3005, @DrSmugleaf

Fix `ProcessStream` using the wrong entity
  Robust.Client/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix predicted audio having incorrect position & occlusion until the next tick
  Robust.Client/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

test
  Robust.UnitTesting/Shared/Maths/Box2Rotated_Test.cs
Owners: @PJB3005, @DrSmugleaf

Make SpriteSpecifier.Texture fail validation if it contains ".rsi" (#6155)
  Robust.Shared/Serialization/TypeSerializers/Implementations/SpriteSpecifierSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Add display.max_fps CVar.
  Robust.Client/GameController/GameController.Standalone.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClydeInternal.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Timing/GameLoop.cs
  Robust.Shared/Timing/GameTiming.cs
  Robust.Shared/Timing/IGameTiming.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix OutputPanel.SetMessage causing the panel to bounce if setting a message other than the last one (#6163)
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Fix `ProcessStream` using the wrong entity (#6177)
  Robust.Client/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

CleanContainter Del to PredictedDel (#6174)
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix predicted audio having incorrect position & occlusion until the next tick (#6178)
  Robust.Client/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

added more features to the spawn window
  Resources/Locale/en-US/custom-controls.ftl
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/Controllers/Implementations/EntitySpawningUIController.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnButton.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnButton.xaml
  Robust.Client/UserInterface/CustomControls/EntitySpawnButton.xaml.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
  Robust.Shared/Enums/PlacementInformation.cs
Owners: @PJB3005, @DrSmugleaf

more tests
  Robust.UnitTesting/Shared/Maths/Box2Rotated_Test.cs
Owners: @PJB3005, @DrSmugleaf

command line feedback
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Add ability to specify easing functions in `AnimationTrackProperty`
  Robust.Client/Animations/AnimationTrackProperty.cs
Owners: @PJB3005, @DrSmugleaf

should actually be per keyframe
  Robust.Client/Animations/AnimationTrackProperty.cs
Owners: @PJB3005, @DrSmugleaf

Add UnicodeCategory to sandbox
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

fix mispredicts (ty janet)
  Robust.Shared/GameObjects/Components/Localization/GrammarComponent.cs
Owners: @PJB3005, @DrSmugleaf

IT WORKS!!!!!!!
  Robust.Shared/GameObjects/Components/Localization/GrammarComponent.cs
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

kill obsolete gender tests
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

restore gender function for non-eng languages (oops)
  Robust.Shared/Localization/LocalizationManager.Functions.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

test overkill
  Robust.Shared.Maths/Matrix3Helpers.cs
  Robust.UnitTesting/Shared/Maths/Box2Rotated_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add UnicodeCategory to sandbox (#6181)
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add asset pass to drop all files from the Audio/ directory
  Robust.Packaging/RobustServerAssetGraph.cs
Owners: @PJB3005, @DrSmugleaf

Remove EngineFonts/ and Midi/ from server packaging
  Robust.Packaging/RobustServerPackaging.cs
Owners: @PJB3005, @DrSmugleaf

Move SDL3 binding to NuGet package
  Directory.Packages.props
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/LICENSE
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.cs
  Robust.Client/Robust.Client.csproj
  Robust.Client/Utility/ClientDllMap.cs
Owners: @PJB3005, @DrSmugleaf

Move SDL3 binding to NuGet package (#6184)
  Directory.Packages.props
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/LICENSE
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.cs
  Robust.Client/Robust.Client.csproj
  Robust.Client/Utility/ClientDllMap.cs
Owners: @PJB3005, @DrSmugleaf

Add ability to specify easings for `AnimationTrackProperty` keyframes (#6180)
  Robust.Client/Animations/AnimationTrackProperty.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
