Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

The nullable attributes are lying
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Remove incorrect NotNullIfNotNull attributes in SharedAudioSystem
  RELEASE-NOTES.md
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix another test
  Robust.UnitTesting/Shared/GameObjects/EntityState_Tests.cs
Owners: @PJB3005, @DrSmugleaf

Remove incorrect NotNullIfNotNull attributes in SharedAudioSystem (#5449)
  RELEASE-NOTES.md
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Stop empty audio system filters from playing sounds for all players (#5444)
  RELEASE-NOTES.md
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix DistanceJoints drawn by physics debug system (#5439)
  Robust.Client/Debugging/DebugPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf

Completely obsolete noSpawn (#5364)
  Robust.Shared/Prototypes/EntityPrototype.cs
  Robust.Shared/Prototypes/PrototypeManager.Categories.cs
Owners: @PJB3005, @DrSmugleaf

Transform precision thing
  Robust.Shared/Physics/Transform.cs
Owners: @metalgearsloth

Transform precision thing (#5451)
  Robust.Shared/Physics/Transform.cs
Owners: @metalgearsloth

Version: 235.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix ResPath CanonPath
  Robust.Server/ServerOptions.cs
  Robust.Shared/ContentPack/ModLoader.cs
  Robust.Shared/Utility/ResPath.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioManager.cs
  Robust.Client/Audio/AudioStream.cs
  Robust.Client/Audio/HeadlessAudioManager.cs
  Robust.Client/Audio/IAudioInternal.cs
  Robust.Client/Audio/IAudioManager.cs
  Robust.Client/Audio/Sources/AudioSource.cs
  Robust.Client/ClientIoC.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Map/ClydeTileDefinitionManager.cs
  Robust.Client/Prototypes/ClientPrototypeManager.cs
  Robust.Client/ResourceManagement/ResourceTypes/AudioResource.cs
  Robust.Client/Utility/ReloadManager.cs
  Robust.Server/ServerOptions.cs
  Robust.Shared/ContentPack/ModLoader.cs
  Robust.Shared/Map/ITileDefinition.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Utility/IReloadManager.cs
  Robust.Shared/Utility/ResPath.cs
Owners: @PJB3005, @DrSmugleaf

change
  Robust.Client/Graphics/Clyde/Clyde.cs
Owners: @PJB3005, @DrSmugleaf

more work
  Robust.Shared.Maths/MathHelper.cs
  Robust.Shared.Maths/Vector2Helpers.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Review
  Robust.Client/ClientIoC.cs
  Robust.Client/HWId/BasicHWId.cs
  Robust.Client/HWId/BasicHWid.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Network/IHWId.cs
  Robust.Shared/Network/NetManager.ServerAuth.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/GameObjects/EntityState_Tests.cs
Owners: @PJB3005, @DrSmugleaf

More ports
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
Owners: @metalgearsloth

the big house
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
Owners: @metalgearsloth

Thanks Rider
  Robust.Shared/Robust.Shared.csproj
Owners: @PJB3005, @DrSmugleaf

Fix ICommonSession.Ping
  RELEASE-NOTES.md
  Robust.Client/Player/PlayerManager.cs
  Robust.Server/Player/PlayerManager.cs
  Robust.Shared/GameStates/SessionState.cs
  Robust.Shared/Network/Messages/MsgPlayerList.cs
  Robust.Shared/Player/CommonSession.cs
  Robust.Shared/Player/ICommonSession.cs
  Robust.Shared/Player/SharedPlayerManager.State.cs
Owners: @PJB3005, @DrSmugleaf

Fix ICommonSession.Ping (#5453)
  RELEASE-NOTES.md
  Robust.Client/Player/PlayerManager.cs
  Robust.Server/Player/PlayerManager.cs
  Robust.Shared/GameStates/SessionState.cs
  Robust.Shared/Network/Messages/MsgPlayerList.cs
  Robust.Shared/Player/CommonSession.cs
  Robust.Shared/Player/ICommonSession.cs
  Robust.Shared/Player/SharedPlayerManager.State.cs
Owners: @PJB3005, @DrSmugleaf

Try improve PVS exception tolerance a bit more
  Robust.Server/GameStates/PvsChunk.cs
  Robust.Server/GameStates/PvsSystem.Chunks.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Add ProtoId parser to Toolshed (#5220)
  Robust.Shared/Toolshed/TypeParsers/ProtoIdTypeParser.cs
Owners: @moonheart08

shorten hint string
  Robust.Shared/Toolshed/Syntax/IVariableParser.cs
Owners: @moonheart08

rays
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
Owners: @metalgearsloth

Fix tabcontainer click detection when UIScale was not == 1.0
  Robust.Client/UserInterface/Controls/TabContainer.cs
Owners: @PJB3005, @DrSmugleaf

Remove whitespace
  Robust.Client/UserInterface/Controls/TabContainer.cs
Owners: @PJB3005, @DrSmugleaf

Fix TabContainer click detection when UIScale was not == 1.0 (#5456)
  Robust.Client/UserInterface/Controls/TabContainer.cs
Owners: @PJB3005, @DrSmugleaf

AudioComponents can now set volume on client side
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make shared compstates copy cloneable types
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Obsolete some static `Loc` methods
  Robust.Shared/Localization/Loc.cs
Owners: @PJB3005, @DrSmugleaf

Make `EnsureEntityDictionary` use `TryAdd`
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntityManager.Network.cs
Owners: @PJB3005, @DrSmugleaf

builds
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
  Robust.Shared/Physics/Transform.cs
Owners: @metalgearsloth

Janky not working raycasts
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Transform.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Fix GJK
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Transform.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Test fixes
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Try improve PVS exception tolerance a bit more (#5454)
  Robust.Server/GameStates/PvsChunk.cs
  Robust.Server/GameStates/PvsSystem.Chunks.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Shapecast + fixes
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Make EnsureEntityDictionary use TryAdd (#5461)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntityManager.Network.cs
Owners: @PJB3005, @DrSmugleaf

Obsolete some static localization methods (#5460)
  Robust.Shared/Localization/Loc.cs
Owners: @PJB3005, @DrSmugleaf

Activate XAML hot reload on file rename (for VS support) (#5429)
  Robust.Client/UserInterface/XAML/Proxy/XamlHotReloadManager.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
