Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Un-hardcode `EntitySpawnWindow`'s placement mode dropdown (#5994)
  Robust.Client/Placement/IPlacementManager.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/Controllers/Implementations/EntitySpawningUIController.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

refactor: spell out ValueTuple arities
  Robust.Client/ViewVariables/Editors/VVPropEditorTuple.cs
Owners: @PJB3005, @DrSmugleaf

feat: Add VV editor for tuples (#6065)
  RELEASE-NOTES.md
  Robust.Client/ViewVariables/Editors/VVPropEditorTuple.cs
  Robust.Client/ViewVariables/ViewVariableControlFactory.cs
  Robust.Server/ViewVariables/ViewVariablesSession.cs
  Robust.Server/ViewVariables/ViewVariablesTrait.cs
  Robust.Shared/ViewVariables/ViewVariablesBlob.cs
  Robust.Shared/ViewVariables/ViewVariablesMemberSelector.cs
Owners: @PJB3005, @DrSmugleaf

Add a Select button to ProtoId VV editor
  Resources/Locale/en-US/view-variables.ftl
  Robust.Client/ViewVariables/Editors/VVPropEditorProtoId.cs
Owners: @PJB3005, @DrSmugleaf

împrove ScaleVisuals
  Resources/Locale/en-US/commands.ftl
  Robust.Client/GameObjects/EntitySystems/ScaleVisualsSystem.cs
  Robust.Server/Console/Commands/ScaleCommand.cs
  Robust.Server/GameObjects/EntitySystems/ScaleVisualsSystem.cs
  Robust.Shared/GameObjects/Components/Appearance/ScaleVisualsComponent.cs
  Robust.Shared/GameObjects/Systems/SharedScaleVisualsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Allow AutoNetworkedField to work with inherited datafields (#6090)
  Robust.Roslyn.Shared/TypeSymbolHelper.cs
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.UnitTesting/Shared/GameState/AutoNetworkingTest.cs
Owners: @PJB3005, @DrSmugleaf

Changelog
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix ftl string name
  Resources/Locale/en-US/view-variables.ftl
  Robust.Client/ViewVariables/Editors/VVPropEditorProtoId.cs
Owners: @PJB3005, @DrSmugleaf

Update release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 265.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Update XamlIL.targets
  MSBuild/XamlIL.targets
Owners: @PJB3005, @DrSmugleaf

Make control left-aligned when no label text
  Robust.Client/UserInterface/Controls/ToggleSwitch.cs
Owners: @PJB3005, @DrSmugleaf

De-ref GetWeakReference methods
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Improve switch button class name, remove old unimplemented switch button class
  Robust.Client/UserInterface/Controls/CheckButton.cs
  Robust.Client/UserInterface/Controls/SwitchButton.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

Put back CheckButton.cs because old game versions exist
  Robust.Client/UserInterface/Controls/CheckButton.cs
Owners: @PJB3005, @DrSmugleaf

toolshedify
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Server/Console/Commands/ScaleCommand.cs
  Robust.Shared/Toolshed/Commands/Misc/ScaleCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

fix
  Robust.Shared/Toolshed/Commands/Misc/ScaleCommand.cs
Owners: @moonheart08

Use _gridQuery
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

Fix color naming crash
  Resources/Locale/en-US/color-naming.ftl
  Robust.Shared/ColorNaming/ColorNaming.cs
Owners: @PJB3005, @DrSmugleaf

Make switch button textures easier to change in stylesheets
  Robust.Client/UserInterface/Controls/SwitchButton.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

remove redundant code
  Robust.Shared/Toolshed/Commands/Misc/ScaleCommand.cs
Owners: @moonheart08

fuck
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Entities/World/GridGetCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

reorder this for no reason in particular
  Resources/Locale/en-US/toolshed-commands.ftl
Owners: @PJB3005, @DrSmugleaf

Make AssetPassPackRsis not crap out due to ImageSharp errors.
  Robust.Packaging/AssetProcessing/Passes/AssetPassPackRsis.cs
Owners: @PJB3005, @DrSmugleaf

Make prototype load ignore documents with empty values
  Robust.Shared/Prototypes/PrototypeManager.YamlLoad.cs
Owners: @PJB3005, @DrSmugleaf

Add asset pass to merge text files in directories.
  Robust.Packaging/AssetProcessing/AssetPass.cs
  Robust.Packaging/AssetProcessing/Passes/AssetPassMergeTextDirectories.cs
  Robust.UnitTesting/Packaging/AssetPassMergeTextDirectoriesTest.cs
  Robust.UnitTesting/Packaging/AssetPassTest.cs
  Robust.UnitTesting/Packaging/AssetPassTestCollector.cs
  Robust.UnitTesting/Packaging/PackageLoggerNUnit.cs
Owners: @PJB3005, @DrSmugleaf

Add new text file merge asset pass to RobustClientAssetGraph
  Robust.Packaging/RobustClientAssetGraph.cs
Owners: @PJB3005, @DrSmugleaf

Make .rsic packing in asset packaging work
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
  Robust.Packaging/AssetProcessing/Passes/AssetPassPackRsis.cs
  Robust.Shared/Resources/RsiLoading.cs
Owners: @PJB3005, @DrSmugleaf

Enable RSI packing pass in RobustClientAssetGraph
  Robust.Packaging/RobustClientAssetGraph.cs
Owners: @PJB3005, @DrSmugleaf

Update MidiRenderer to use TryNoteOn and TryNoteOff
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Update OpenTK and OpenTK.Audio.OpenAL to latest
  Directory.Packages.props
  Robust.Client/Audio/AudioManager.cs
  Robust.Client/Audio/AudioSystem.Effects.cs
  Robust.Client/Audio/Effects/AudioEffect.cs
  Robust.Client/Audio/Effects/AuxiliaryAudio.cs
  Robust.Client/Audio/Sources/AudioSource.cs
  Robust.Client/Audio/Sources/BaseAudioSource.cs
  Robust.Client/Audio/Sources/BufferedAudioSource.cs
  Robust.Client/Robust.Client.csproj
Owners: @PJB3005, @DrSmugleaf

feat: add IConfigurationManager.TrySaveToFile
  RELEASE-NOTES.md
  Robust.Shared/Configuration/ConfigurationManager.cs
  Robust.Shared/Configuration/IConfigurationManager.cs
Owners: @PJB3005, @DrSmugleaf

Add tests for immutable dicts and sets
  Robust.UnitTesting/Shared/Serialization/NetSerializer_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add ImmutableArrayExtensions All to sandbox.yml
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add ImmutableArrayExtensions All to sandbox.yml (#6110)
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Fix RSI preloading with .rsic files
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
Owners: @PJB3005, @DrSmugleaf

Add tests for immutable dicts and sets (#6109)
  Robust.UnitTesting/Shared/Serialization/NetSerializer_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add WeakEntityReference (#5577)
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.Network.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.cs
  Robust.Shared/GameObjects/WeakEntityReference.cs
  Robust.Shared/Prototypes/EntProtoId.cs
  Robust.Shared/Prototypes/ProtoId.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
  Robust.Shared/Serialization/Manager/Exceptions/CopyToFailedException.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/WeakEntityReferenceSerializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
  Robust.UnitTesting/Shared/EntitySerialization/WeakEntityReferenceTest.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Add WeakEntityReference (#5577)"
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.Network.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.cs
  Robust.Shared/GameObjects/WeakEntityReference.cs
  Robust.Shared/Prototypes/EntProtoId.cs
  Robust.Shared/Prototypes/ProtoId.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
  Robust.Shared/Serialization/Manager/Exceptions/CopyToFailedException.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/WeakEntityReferenceSerializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
  Robust.UnitTesting/Shared/EntitySerialization/WeakEntityReferenceTest.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Add WeakEntityReference (#5577)" (#6112)
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.Network.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.cs
  Robust.Shared/GameObjects/WeakEntityReference.cs
  Robust.Shared/Prototypes/EntProtoId.cs
  Robust.Shared/Prototypes/ProtoId.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
  Robust.Shared/Serialization/Manager/Exceptions/CopyToFailedException.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/WeakEntityReferenceSerializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
  Robust.UnitTesting/Shared/EntitySerialization/WeakEntityReferenceTest.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
