Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Create SetAnchor method
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Return bool
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Bump physics speed cap (#5667)
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Add more info to AnchorEntity debug assert
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Avoid unnecessary UpdateState calls for BUIs
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Avoid unnecessary UpdateState calls for BUIs (#5670)
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Check equatable on client-predicted BUI states
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Check equatable on client-predicted BUI states (#5671)
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix
  Robust.Shared/Prototypes/MultiRootInheritanceGraph.cs
  Robust.UnitTesting/Shared/Prototypes/MultiRootGraphTest.cs
Owners: @PJB3005, @DrSmugleaf

Version: 244.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Move `ParseObject` method into a public class for content to use
  Robust.Shared/Configuration/ConfigurationCommands.cs
Owners: @moonheart08

i ran out of funny commit messages
  Robust.Shared/Containers/SharedContainerSystem.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

no more
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
Owners: @PJB3005, @DrSmugleaf

no more (#5676)
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
Owners: @PJB3005, @DrSmugleaf

.0
  Resources/Shaders/Internal/light_shared.swsl
  Resources/Shaders/Internal/normal-rotator.swsl
Owners: @PJB3005, @DrSmugleaf

This is better!
  Robust.Shared/Prototypes/MultiRootInheritanceGraph.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Shared/Prototypes/MultiRootInheritanceGraph.cs
  Robust.UnitTesting/Shared/Prototypes/MultiRootGraphTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix MappingDataNode.TryAddCopy()
  RELEASE-NOTES.md
  Robust.Server/Upload/GamePrototypeLoadManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Fix MappingDataNode.TryAddCopy() (#5677)
  RELEASE-NOTES.md
  Robust.Server/Upload/GamePrototypeLoadManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Version: 245.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Move `ParseObject` method into a public class for content to use (#5674)
  Robust.Shared/Configuration/ConfigurationCommands.cs
Owners: @moonheart08

Tweak UserInterfaceComponent shutdown to prevent bugs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

_keys
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Render state fixes
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

Fix stupidity
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
Owners: @PJB3005, @DrSmugleaf

Tweak UserInterfaceComponent shutdown to prevent bugs (#5678)
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

More state render bug fixes
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/Lighting/ILightManager.cs
Owners: @PJB3005, @DrSmugleaf

MapUid on overlay draw
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Overlays/OverlayDrawArgs.cs
  Robust.Shared/Map/Components/MapLightComponent.cs
Owners: @PJB3005, @DrSmugleaf

feat: shaders now can accept array of Color as parameter
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Client/Graphics/Clyde/Clyde.Shaders.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/Clyde/GLObjects/Clyde.ShaderProgram.cs
  Robust.Client/Graphics/Shaders/ParsedShader.cs
  Robust.Client/Graphics/Shaders/ShaderInstance.cs
Owners: @PJB3005, @DrSmugleaf

Remove blur comment
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

Fix merge
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

DynamicParticle
  Robust.Client/GameObjects/EntitySystems/ClientDynamicParticlesSystem.cs
  Robust.Client/GameObjects/EntitySystems/ClientYamlParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
  Robust.Client/Graphics/Particles/ParticlesPrototype.cs
  Robust.Shared/GameObjects/Components/Renderable/DynamicParticlesComponent.cs
Owners: @PJB3005, @DrSmugleaf

helper
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

Remove debug assert
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
Owners: @PJB3005, @DrSmugleaf

Add more info to AnchorEntity debug assert (#5668)
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/IClydeViewport.cs
  Robust.Client/Graphics/Lighting/GetClearColorEvent.cs
Owners: @PJB3005, @DrSmugleaf

fix: fixed EntityPrototypeView not reacting on SetPrototype when EnteredTree already was called with _currentPrototype empty (#5649)
  Robust.Client/UserInterface/Controls/EntityPrototypeView.cs
Owners: @PJB3005, @DrSmugleaf

Increase audio despawn buffer (#5665)
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
Owners: @PJB3005, @DrSmugleaf
