Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Don't disable contacting collisionwake ents
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix SharedTransformSystem methods erroring on failed Resolves (#5787)
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
Owners: @PJB3005, @DrSmugleaf

Add Fluent function for apostrophe-s possessives (thing's vs things')
  Robust.Shared/Localization/LocalizationManager.Functions.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

updated PointLightSystem UpdateVisual to use more modern parameters
  Robust.Client/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Shared/GameObjects/Systems/SharedPointLightSystem.cs
Owners: @PJB3005, @DrSmugleaf

Set position after setting velocity
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Don't disable contacting collisionwake ents (#5798)
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Inline manifold points (#5794)
  Robust.Shared/Physics/Collision/CollisionManager.Circles.cs
  Robust.Shared/Physics/Collision/CollisionManager.EdgeCircle.cs
  Robust.Shared/Physics/Collision/CollisionManager.EdgePolygon.cs
  Robust.Shared/Physics/Collision/CollisionManager.PolygonCircle.cs
  Robust.Shared/Physics/Collision/CollisionManager.Polygons.cs
  Robust.Shared/Physics/Collision/CollisionManager.cs
  Robust.Shared/Physics/Collision/Manifold.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Dynamics/Contacts/ContactPositionConstraint.cs
  Robust.Shared/Physics/Dynamics/Contacts/ContactVelocityConstraint.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Solver.cs
  Robust.Shared/Utility/FixedArray.cs
  Robust.UnitTesting/Shared/Physics/ManifoldManager_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Rename to POSS-NOUN
  Robust.Shared/Localization/LocalizationManager.Functions.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

Move it to be with its friends
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

Edit comment
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

Add SharedContainerSystem.EnumerateContainingContainers
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add autocomplete to tp command (#5795)
  Robust.Shared/Console/Commands/TeleportCommands.cs
Owners: @moonheart08

More obvious name
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Review
  Resources/Locale/en-US/commands.ftl
  Robust.Client/Console/Commands/LocalizationCommands.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/Loc.cs
  Robust.Shared/Localization/LocalizationManager.cs
  Robust.Shared/Utility/CultureInfoExtension.cs
  Robust.Shared/Utility/CultureInfoHelper.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add Loc property to LocalizedCommands
  Robust.Shared/Console/LocalizedCommands.cs
Owners: @moonheart08

Revert "Add Loc property to LocalizedCommands"
  Robust.Shared/Console/LocalizedCommands.cs
Owners: @moonheart08

Update to arch modern
  Robust.Shared/GameObjects/ChunkIterator.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntityUid.cs
Owners: @PJB3005, @DrSmugleaf

Fix that tryget
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Command fixes
  Resources/Locale/en-US/commands.ftl
  Robust.Client/Console/Commands/LocalizationCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Added separate localization & clean up (#5227)
  Resources/Locale/en-US/commands.ftl
  Robust.Client/Console/Commands/LocalizationCommands.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.cs
  Robust.Shared/Utility/CultureInfoExtension.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add an AudioParams.AddVariation() function akin to AddVolume()
  Robust.Shared/Audio/AudioParams.cs
Owners: @PJB3005, @DrSmugleaf

Make EntitySystem.Subscriptions.SubscribeLocalEvent not require EntityEventArgs
  Robust.Shared/GameObjects/EntitySystem.Subscriptions.cs
Owners: @PJB3005, @DrSmugleaf

Show entity name in "physics shapeinfo" output
  Robust.Client/Debugging/DebugPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add logging about tile atlas build time
  Robust.Client/Map/ClydeTileDefinitionManager.cs
Owners: @PJB3005, @DrSmugleaf

Don't over-allocate edge tile region array
  Robust.Client/Map/ClydeTileDefinitionManager.cs
Owners: @PJB3005, @DrSmugleaf

reh
  Robust.Benchmarks/Arch/ArchComponentAccessBenchmark.cs
  Robust.Benchmarks/EntityManager/HasComponentBenchmark.cs
  Robust.Benchmarks/Robust.Benchmarks.csproj
  Robust.Client/Audio/IAudioInternal.cs
  Robust.Client/Audio/Sources/AudioSource.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Client/GameStates/GameStateProcessor.cs
  Robust.Shared/GameObjects/EntityIterator.cs
  Robust.Shared/GameObjects/EntityManager.Arch.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityUid.cs
  Robust.Shared/IoC/IoCManager.cs
  Robust.Shared/Robust.Shared.csproj
  Robust.UnitTesting/Server/GameObjects/ArchTests.cs
  Robust.UnitTesting/Shared/Spawning/EntitySpawnHelpersTest.cs
Owners: @PJB3005, @DrSmugleaf

Add DirectionExtensions.AllDirections
  RELEASE-NOTES.md
  Robust.Shared.Maths/Direction.cs
Owners: @PJB3005, @DrSmugleaf

Clean up iteration in ClydeTileDefinitionManager
  Robust.Client/Map/ClydeTileDefinitionManager.cs
Owners: @PJB3005, @DrSmugleaf

Don't stackalloc large chunk edge buffers, other code cleanup.
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
Owners: @PJB3005, @DrSmugleaf

More release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Refactor TileEdgeOverlay (#5295)
  RELEASE-NOTES.md
  Robust.Client/GameObjects/EntitySystems/MapSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Map/ClydeTileDefinitionManager.cs
  Robust.Client/Map/IClydeTileDefinitionManager.cs
  Robust.Client/Map/TileEdgeOverlay.cs
  Robust.Shared.Maths/Direction.cs
  Robust.Shared/Map/TileDefinitionManager.cs
Owners: @PJB3005, @DrSmugleaf

Check for null and set default value if null, switch to scaling multiplier instead of linear addition.
  Robust.Shared/Audio/AudioParams.cs
Owners: @PJB3005, @DrSmugleaf

Add ForbidLiteral attribute, analyzer, and test
  Robust.Analyzers.Tests/ForbidLiteralAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ForbidLiteralAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ForbidLiteralAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Removed unused code
  Robust.Analyzers/ForbidLiteralAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Switch order of methods. It's better this way.
  Robust.Analyzers/ForbidLiteralAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Add linear/angular velocity conservation tests
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @PJB3005, @DrSmugleaf

test cleanup, albeit with failures
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @PJB3005, @DrSmugleaf

teardown map per test, minor cleanup
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @PJB3005, @DrSmugleaf

less jank
  Robust.Shared/Utility/FormattedMessage.cs
Owners: @PJB3005, @DrSmugleaf

flick impl.
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Server/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Shared/Animations/SharedAnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf
