Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Nicer UI for the rotation
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
Owners: @PJB3005, @DrSmugleaf

Version: 248.0.1
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Create unit tests Creates a bunch of unit tests for the GenIdStorage Also makes the invalid key value explicitly use the invalid SENTINEL index
  Robust.Shared/Collections/GenIdStorage.cs
  Robust.UnitTesting/Shared/Collections/GenIdStorage_Test.cs
Owners: @PJB3005, @DrSmugleaf

Don't throw on invalid MapUids for overlays
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

Reduce EntityManager.IsDefault allocations
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Adjust this order
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Reduce EntityManager.IsDefault allocations (#5741)
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Don't throw on invalid MapUids for overlays (#5740)
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

Version: 248.0.2
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Replace deprecated mapManager methods with the mapSystem API
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Shared/Console/Commands/MapCommands.cs
  Robust.Shared/Console/Commands/TeleportCommands.cs
  Robust.Shared/Map/Commands/AmbientLightCommand.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.UnitTesting/Server/GameObjects/ComponentMapInitTest.cs
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
  Robust.UnitTesting/Shared/GameObjects/IEntityManagerTests.cs
  Robust.UnitTesting/Shared/Map/MapManager_Tests.cs
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
  Robust.UnitTesting/Shared/Physics/Collision_Test.cs
  Robust.UnitTesting/Shared/Physics/Fixtures_Test.cs
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
  Robust.UnitTesting/Shared/Spawning/SpawnInContainerOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnNextToOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnInContainerTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnNextToTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Oops. Uncomment parallelizable.
  Robust.Analyzers.Tests/PrototypeAnalyzerTest.cs
Owners: @PJB3005, @DrSmugleaf

Rework to ignore redundancy for non-literal string values
  Robust.Analyzers.Tests/PrototypeAnalyzerTest.cs
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Remove warning suppression on AudioMetadataPrototype
  Robust.Shared/Audio/AudioMetadataPrototype.cs
Owners: @PJB3005, @DrSmugleaf

But wait, there's more!
  Robust.Client/Graphics/Shaders/ShaderPrototype.cs
  Robust.Client/UserInterface/RichText/FontPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Allow redundancy when removal would expose class name not ending in "Prototype"
  Robust.Analyzers.Tests/PrototypeAnalyzerTest.cs
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Promote PrototypeEndsWithPrototypeRule from warning to error, since it causes a runtime error.
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

HasIndex
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Remove HasMapping checks
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
Owners: @PJB3005, @DrSmugleaf

No need to get the symbol to get the class identifier
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Update Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

Fix BoxContainer stretching causing controls to be made too small
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/BoxContainer.cs
  Robust.UnitTesting/Client/UserInterface/Controls/BoxContainerTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix light Aabb query
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

Fix light Aabb query (#5744)
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

Add UpdateVisibilityMask method
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Update resolve
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Update name in line with normal.
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Unserialize this
  Robust.Shared/GameObjects/Components/Eye/VisibilityComponent.cs
Owners: @PJB3005, @DrSmugleaf

weh
  Robust.Shared/GameObjects/Components/Eye/VisibilityComponent.cs
Owners: @PJB3005, @DrSmugleaf

fix???
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

add no derivatives licenses to rga validation
  Schemas/rga_validators.py
Owners: @PJB3005, @DrSmugleaf

fix
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Add button to jump to live chat when scrolled up
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Attribute, Analyzer, and Test
  Robust.Analyzers.Tests/RequiresAttributeAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/RequiresAttributeAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/RequiresAttributeAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Require NetworkedComponent on Dirty methods
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Credit where credit is due
  Robust.Analyzers/RequiresAttributeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

FastPoly
  Robust.Shared/Map/MapManager.Queries.cs
  Robust.Shared/Physics/Collision/CollisionManager.Overlap.cs
  Robust.Shared/Physics/Shapes/FastPolygon.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Pool.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Review fixes (also seemed to have missed applying the serialization reading oops)
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
  Robust.Server/Placement/PlacementManager.cs
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
  Robust.Shared/Map/Tile.cs
Owners: @PJB3005, @DrSmugleaf

One less byte, one less struct size!
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Pretty sure it goes here too
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Added a field for the animation player component to the animation completion event
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf
