Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix resource loading on non-Windows platforms (#6201)
  Robust.Shared/ContentPack/PathHelpers.cs
Owners: @PJB3005, @DrSmugleaf

Version: 203.0.6
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix resource loading on non-Windows platforms (#6201)
  Robust.Shared/ContentPack/PathHelpers.cs
Owners: @PJB3005, @DrSmugleaf

Fix resource loading on non-Windows platforms (#6201)
  Robust.Shared/ContentPack/PathHelpers.cs
Owners: @PJB3005, @DrSmugleaf

Version: 156.0.7
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 0.85.1.6
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix resource loading on non-Windows platforms (#6201)
  Robust.Shared/ContentPack/PathHelpers.cs
Owners: @PJB3005, @DrSmugleaf

Allow component trees to be disabled
  Robust.Client/ComponentTrees/LightTreeSystem.cs
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

forgot
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

I'm pretty sure this wasn't working as intended
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

also outdated
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

reduce branches in QueueTreeUpdate
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

remove update hashset
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

try fix
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/ComponentTrees/IComponentTreeComponent.cs
Owners: @PJB3005, @DrSmugleaf

Addressed changes
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Try improve recursive component trees
  Robust.Client/ComponentTrees/LightTreeSystem.cs
  Robust.Client/ComponentTrees/SpriteTreeSystem.cs
  Robust.Client/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.cs
  Robust.Server/GameObjects/EntitySystems/ServerOccluderSystem.cs
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/ComponentTrees/RecursiveMoveSystem.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.Shared/GameObjects/EntitySystemMessages/EntParentChangedMessage.cs
  Robust.Shared/GameObjects/Systems/MetaDataSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.Shared/Utility/FlatTree.cs
Owners: @PJB3005, @DrSmugleaf

Add generic debug overlay & command
  Robust.Client/Debugging/OverlayCommand.cs
  Robust.Client/Debugging/Overlays/TileDebugOverlay.cs
  Robust.Shared/Toolshed/TypeParsers/ReflectionTypeParser.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

fix
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/TypeParsers/ReflectionTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix overlays
  Robust.Client/Debugging/OverlayCommand.cs
  Robust.Client/Debugging/Overlays/TileDebugOverlay.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

a
  Resources/Locale/en-US/commands.ftl
Owners: @PJB3005, @DrSmugleaf

comments
  Robust.Client/Debugging/Overlays/TileDebugOverlay.cs
  Robust.Shared/Toolshed/TypeParsers/ReflectionTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Dirty arrange when performing measure
  Robust.Client/UserInterface/Control.Layout.cs
Owners: @PJB3005, @DrSmugleaf

Use Entity<T> and add ray overloads
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/Physics/ComponentTreeEntry.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix typo
  Robust.UnitTesting/Client/UserInterface/Controls/LayoutContainerTest.cs
Owners: @PJB3005, @DrSmugleaf

Run Arrange if we performed a Measure
  Robust.Client/UserInterface/Control.Layout.cs
Owners: @PJB3005, @DrSmugleaf

Move InRangeUnoccluded to engine
  Robust.Shared/GameObjects/Systems/OccluderSystem.cs
Owners: @PJB3005, @DrSmugleaf

remove colors
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

remove outdated vsync functions
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Silly me xD
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

What I get for trying to be clever... ;(
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Better seconds display
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

you have made a grave mistake
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Keys.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Key.cs
  Robust.Client/Input/InputDevices.cs
Owners: @PJB3005, @DrSmugleaf

respath
  Robust.Shared/Replays/IReplayRecordingManager.cs
  Robust.Shared/Replays/SharedReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

comment
  Robust.Shared/Replays/IReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

Simplify drawing logic + it looks better
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
  Robust.Shared/ContentPack/ResourceManifestData.cs
Owners: @PJB3005, @DrSmugleaf

Add layer field, set auto animated
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Component.cs
  Robust.Shared/GameObjects/Components/Renderable/SpriteLayerData.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

SpriteComponent: allow animations to optionally stop instead of looping (#6210)
  RELEASE-NOTES.md
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Component.cs
  Robust.Shared/GameObjects/Components/Renderable/SpriteLayerData.cs
Owners: @PJB3005, @DrSmugleaf

Give access to attributes
  Robust.Shared/Console/ConsoleHost.cs
Owners: @PJB3005, @DrSmugleaf

Add GetCustomAttributes helper
  Robust.Shared/Utility/TypeHelpers.cs
Owners: @PJB3005, @DrSmugleaf
