Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Add no derivatives licenses to rga validation (#5749)
  Schemas/rga_validators.py
Owners: @PJB3005, @DrSmugleaf

This
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

delete fix
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

cats
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Entity spawn prediction v1 (#5841)
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Components/PredictedSpawnComponent.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Version: 254.1.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Add "obsolete inheritance" analyzer
  Robust.Analyzers.Tests/ObsoleteInheritanceAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ObsoleteInheritanceAnalyzer.cs
  Robust.Client/UserInterface/UIConstants.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ObsoleteInheritanceAttribute.cs
  Robust.Shared/Analyzers/VirtualAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Add "obsolete inheritance" analyzer (#5858)
  Robust.Analyzers.Tests/ObsoleteInheritanceAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ObsoleteInheritanceAnalyzer.cs
  Robust.Client/UserInterface/UIConstants.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ObsoleteInheritanceAttribute.cs
  Robust.Shared/Analyzers/VirtualAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Add nullable PredictedDel overloads
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

timespanserializer cleanup
  Robust.Shared/Serialization/TypeSerializers/Implementations/TimespanSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Add nullable PredictedDel overloads (#5859)
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Update container log warning for pred spawns
  Robust.Shared/Containers/ContainerSlot.cs
Owners: @PJB3005, @DrSmugleaf

Update container log warning for pred spawns (#5860)
  Robust.Shared/Containers/ContainerSlot.cs
Owners: @PJB3005, @DrSmugleaf

Enable client-side toolshed commands
  RELEASE-NOTES.md
  Resources/Locale/en-US/commands.ftl
  Robust.Client/ClientIoC.cs
  Robust.Client/Console/ClientConGroupController.cs
  Robust.Client/Console/ClientConsoleHost.Completions.cs
  Robust.Client/Console/ClientConsoleHost.cs
  Robust.Client/Console/IClientConsoleHost.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Log/DebugConsoleLogHandler.cs
  Robust.Server/BaseServer.cs
  Robust.Server/Console/IServerConsoleHost.cs
  Robust.Server/Console/ServerConsoleHost.cs
  Robust.Server/Physics/GridFixtureSystem.cs
  Robust.Server/Prototypes/ServerPrototypeManager.cs
  Robust.Server/Scripting/ScriptHost.cs
  Robust.Server/Upload/GamePrototypeLoadManager.cs
  Robust.Server/Upload/NetworkResourceManager.cs
  Robust.Server/ViewVariables/ServerViewVariablesManager.cs
  Robust.Shared/Console/ConGroupController.cs
  Robust.Shared/Console/ConsoleHost.cs
  Robust.Shared/Console/EntityConsoleHost.cs
  Robust.Shared/Console/IConGroupController.cs
  Robust.Shared/Console/IConGroupControllerImplementation.cs
  Robust.Shared/Console/IConsoleHost.cs
  Robust.Shared/Console/IConsoleShell.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/Network/Messages/MsgConCmdAck.cs
  Robust.Shared/Toolshed/Errors/IConError.cs
  Robust.Shared/Toolshed/Syntax/ParsedCommand.cs
  Robust.Shared/Toolshed/Syntax/ParserContext.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
  Robust.Shared/Toolshed/ToolshedManager.Permissions.cs
  Robust.Shared/Toolshed/ToolshedManager.cs
  Robust.Shared/Toolshed/ToolshedProxyCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Cleanup
  Robust.Client/Console/ClientConsoleHost.cs
  Robust.Shared/Console/ConsoleHost.cs
  Robust.Shared/Console/IConsoleHost.cs
  Robust.Shared/Toolshed/Errors/IConError.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Makes ItemList not run deselection callback on all list items
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

I cannot be expected to do things intelligently at 2a
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

comments
  RELEASE-NOTES.md
  Robust.Shared/Toolshed/Syntax/ValueRef.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

There was an attempt
  Robust.Client/Robust.Client.csproj
  Robust.Server/Robust.Server.csproj
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

Deep-copy fixtures on client
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @metalgearsloth

I love test IoC
  Robust.UnitTesting/RobustUnitTest.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
Owners: @PJB3005, @DrSmugleaf

Deep-copy fixtures on client (#5863)
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @metalgearsloth

Classes
  Robust.Server/GameStates/PvsSystem.Ack.cs
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Threading/IParallelRobustJob.cs
  Robust.Shared/Threading/IRobustJob.cs
  Robust.Shared/Threading/ParallelManager.cs
  Robust.Shared/Threading/RobustJob.cs
  Robust.UnitTesting/TestingParallelManager.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

changes
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

pvs
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
Owners: @PJB3005, @DrSmugleaf

Add autocomplete to scale command
  Robust.Server/Console/Commands/ScaleCommand.cs
Owners: @moonheart08

string reading
  Robust.Shared/Serialization/TypeSerializers/Implementations/TimespanSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Also the scale
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/ScaleCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

this
  Robust.Server/Console/Commands/ScaleCommand.cs
Owners: @moonheart08

Add autocomplete to scale command (#5864)
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/ScaleCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

good language, great language even
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

replace IsMap and IsGrid calls with HasComp
  Robust.Server/Physics/GridFixtureSystem.cs
  Robust.Shared/ComponentTrees/RecursiveMoveSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

high speed, low drag
  Robust.Shared/Serialization/TypeSerializers/Implementations/TimespanSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Optimize local usage.
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

Replace Logger.Error calls with sawmill
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Fix failing test by caching the LogManagerSingleton
  Robust.Shared/Log/Logger.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused using
  Robust.Shared/Log/Logger.cs
Owners: @PJB3005, @DrSmugleaf

Actually it only passed on local in isolation
  Robust.Shared/Log/Logger.cs
Owners: @PJB3005, @DrSmugleaf

Don't like this
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Sharpening shader
  Resources/Shaders/sharpening.swsl
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.Shaders.cs
  Robust.Client/Graphics/Clyde/Clyde.Viewport.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf
