Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Purge PhysicsMapComponent (#5766)
  Robust.Client/Physics/DebugPhysicsIslandSystem.cs
  Robust.Client/Physics/PhysicsSystem.Predict.cs
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Server/Physics/Commands/BoxStackCommand.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Map.cs
  Robust.Shared/Map/Components/MovedGridsComponent.cs
  Robust.Shared/Physics/Components/Gravity2DComponent.cs
  Robust.Shared/Physics/Components/PhysicsComponent.Physics.cs
  Robust.Shared/Physics/Controllers/Gravity2DController.cs
  Robust.Shared/Physics/Controllers/VirtualController.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Dynamics/FixtureProxy.cs
  Robust.Shared/Physics/Dynamics/PhysicsMapComponent.cs
  Robust.Shared/Physics/IslandSolveMessage.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Map.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Shapes.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/RobustUnitTest.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/Physics/BroadphaseNetworkingTest.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/JointDeletion_Test.cs
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
  Robust.UnitTesting/Shared/Physics/RecursiveUpdateTest.cs
  Robust.UnitTesting/Shared/Physics/Stack_Test.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Update contact xform usage
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Cleanup warning in `SpriteBoundsOverlay` (#5944)
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
Owners: @PJB3005, @DrSmugleaf

Update contact xform usage (#5977)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Version: 261.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix physics forces not autoclearing
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @metalgearsloth

Changes
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Fix physics forces not autoclearing (#5978)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Automatic Sawmill generation for UIControllers (#5967)
  Robust.Client/UserInterface/Controllers/UIController.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup most warnings in unit tests (#5946)
  Robust.UnitTesting/Shared/GameObjects/EntityEventBusTests.ComponentEvent.cs
  Robust.UnitTesting/Shared/Map/MapGridMap_Tests.cs
  Robust.UnitTesting/Shared/Map/MapManager_Tests.cs
  Robust.UnitTesting/Shared/Map/MapPauseTests.cs
  Robust.UnitTesting/Shared/Maths/Color_Test.cs
  Robust.UnitTesting/Shared/Networking/NetDisconnectMessageTest.cs
  Robust.UnitTesting/Shared/Physics/Collision_Test.cs
  Robust.UnitTesting/Shared/Physics/GridDeletion_Test.cs
  Robust.UnitTesting/Shared/Physics/JointDeletion_Test.cs
  Robust.UnitTesting/Shared/Physics/MapVelocity_Test.cs
Owners: @PJB3005, @DrSmugleaf

Version: 261.1.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Implement IEquatable for ResolvedPathSpecifier and ResolvedCollectionSpecifier
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
Owners: @PJB3005, @DrSmugleaf

Defer grid state handling TileChangedEvent
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

Remove ITileDefinition.ID
  Robust.Shared/Map/ITileDefinition.cs
Owners: @PJB3005, @DrSmugleaf

Defer grid state handling TileChangedEvent (#5981)
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

fix static grid center of mass
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @metalgearsloth

fix static grid center of mass (#5985)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @metalgearsloth

Fix all warnings from Dispose on Controls
  Robust.Client/UserInterface/Control.cs
  Robust.Client/UserInterface/Controls/BaseButton.cs
  Robust.Client/UserInterface/Controls/SpinBox.cs
  Robust.Client/UserInterface/Controls/VerticalTabContainer.xaml.cs
  Robust.Client/UserInterface/CustomControls/DefaultWindow.xaml.cs
  Robust.Client/UserInterface/UserInterfaceManager.Windows.cs
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
  Robust.Client/ViewVariables/Editors/VVPropEditorIPrototype.cs
  Robust.Client/ViewVariables/Instances/ViewVariablesInstanceEntity.cs
Owners: @PJB3005, @DrSmugleaf

added new snapping option for entity placement
  Robust.Client/Placement/Modes/AlignWallSigns.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

remove ResetMassData call from SetFixedRotation
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @metalgearsloth

changed offsets to be pixel-snapped
  Robust.Client/Placement/Modes/AlignWallSigns.cs
Owners: @PJB3005, @DrSmugleaf

Remove ITileDefinition.ID (#5982)
  Robust.Shared/Map/ITileDefinition.cs
Owners: @PJB3005, @DrSmugleaf

Update some GetComponentName usages (#5942)
  Robust.Server/Placement/PlacementManager.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Implement IEquatable for ResolvedPathSpecifier and ResolvedCollectionSpecifier (#5980)
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
Owners: @PJB3005, @DrSmugleaf

I hate computers
  Resources/EnginePrototypes/ParticleEffects/example.yml
  Robust.Client/Graphics/Overlays/ParticlesOverlay.cs
Owners: @PJB3005, @DrSmugleaf

fix: use maxSizeX instead of Width in rich text entry measure
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

add RSI.StateId Argument
  Robust.Client/Graphics/RSI/RSI.cs
Owners: @PJB3005, @DrSmugleaf

Fix error when using tpto on a grid
  Robust.Shared/Console/Commands/TeleportCommands.cs
Owners: @moonheart08

Calculate map coords outside of loop
  Robust.Shared/Console/Commands/TeleportCommands.cs
Owners: @moonheart08

Correct misleading error message in ShareMapSystem.OnParentChange
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

fix the lifestage checks on predicted entity deletion
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Find PlacementModes by attribute
  Robust.Client/Placement/IPlacementManager.cs
  Robust.Client/Placement/Modes/AlignSimilar.cs
  Robust.Client/Placement/Modes/AlignSnapgridBorder.cs
  Robust.Client/Placement/Modes/AlignSnapgridCenter.cs
  Robust.Client/Placement/Modes/AlignTileAny.cs
  Robust.Client/Placement/Modes/AlignTileDense.cs
  Robust.Client/Placement/Modes/AlignTileEmpty.cs
  Robust.Client/Placement/Modes/AlignTileNonDense.cs
  Robust.Client/Placement/Modes/AlignWall.cs
  Robust.Client/Placement/Modes/AlignWallProper.cs
  Robust.Client/Placement/Modes/PlaceFree.cs
  Robust.Client/Placement/Modes/PlaceNearby.cs
  Robust.Client/Placement/Modes/PlacementModeAttribute.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Let modes specify priority
  Robust.Client/Placement/IPlacementManager.cs
  Robust.Client/Placement/Modes/AlignSimilar.cs
  Robust.Client/Placement/Modes/AlignSnapgridBorder.cs
  Robust.Client/Placement/Modes/AlignSnapgridCenter.cs
  Robust.Client/Placement/Modes/AlignTileAny.cs
  Robust.Client/Placement/Modes/AlignTileDense.cs
  Robust.Client/Placement/Modes/AlignTileEmpty.cs
  Robust.Client/Placement/Modes/AlignTileNonDense.cs
  Robust.Client/Placement/Modes/AlignWall.cs
  Robust.Client/Placement/Modes/AlignWallProper.cs
  Robust.Client/Placement/Modes/PlaceFree.cs
  Robust.Client/Placement/Modes/PlaceNearby.cs
  Robust.Client/Placement/Modes/PlacementModeAttribute.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Make some PlacementManager dependencies public so Content can use them
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Space out the priorities a bit more
  Robust.Client/Placement/Modes/PlacementModeAttribute.cs
Owners: @PJB3005, @DrSmugleaf

xmldoc for attribute
  Robust.Client/Placement/Modes/PlacementModeAttribute.cs
Owners: @PJB3005, @DrSmugleaf

fix TryQueueDelete
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.UnitTesting/Shared/GameObjects/DeferredEntityDeletionTest.cs
Owners: @PJB3005, @DrSmugleaf

fix the lifestage checks on predicted entity deletion (#5993)
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Correct misleading error message in ShareMapSystem.OnParentChange (#5992)
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

fix TryQueueDelete (#5996)
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.UnitTesting/Shared/GameObjects/DeferredEntityDeletionTest.cs
Owners: @PJB3005, @DrSmugleaf
