Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix nameof(TState)
  Robust.Shared/GameObjects/ComponentState.cs
Owners: @PJB3005, @DrSmugleaf

I forgot to generate implicit states
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Client/GameStates/IClientGameStateManager.cs
  Robust.Client/Replays/Playback/ReplayPlaybackManager.Update.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

LayerGetState
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerGetters.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Component.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Layer.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerGetters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerSetters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Specifier.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.cs
  Robust.Client/Utility/SpriteSpecifierExt.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/SpriteSpecifierSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Merge helper partial classes
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Helpers.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Specifier.cs
Owners: @PJB3005, @DrSmugleaf

partial rendering
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Shared/GameObjects/Components/Renderable/SpriteLayerData.cs
Owners: @PJB3005, @DrSmugleaf

GetLayerDirectionCount
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerGetters.cs
Owners: @PJB3005, @DrSmugleaf

Cache local bounds
  Robust.Client/ComponentTrees/SpriteTreeSystem.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Bounds.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Component.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Layer.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerSetters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
Owners: @PJB3005, @DrSmugleaf

RenderLayer
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Helpers.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Client/Placement/PlacementMode.cs
Owners: @PJB3005, @DrSmugleaf

RefreshCachedState
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Bounds.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerSetters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
  Robust.Client/Placement/PlacementMode.cs
Owners: @PJB3005, @DrSmugleaf

RoundToCardinalAngle
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Shared.Maths/Angle.cs
Owners: @PJB3005, @DrSmugleaf

Regex
  Robust.Shared.Maths/Color.cs
Owners: @PJB3005, @DrSmugleaf

Optimize Robust.Serialization.Generator
  Robust.Serialization.Generator/Generator.cs
  Robust.Serialization.Generator/Types.cs
Owners: @PJB3005, @DrSmugleaf

Downgrade VorbisPizza back to 1.3.0
  Directory.Packages.props
Owners: @PJB3005, @DrSmugleaf

Downgrade VorbisPizza back to 1.3.0 (#5607)
  Directory.Packages.props
Owners: @PJB3005, @DrSmugleaf

Release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 239.0.1
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Make DOOM work
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/Clyde/Audio/Clyde.Audio.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClydeAudio.cs
  Robust.Client/Graphics/IClydeAudioSource.cs
  Robust.Client/Graphics/IRenderHandle.cs
  Robust.Client/UserInterface/Control.cs
  Robust.Client/UserInterface/Controls/SpriteView.cs
Owners: @PJB3005, @DrSmugleaf

Tickrate is now a ushort
  Robust.Client/BaseClient.cs
  Robust.Server/BaseServer.cs
  Robust.Shared/Console/CommandBuffer.cs
  Robust.Shared/Timing/GameTiming.cs
  Robust.Shared/Timing/IGameTiming.cs
Owners: @PJB3005, @DrSmugleaf

Fix replay playback bugs (#5604)
  RELEASE-NOTES.md
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Client/GameStates/IClientGameStateManager.cs
  Robust.Client/Replays/Loading/ReplayLoadManager.Start.cs
  Robust.Client/Replays/Playback/ReplayPlaybackManager.Update.cs
  Robust.Shared/GameObjects/ComponentState.cs
Owners: @PJB3005, @DrSmugleaf

Add function to check if localization culture was already loaded. (#5603)
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix autocompletion hint for toolshed strings (#5584)
  RELEASE-NOTES.md
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.Completions.cs
  Robust.Shared/Console/CompletionResult.cs
  Robust.Shared/Toolshed/TypeParsers/StringTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Validate static EntProtoId<T> fields (#5593)
  Robust.Shared/Prototypes/PrototypeManager.ValidateFields.cs
Owners: @PJB3005, @DrSmugleaf

Reduce DynamicMethod use in Serv3
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controllers/UserInterfaceManager.Controllers.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.Emitters.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.cs
  Robust.Shared/Utility/InternalReflectionUtils.cs
Owners: @PJB3005, @DrSmugleaf

Buffer
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioStream.cs
Owners: @PJB3005, @DrSmugleaf

fix merge
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Fix reloading prototypes with AlwaysPushInheritance
  RELEASE-NOTES.md
  Robust.Client/Replays/Loading/ReplayLoadManager.Checkpoints.cs
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.YamlLoad.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
  Robust.Shared/Upload/SharedPrototypeLoadManager.cs
Owners: @PJB3005, @DrSmugleaf

comments
  Robust.Client/Replays/Loading/ReplayLoadManager.Checkpoints.cs
  Robust.Shared/Prototypes/IPrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Make `ComponentRegistry` not implement `ISerializationContext`
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Make `ComponentRegistry` not implement `ISerializationContext` (#5613)
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Optimize EntityDeserializer
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

fix assert & other bugs
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

fucking containers strike again
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

Moved Overlay sorting to OverlayManager
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Overlays/OverlayManager.cs
Owners: @PJB3005, @DrSmugleaf

Misc grid state changes (#5597)
  Robust.Client/GameObjects/EntitySystems/AppearanceSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/GameStates/GameStateMapData.cs
  Robust.Shared/Map/Components/MapGridComponent.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.FixturesChange.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Changed Add to AddRange
  Robust.Client/Graphics/Overlays/OverlayManager.cs
Owners: @PJB3005, @DrSmugleaf

Moved Overlay sorting to OverlayManager (#5614)
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Overlays/OverlayManager.cs
Owners: @PJB3005, @DrSmugleaf

Update release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf
