Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Update Robust.Shared/Map/MapManager.GridCollection.cs
  Robust.Shared/Map/MapManager.GridCollection.cs
Owners: @PJB3005, @DrSmugleaf

VV
  Robust.Shared/EntitySerialization/Components/YamlUidComponent.cs
Owners: @PJB3005, @DrSmugleaf

Version: 245.1.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Remove
  Robust.Client/Graphics/Lighting/LightManager.cs
Owners: @PJB3005, @DrSmugleaf

Entity<T> Unanchor varients
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Obsolete Unanchor varients
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Use Entity<T> unanchor varient
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Engine vibe
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Rearrange AnchorEntity varients
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Planet lighting pre-reqs (#5490)
  RELEASE-NOTES.md
  Resources/EnginePrototypes/Shaders/stockshaders.yml
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.RenderTargets.cs
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/IClydeViewport.cs
  Robust.Client/Graphics/IRenderTarget.cs
  Robust.Client/Graphics/Lighting/GetClearColorEvent.cs
  Robust.Client/Graphics/Lighting/LightManager.cs
  Robust.Client/Graphics/Overlays/OverlayDrawArgs.cs
  Robust.Server/Maps/MapChunkSerializer.cs
  Robust.Shared/Enums/OverlaySpaces.cs
  Robust.Shared/Map/Components/MapLightComponent.cs
  Robust.Shared/Map/Tile.cs
  Robust.Shared/Serialization/Manager/SerializationManager.FlagsAndConstants.cs
  Robust.UnitTesting/Shared/Map/MapGrid_Tests.cs
  Robust.UnitTesting/Shared/Map/SingleTileRemoveTest.cs
Owners: @PJB3005, @DrSmugleaf

Version: 246.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Expand and comment AnchorEntity varients
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Rearrange and obsolete methods
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Streamline comments and code formatting
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Use current grid Replaces the TryFindGridAt in SetAnchor with a proc that anchors to the entities current grid.
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

is null
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Use the entity query
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Make PVS overrides respect vismasks (#5598)
  RELEASE-NOTES.md
  Robust.Server/Audio/AudioSystem.cs
  Robust.Server/GameStates/PvsData.cs
  Robust.Server/GameStates/PvsOverrideSystem.cs
  Robust.Server/GameStates/PvsSystem.Overrides.cs
  Robust.Server/GameStates/PvsSystem.ToSendSet.cs
  Robust.Server/GameStates/PvsSystem.cs
Owners: @PJB3005, @DrSmugleaf

Version: 247.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix typo in RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Stop using obsolete methods
  Robust.Shared/Containers/SharedContainerSystem.Insert.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
Owners: @PJB3005, @DrSmugleaf

Use SetAnchored
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

Fix Obsolete Unanchor warnings
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

Fix Obsolete AnchorEntity warnings
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

fix: Clyde.SetUniformDirect for Color[] doesn't mutate original array, removed invalid 'in' keyword on SetUniform
  Robust.Client/Graphics/Clyde/GLObjects/Clyde.ShaderProgram.cs
  Robust.Client/Graphics/Shaders/ParsedShader.cs
Owners: @PJB3005, @DrSmugleaf

feat: shaders now can accept array of Color as parameter (#5679)
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Client/Graphics/Clyde/Clyde.Shaders.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/Clyde/GLObjects/Clyde.ShaderProgram.cs
  Robust.Client/Graphics/Shaders/ParsedShader.cs
  Robust.Client/Graphics/Shaders/ShaderInstance.cs
Owners: @PJB3005, @DrSmugleaf

Add optional minimumDistance parameter to SharedJointSystem.CreateDistanceJoint
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

Add SingletonEntitySystem
  Robust.Shared/GameObjects/Systems/SingletonEntitySystem.cs
Owners: @PJB3005, @DrSmugleaf

Use LocalizedEntityCommands for SpriteBoundsOverlay toggle
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
Owners: @PJB3005, @DrSmugleaf

Use LocalizedEntityCommands for system toggles
  Robust.Client/Console/Commands/DebugAnchoredCommand.cs
  Robust.Client/Console/Commands/LightBBCommand.cs
  Robust.Client/Console/Commands/VelocitiesCommand.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
  Robust.Client/GameObjects/EntitySystems/DebugEntityLookupSystem.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

Make instance reference the Entity, not just the component.
  Robust.Shared/GameObjects/Systems/SingletonEntitySystem.cs
Owners: @PJB3005, @DrSmugleaf

Add lightHeight and normalize normals on loading
  Resources/Shaders/Internal/light_shared.swsl
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
  Robust.Shared/GameObjects/Components/Light/SharedPointLightComponent.cs
Owners: @PJB3005, @DrSmugleaf

updates
  Robust.Client/GameObjects/EntitySystems/ClientDynamicParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

sandbox
  Robust.Client/GameObjects/EntitySystems/ClientDynamicParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
  Robust.Server/GameObjects/EntitySystems/ServerDynamicParticlesSystem.cs
  Robust.Shared/GameObjects/Components/Renderable/DynamicParticlesComponent.cs
Owners: @PJB3005, @DrSmugleaf

Add optional minimumDistance parameter to SharedJointSystem.CreateDistanceJoint (#5682)
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

3% faster? and maybe even works
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

registerignore
  Robust.Server/Prototypes/ServerPrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Tests and tweaks
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManagerCopyTests.cs
  Robust.UnitTesting/Shared/GameObjects/IEntityManagerTests.cs
Owners: @PJB3005, @DrSmugleaf

Add ICloneable support to ComponentNetworkGenerator (#5656)
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

0.441 BEGONE
  Resources/Shaders/Internal/light_shared.swsl
  Resources/Shaders/Internal/normal-rotator.swsl
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
