Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Remove unused variable
  Robust.Server/GameStates/PvsSystem.Chunks.cs
Owners: @PJB3005, @DrSmugleaf

Remove private field
  Robust.Client/GameStates/NetGraphOverlay.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused variable, local function and private field (#5528)
  Robust.Client/GameStates/NetGraphOverlay.cs
  Robust.Client/UserInterface/CustomControls/TextEditRopeViz.cs
  Robust.Server/GameStates/PvsSystem.Chunks.cs
Owners: @PJB3005, @DrSmugleaf

Fix BoxContainer adding separation for invisible children
  Robust.Client/UserInterface/Controls/BoxContainer.cs
Owners: @PJB3005, @DrSmugleaf

Fix SplitContainer using invalidated measures when clamping SplitCenter
  Robust.Client/UserInterface/Controls/SplitContainer.cs
Owners: @PJB3005, @DrSmugleaf

Fix minor layout bugs in SplitContainer and BoxContainer (#5529)
  Robust.Client/UserInterface/Controls/BoxContainer.cs
  Robust.Client/UserInterface/Controls/SplitContainer.cs
Owners: @PJB3005, @DrSmugleaf

Mute null error from Rider
  Robust.Shared/Toolshed/ToolshedCommand.Implementations.cs
Owners: @moonheart08

Version: 237.2.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix warning for using non-generic variant of TryComp for MetaDataComponent RA0030 (Use non-generic variant)
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Use non-generic variant of TryComp for TransformComponent
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings for using async without any await
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
Owners: @moonheart08

Fix async without await warning in EntityTypeParser
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
Owners: @moonheart08

Fix async without await in EnumTypeParser
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
Owners: @moonheart08

Update SessionTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
Owners: @moonheart08

Fix warning for using non-generic variant of TryComp for `MetaDataComponent` and `TransformComponent` RA0030 (#5531)
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

Update EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
Owners: @moonheart08

Update BoolTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
Owners: @moonheart08

Update EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
Owners: @moonheart08

Update EnumTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
Owners: @moonheart08

Update SessionTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
Owners: @moonheart08

Fix compilation and formatting
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
Owners: @moonheart08

Fix warnings for using async without any await (#5532)
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
Owners: @moonheart08

Sandbox error reference locator now works with generic method calls
  RELEASE-NOTES.md
  Robust.Shared/ContentPack/AssemblyTypeChecker.ReportBadReferences.cs
Owners: @PJB3005, @DrSmugleaf

make richtextentry more generic
  Robust.Client/Graphics/Clyde/Clyde.RenderHandle.cs
  Robust.Client/Graphics/Drawing/DrawingHandleBase.cs
  Robust.Client/Graphics/Drawing/DrawingHandleScreen.cs
  Robust.Client/Graphics/Drawing/DrawingHandleWorld.cs
  Robust.Client/Graphics/Font.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

font
  Robust.Client/Graphics/Font.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

oops
  Robust.Client/Graphics/Font.cs
Owners: @PJB3005, @DrSmugleaf

ValueList<T> extensions
  RELEASE-NOTES.md
  Robust.Shared/Collections/ValueList.cs
Owners: @PJB3005, @DrSmugleaf

No need for disabling RA0003 warning in FastNoise
  Robust.Shared/Noise/FastNoise.cs
Owners: @PJB3005, @DrSmugleaf

No need for disabling RA0003 warning in FastNoise (#5535)
  Robust.Shared/Noise/FastNoise.cs
Owners: @PJB3005, @DrSmugleaf

Upgrade github workflows to node20
  .github/workflows/build-docfx.yml
  .github/workflows/build-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-client.yml
  .github/workflows/test-content.yml
Owners: @PJB3005, @DrSmugleaf

Fix incorrect version for actions/checkout in test-content.yml
  .github/workflows/test-content.yml
Owners: @PJB3005, @DrSmugleaf

Fix codeql-analysis breaking in every fork repo that enables GitHub Actions
  .github/workflows/codeql-analysis.yml
Owners: @PJB3005, @DrSmugleaf

Try fix conflicts. Ill make with work later
  Robust.Shared.Scripting/ScriptGlobalsShared.cs
  Robust.Shared/Toolshed/Commands/Entities/WithCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

bodge
  Robust.Shared/Toolshed/Commands/Entities/WithCommand.cs
  Robust.Shared/Toolshed/ReflectionExtensions.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Fix ProtoIdTypeParser assert
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
Owners: @moonheart08

comment
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

AllEntities
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Remove more linq from WhereCommand
  Robust.Shared/Toolshed/Commands/Entities/WithCommand.cs
Owners: @moonheart08

Remove unused obsolete TileAccess methods
  Robust.Shared/Map/Components/MapGridComponent.cs
Owners: @PJB3005, @DrSmugleaf

Fix wrong filename used when log.enabled is set
  Robust.Server/BaseServer.cs
Owners: @PJB3005, @DrSmugleaf
