Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

fix transform
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

nullable texture and z sorting
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused private members/local vars
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/TextEdit.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/Map/TileDefinitionManager.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

make map loading logs better
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
Owners: @PJB3005, @DrSmugleaf

feat: FormattedMessage now can be created from collection of nodes, text nodes now can be replaced.
  Robust.Shared/Utility/FormattedMessage.cs
  Robust.UnitTesting/Shared/Utility/FormattedMessage_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add ignore option for custom cursors from the games
  Robust.Client/UserInterface/IUserInterfaceManager.cs
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Owners: @PJB3005, @DrSmugleaf

make map loading logs better (#5723)
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused private members/local vars (#5722)
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/TextEdit.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/Map/TileDefinitionManager.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

archent
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

close
  Robust.Client.NameGenerator/XamlUiPartialClassGenerator.cs
  Robust.Server/GameObjects/ServerEntityManager.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntityUid.cs
  Robust.Shared/GameObjects/IEntityManager.Arch.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix savedpos caching on UI shutdown
  Robust.Client/GameObjects/EntitySystems/UserInterfaceSystem.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix deceptive "successfully saved" messages for mappers (#5714)
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/pt-BR/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix savedpos caching on UI shutdown (#5729)
  Robust.Client/GameObjects/EntitySystems/UserInterfaceSystem.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Use Entity<T> for TileChangedEvent (#5698)
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/Map/IMapManagerInternal.cs
  Robust.Shared/Map/MapManager.GridCollection.cs
Owners: @PJB3005, @DrSmugleaf

Clean up warnings in Stack_Test (#5705)
  Robust.UnitTesting/Shared/Physics/Stack_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add TryLoadGrid override (#5701)
  RELEASE-NOTES.md
  Resources/Locale/en-US/commands.ftl
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
Owners: @PJB3005, @DrSmugleaf

Update Robust.Shared/Console/CompletionHelper.cs
  Robust.Shared/Console/CompletionHelper.cs
Owners: @PJB3005, @DrSmugleaf

Fix map netId completions (#5495)
  Robust.Shared/Console/CompletionHelper.cs
Owners: @PJB3005, @DrSmugleaf

Fix merge conflicts
  Robust.Shared/Physics/B2DynamicTree.cs
Owners: @metalgearsloth

Update B2DynamicTree (#5332)
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Shared.Maths/Box2.cs
  Robust.Shared.Maths/Vector2Helpers.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/BroadPhase/DynamicTreeBroadPhase.cs
  Robust.Shared/Physics/DynamicTree.cs
  Robust.Shared/Physics/IBroadPhase.cs
  Robust.Shared/Physics/PhysicsConstants.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Utility/GrowableStack.cs
  Robust.UnitTesting/Shared/Physics/B2DynamicTree_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

try/catch blocks around BUI open/dispose calls
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

review
  Robust.Client/Console/Commands/Debug.cs
Owners: @PJB3005, @DrSmugleaf

Adds method to Controls.ItemList which updates the item list without erasing contents (#5425)
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

Merge conflicts
  Robust.Client/Audio/HeadlessAudioManager.cs
Owners: @PJB3005, @DrSmugleaf

review
  Robust.Shared/ContentPack/DirLoader.cs
  Robust.Shared/ContentPack/ResourceManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix
  Robust.Client/Utility/ReloadManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix ResPath CanonPath (#5452)
  Robust.Server/ServerOptions.cs
  Robust.Shared/ContentPack/DirLoader.cs
  Robust.Shared/ContentPack/ModLoader.cs
  Robust.Shared/ContentPack/ResourceManager.cs
  Robust.Shared/Utility/ResPath.cs
Owners: @PJB3005, @DrSmugleaf

Try/catch blocks around BUI open/dispose calls (#5730)
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Hot reload resources (#5443)
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioManager.cs
  Robust.Client/Audio/AudioStream.cs
  Robust.Client/Audio/HeadlessAudioManager.cs
  Robust.Client/Audio/IAudioInternal.cs
  Robust.Client/Audio/IAudioManager.cs
  Robust.Client/Audio/Sources/AudioSource.cs
  Robust.Client/ClientIoC.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Map/ClydeTileDefinitionManager.cs
  Robust.Client/Prototypes/ClientPrototypeManager.cs
  Robust.Client/ResourceManagement/ResourceTypes/AudioResource.cs
  Robust.Client/Utility/ReloadManager.cs
  Robust.Shared/Map/ITileDefinition.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Utility/IReloadManager.cs
Owners: @PJB3005, @DrSmugleaf

Use Prototype for ITileDef
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

Use Prototype for ITileDef (#5731)
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

Version: 248.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

bumps ImageSharp version
  Directory.Packages.props
Owners: @PJB3005, @DrSmugleaf

Replace deprecated MapManager methods with MapSystem API
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Shared/Console/Commands/MapCommands.cs
  Robust.Shared/Console/Commands/TeleportCommands.cs
  Robust.Shared/Map/Commands/AmbientLightCommand.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.UnitTesting/Server/GameObjects/ComponentMapInitTest.cs
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
  Robust.UnitTesting/Shared/GameObjects/IEntityManagerTests.cs
  Robust.UnitTesting/Shared/Map/MapManager_Tests.cs
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
  Robust.UnitTesting/Shared/Physics/Collision_Test.cs
  Robust.UnitTesting/Shared/Physics/Fixtures_Test.cs
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
  Robust.UnitTesting/Shared/Spawning/SpawnInContainerOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnNextToOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnInContainerTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnNextToTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

bumps ImageSharp version (#5733)
  Directory.Packages.props
Owners: @PJB3005, @DrSmugleaf

Add checking for an unexpected audio state and freeing up buffers.
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioStream.cs
Owners: @PJB3005, @DrSmugleaf

Switch replay file extension to .rtreplay
  Robust.Shared/Replays/SharedReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix NaN gain audio
  Robust.Shared/Audio/AudioParams.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix NaN gain audio (#5737)
  Robust.Shared/Audio/AudioParams.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add tile rotation/mirror perms
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
  Robust.Server/Placement/PlacementManager.cs
  Robust.Shared/Map/ITileDefinition.cs
Owners: @PJB3005, @DrSmugleaf
