Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

string keys
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
  Robust.Shared/Physics/FixtureSerializer.cs
  Robust.Shared/Prototypes/PrototypeManager.YamlLoad.cs
  Robust.Shared/Replays/ReplayData.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/DataNode.cs
  Robust.Shared/Serialization/Markdown/DataNodeHelpers.cs
  Robust.Shared/Serialization/Markdown/DataNodeParser.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNodeExtensions.cs
  Robust.Shared/Serialization/Markdown/Sequence/SequenceDataNode.cs
  Robust.Shared/Serialization/Markdown/Value/ValueDataNode.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/AbstractDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/Dictionary/PrototypeIdDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/Dictionary/PrototypeIdValueDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/DictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ValueTupleSerializer.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

obsoletions
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Add OtherBody API to contacts (#5779)
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

Cleanup warnings in ClientGameStateManager (#5774)
  Robust.Client/GameStates/ClientGameStateManager.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup warnings in EntityLookup_Test (#5775)
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
Owners: @PJB3005, @DrSmugleaf

Version: 250.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Cleanup warnings in EntityCoordinates_Tests (#5771)
  Robust.UnitTesting/Shared/Map/EntityCoordinates_Tests.cs
Owners: @PJB3005, @DrSmugleaf

Switch from checking comp.Owner == ent to GetComp(ent) == comp (#5776)
  Robust.UnitTesting/Shared/GameObjects/EntityManagerCopyTests.cs
Owners: @PJB3005, @DrSmugleaf

Also this one
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Fix ValueTupleSerializer
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ValueTupleSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Release notes
  RELEASE-NOTES.md
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

fix release note conflict
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

cleanup
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Fix yaml validator & tests
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ReadValueProviderTests.cs
Owners: @PJB3005, @DrSmugleaf

cleanup release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

a
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/AbstractDictionarySerializer.cs
Owners: @PJB3005, @DrSmugleaf

savemap / savegrid autocomplete
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Add new SerializationManager.PushComposition overload
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/ComponentRegistrySerializer.cs
Owners: @PJB3005, @DrSmugleaf

enumerator allocations
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Also sequence enumerator alloc
  Robust.Shared/Serialization/Markdown/Sequence/SequenceDataNode.cs
Owners: @PJB3005, @DrSmugleaf

savemap / savegrid autocomplete (#5784)
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Fix RemCompDeferred not setting lifestage
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.LifeCycle.cs
Owners: @PJB3005, @DrSmugleaf

spaelling
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

added copy visuals function to the point light system
  Robust.Client/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Shared/GameObjects/Systems/SharedPointLightSystem.cs
Owners: @PJB3005, @DrSmugleaf

Don't error when GetGrid fails
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
Owners: @PJB3005, @DrSmugleaf

Fix other Resolves in SharedTransformSystem
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
Owners: @PJB3005, @DrSmugleaf

Fix popup text overflowing the sides of the screen
  Robust.Client/UserInterface/UserInterfaceManager.Layout.cs
Owners: @PJB3005, @DrSmugleaf

Make MappingDataNode.Equals take 2952 times less time to run when loading maps (#5781)
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Version: 248.0.3-source-gen-debug
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

De-duplicate visibility logic
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Update scroll button visibility when the enabling property is changed
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Add button to jump to live chat when scrolled up (#5750)
  Resources/Locale/en-US/custom-controls.ftl
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml
Owners: @PJB3005, @DrSmugleaf

Add TryDirtyField
  Robust.Shared/Audio/AudioParams.cs
  Robust.Shared/Audio/SoundSpecifier.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Network.cs
  Robust.Shared/Utility/DebugTools.cs
Owners: @PJB3005, @DrSmugleaf

Change logging message.
  Robust.Client/Audio/AudioManager.Public.cs
Owners: @PJB3005, @DrSmugleaf

set default pitch variation for all sounds at -0.08
  Robust.Shared/Audio/AudioParams.cs
Owners: @PJB3005, @DrSmugleaf

Inline manifold points
  Robust.Shared/Physics/Collision/CollisionManager.Circles.cs
  Robust.Shared/Physics/Collision/CollisionManager.EdgeCircle.cs
  Robust.Shared/Physics/Collision/CollisionManager.EdgePolygon.cs
  Robust.Shared/Physics/Collision/CollisionManager.PolygonCircle.cs
  Robust.Shared/Physics/Collision/CollisionManager.Polygons.cs
  Robust.Shared/Physics/Collision/CollisionManager.cs
  Robust.Shared/Physics/Collision/Manifold.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Dynamics/Contacts/ContactPositionConstraint.cs
  Robust.Shared/Physics/Dynamics/Contacts/ContactVelocityConstraint.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Solver.cs
  Robust.Shared/Utility/FixedArray.cs
  Robust.UnitTesting/Shared/Physics/ManifoldManager_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

this
  Robust.Shared/Utility/FixedArray.cs
Owners: @PJB3005, @DrSmugleaf

Add autocomplete to tp command
  Robust.Shared/Console/Commands/TeleportCommands.cs
Owners: @moonheart08

ItemList optimisation
  Robust.Client/UserInterface/Controls/ItemList.cs
  Robust.Client/ViewVariables/ViewVariablesAddWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Autocomplete more map commands
  Robust.Client/GameObjects/EntitySystems/MapSystem.cs
  Robust.Server/GameObjects/EntitySystems/MapSystem.cs
  Robust.Shared/Console/Commands/MapCommands.cs
  Robust.Shared/Console/CompletionHelper.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Map.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08
