Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Support localized argument hints/signatures
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/ToolshedCommand.Help.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Fix autocompletion hint for toolshed strings
  RELEASE-NOTES.md
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.Completions.cs
  Robust.Shared/Console/CompletionResult.cs
  Robust.Shared/Toolshed/TypeParsers/StringTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Split functionality
  RELEASE-NOTES.md
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.Completions.cs
  Robust.Shared/Console/CompletionResult.cs
Owners: @PJB3005, @DrSmugleaf

Remove combined flag
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.Completions.cs
  Robust.Shared/Console/CompletionResult.cs
  Robust.Shared/Toolshed/TypeParsers/StringTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix WebView build
  Robust.Client.WebView/Cef/WebViewManagerCef.Control.cs
Owners: @PJB3005, @DrSmugleaf

SDL3 (#5583)
  Robust.Client.WebView/Cef/WebViewManagerCef.Control.cs
  Robust.Client/GameController/GameController.Standalone.cs
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Events.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.cs
  Robust.Client/Graphics/Clyde/Windowing/IWindowingImpl.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL2Api.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/LICENSE
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.Keys.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.Monitors.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.RawEvents.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.Windows.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Event.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.FileDialog.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Key.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Monitor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowIcons.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.cs
  Robust.Client/Graphics/Clyde/Windowing/WsiShared.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/IClydeInternal.cs
  Robust.Client/Graphics/IClydeWindow.cs
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/TextEdit.cs
  Robust.Client/UserInterface/FileDialogManager.cs
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Update build-test.yml
  .github/workflows/build-test.yml
Owners: @PJB3005, @DrSmugleaf

Add API for creating mock configuration managers in unit tests.
  RELEASE-NOTES.md
  Robust.Shared/Configuration/ConfigurationManager.cs
  Robust.Shared/Configuration/IConfigurationManagerInternal.cs
  Robust.UnitTesting/MockInterfaces.cs
Owners: @PJB3005, @DrSmugleaf

.NET 9 (#5552)
  .github/workflows/build-docfx.yml
  .github/workflows/build-test.yml
  .github/workflows/publish-client.yml
  .github/workflows/test-content.yml
  Lidgren.Network/Lidgren.Network.csproj
  MSBuild/Robust.Engine.props
  MSBuild/Robust.Properties.targets
  RELEASE-NOTES.md
  global.json
Owners: @PJB3005, @DrSmugleaf

Add string split with ROS<char> to sandbox
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Disable CETCompat in Robust.Client.WebView
  Robust.Client.WebView/Robust.Client.WebView.csproj
Owners: @PJB3005, @DrSmugleaf

Update to latest CEF natives and fix code to be compatible.
  Directory.Packages.props
  Robust.Client.WebView/Cef/BaseRobustCefClient.cs
  Robust.Client.WebView/Cef/RobustCefApp.cs
  Robust.Client.WebView/Cef/WebViewManagerCef.Control.cs
Owners: @PJB3005, @DrSmugleaf

Switch CEF CreateBrowserWindow to Alloy style
  Robust.Client.WebView/Cef/WebViewManagerCef.BrowserWindow.cs
Owners: @PJB3005, @DrSmugleaf

safe dictionary assignment
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
Owners: @PJB3005, @DrSmugleaf

safe dictionary assignment (#5587)
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
Owners: @PJB3005, @DrSmugleaf

Push clientside transform GridUids to children
  Robust.Client/GameObjects/EntitySystems/TransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup & comments
  Robust.Shared/Serialization/Manager/SerializationManager.cs
Owners: @PJB3005, @DrSmugleaf

Remove unnecessary GetGenericTypeDefinition
  Robust.Shared/Serialization/Manager/SerializationManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix component delta state auto-generation
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

re-use ApplyToFullState
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Log errors when encountering entity data fields (#5578)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/Serialization/Manager/Attributes/NotYamlSerializableAttribute.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Validation.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/ComponentRegistrySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector2Serializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector2iSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector3Serializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector4Serializer.cs
  Robust.UnitTesting/Shared/GameObjects/GenericEntityPrint.cs
Owners: @PJB3005, @DrSmugleaf

Fix component delta state auto-generation (#5589)
  RELEASE-NOTES.md
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

Dependencies update & cleanup
  Directory.Packages.props
  Robust.Analyzers.Tests/AccessAnalyzer_Test.cs
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers.Tests/DependencyAssignAnalyzerTest.cs
  Robust.Analyzers.Tests/DuplicateDependencyAnalyzerTest.cs
  Robust.Analyzers.Tests/MustCallBaseAnalyzerTest.cs
  Robust.Analyzers.Tests/NoUncachedRegexAnalyzerTest.cs
  Robust.Analyzers.Tests/PreferNonGenericVariantForTest.cs
  Robust.Analyzers.Tests/PreferOtherTypeAnalyzerTest.cs
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Benchmarks/Robust.Benchmarks.csproj
  Robust.Client.NameGenerator/XamlUiPartialClassGenerator.cs
  Robust.Client/Robust.Client.csproj
  Robust.Server/Robust.Server.csproj
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared.Scripting/Robust.Shared.Scripting.csproj
  Robust.Shared/ContentPack/AssemblyTypeChecker.cs
  Robust.Shared/Robust.Shared.csproj
  Robust.Shared/Serialization/Markdown/NodeMark.cs
Owners: @PJB3005, @DrSmugleaf

Remove ILReader dependency
  Directory.Packages.props
  Robust.Shared.Scripting/ILCommand.cs
  Robust.Shared.Scripting/Robust.Shared.Scripting.csproj
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add ISawmill.IsLogLevelEnabled
  RELEASE-NOTES.md
  Robust.Shared/Log/ISawmill.cs
  Robust.Shared/Log/LogManager.Sawmill.cs
Owners: @PJB3005, @DrSmugleaf

Log received/sent net messages at verbose level
  Robust.Shared/Network/NetManager.cs
Owners: @PJB3005, @DrSmugleaf

Show "null" in loglevel command completions
  RELEASE-NOTES.md
  Robust.Shared/Console/Commands/LogCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix SDL3 backend
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
Owners: @PJB3005, @DrSmugleaf

Dependencies update & cleanup (#5590)
  Directory.Packages.props
  Robust.Analyzers.Tests/AccessAnalyzer_Test.cs
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers.Tests/DependencyAssignAnalyzerTest.cs
  Robust.Analyzers.Tests/DuplicateDependencyAnalyzerTest.cs
  Robust.Analyzers.Tests/MustCallBaseAnalyzerTest.cs
  Robust.Analyzers.Tests/NoUncachedRegexAnalyzerTest.cs
  Robust.Analyzers.Tests/PreferNonGenericVariantForTest.cs
  Robust.Analyzers.Tests/PreferOtherTypeAnalyzerTest.cs
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Benchmarks/Robust.Benchmarks.csproj
  Robust.Client.NameGenerator/XamlUiPartialClassGenerator.cs
  Robust.Client/Robust.Client.csproj
  Robust.Server/Robust.Server.csproj
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared.Scripting/ILCommand.cs
  Robust.Shared.Scripting/Robust.Shared.Scripting.csproj
  Robust.Shared/ContentPack/AssemblyTypeChecker.cs
  Robust.Shared/Robust.Shared.csproj
  Robust.Shared/Serialization/Markdown/NodeMark.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Bump cefglue (#5585)
  Directory.Packages.props
  Robust.Client.WebView/Cef/BaseRobustCefClient.cs
  Robust.Client.WebView/Cef/RobustCefApp.cs
  Robust.Client.WebView/Cef/WebViewManagerCef.BrowserWindow.cs
  Robust.Client.WebView/Cef/WebViewManagerCef.Control.cs
Owners: @PJB3005, @DrSmugleaf

Validate static EntProtoId<T> fields
  Robust.Shared/Prototypes/PrototypeManager.ValidateFields.cs
Owners: @PJB3005, @DrSmugleaf

test
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.UnitTesting/Server/GameStates/DetachedParentTest.cs
Owners: @PJB3005, @DrSmugleaf

Safety net
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Misc grid state changes
  Robust.Client/GameObjects/EntitySystems/AppearanceSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/GameStates/GameStateMapData.cs
  Robust.Shared/Map/Components/MapGridComponent.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.FixturesChange.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Update release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 239.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Thread safety
  Robust.Server/GameStates/PvsSystem.ToSendSet.cs
  Robust.Server/GameStates/PvsSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make overrides respect vismasks
  Robust.Server/GameStates/PvsData.cs
  Robust.Server/GameStates/PvsOverrideSystem.cs
  Robust.Server/GameStates/PvsSystem.Overrides.cs
  Robust.Server/GameStates/PvsSystem.cs
Owners: @PJB3005, @DrSmugleaf
