Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix release notes AGAIN
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

feat: added generic method for getting component from ComponentRegistry (#6082)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/ComponentFactory.cs
  Robust.Shared/GameObjects/IEntityLoadContext.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Add a Select button to ProtoId VV editor (#6097)
  RELEASE-NOTES.md
  Resources/Locale/en-US/view-variables.ftl
  Robust.Client/ViewVariables/Editors/VVPropEditorProtoId.cs
Owners: @PJB3005, @DrSmugleaf

Fix NotYamlSerializable analyzer ignoring nullable structs (#5934)
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
  Robust.Roslyn.Shared/TypeSymbolHelper.cs
Owners: @PJB3005, @DrSmugleaf

Update ImageSharp to shut up vulnerability warnings
  Directory.Packages.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Change GetNetEntity(EntityUid?) to return null for deleted entities
  Robust.Shared/GameObjects/EntityManager.Network.cs
Owners: @PJB3005, @DrSmugleaf

Adjust test
  Robust.UnitTesting/Shared/GameState/ComponentStateTests.cs
Owners: @PJB3005, @DrSmugleaf

move to content
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Client/GameObjects/EntitySystems/ScaleVisualsSystem.cs
  Robust.Server/Console/Commands/ScaleCommand.cs
  Robust.Server/GameObjects/EntitySystems/ScaleVisualsSystem.cs
  Robust.Shared/GameObjects/Components/Appearance/ScaleVisualsComponent.cs
  Robust.Shared/GameObjects/Systems/ScaleVisualsSystem.cs
  Robust.Shared/GameObjects/Systems/SharedScaleVisualsSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Fixtures.cs
  Robust.Shared/Toolshed/Commands/Misc/ScaleCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Add SharedOnlyEventAttribute and analyzer
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers.Tests/SharedOnlyEventAnalyzerTest.cs
  Robust.Analyzers/Robust.Analyzers.csproj
  Robust.Analyzers/SharedOnlyEventAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/SharedOnlyEventAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Add the ability to scale ItemList icons
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

Add the ability to scale ItemList icons (#6125)
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

Add more SDL3-exclusive mouse cursor shapes
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Cursors.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/StandardCursorShape.cs
  Robust.Client/UserInterface/Control.Cursor.cs
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
Owners: @PJB3005, @DrSmugleaf

Add uitest tab for mouse cursor shapes
  Robust.Client/Console/Commands/UITestCommand.cs
Owners: @moonheart08

Make BaseWindow dragging use new cursor shapes
  Robust.Client/UserInterface/CustomControls/BaseWindow.cs
Owners: @PJB3005, @DrSmugleaf

Mark AutoGenerateComponentStateAttribute fields as readonly
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
Owners: @PJB3005, @DrSmugleaf

refactor: use ==, not .Contains
  Robust.Analyzers/AfterAutoHandleStateAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

feat: make AttributeHelper.HasAttribute looser
  RELEASE-NOTES.md
  Robust.Roslyn.Shared/AttributeHelper.cs
Owners: @PJB3005, @DrSmugleaf

refactor: use AttributeHelper.HasAttribute
  Robust.Analyzers/AfterAutoHandleStateAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

perf: cache AutoGenStateAttribute's type
  Robust.Analyzers/AfterAutoHandleStateAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

refactor: more pattern matching
  Robust.Analyzers/AfterAutoHandleStateAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Minimum MIDI note volume
  Robust.Client/Audio/Midi/IMidiRenderer.cs
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

feat: add analyzer for correct AfterAutoHandleStateEvent usage (#6117)
  RELEASE-NOTES.md
  Robust.Analyzers.Tests/AfterAutoHandleStateAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/AfterAutoHandleStateAnalyzer.cs
  Robust.Roslyn.Shared/AttributeHelper.cs
  Robust.Roslyn.Shared/Diagnostics.cs
Owners: @PJB3005, @DrSmugleaf

Mark AutoGenerateComponentStateAttribute fields as readonly (#6126)
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Mark AutoGenerateComponentStateAttribute fields as readonly (#6126)"
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Mark AutoGenerateComponentStateAttribute fields as readonly (#6126)" (#6128)
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
Owners: @PJB3005, @DrSmugleaf

Remove no-longer-valid test case
  Robust.Analyzers.Tests/AfterAutoHandleStateAnalyzerTest.cs
Owners: @PJB3005, @DrSmugleaf

I think it's a typo
  Robust.Shared/Network/Messages/MsgConVars.cs
Owners: @PJB3005, @DrSmugleaf

Mark `AutoGenerateComponentStateAttribute` fields as `readonly` (redo) (#6129)
  Robust.Analyzers.Tests/AfterAutoHandleStateAnalyzerTest.cs
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
Owners: @PJB3005, @DrSmugleaf

Properly stop sending messages to disconnected channels.
  RELEASE-NOTES.md
  Robust.Shared/Network/NetManager.Send.cs
  Robust.UnitTesting/RobustIntegrationTest.NetManager.cs
Owners: @PJB3005, @DrSmugleaf

Raise PlayerStatusChanged after removing disconnected players
  RELEASE-NOTES.md
  Robust.Server/Player/PlayerManager.cs
Owners: @PJB3005, @DrSmugleaf

Minimum MIDI note volume (#6127)
  Robust.Client/Audio/Midi/IMidiRenderer.cs
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Update NFluidsynth to 0.2.0
  Directory.Packages.props
Owners: @PJB3005, @DrSmugleaf

Update MidiRenderer to use TryNoteOn and TryNoteOff (#6106)
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Fix instrument pausing when outside PVS range (#6113)
  Robust.Client/Audio/Midi/MidiManager.cs
Owners: @PJB3005, @DrSmugleaf

ops
  Robust.Shared/Network/Messages/MsgConVars.cs
Owners: @PJB3005, @DrSmugleaf

test
  Robust.UnitTesting/Shared/Vars/MsgConVarsTest.cs
Owners: @PJB3005, @DrSmugleaf

Move ScaleVisuals to Content (and improve it) (#6096)
  Resources/Locale/en-US/commands.ftl
  Robust.Client/GameObjects/EntitySystems/ScaleVisualsSystem.cs
  Robust.Server/Console/Commands/ScaleCommand.cs
  Robust.Shared/GameObjects/Components/Appearance/ScaleVisualsComponent.cs
  Robust.Shared/GameObjects/Systems/ScaleVisualsSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Fixtures.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Update release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 266.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Run disconnect callbacks after removing channel from lists
  RELEASE-NOTES.md
  Robust.Shared/Network/NetManager.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
