Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Version script now supports dash versions
  Tools/version.py
Owners: @PJB3005, @DrSmugleaf

Add thread check assert to core entity mutation commands.
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix broken tests directly mutating entities from wrong thread.
  Robust.UnitTesting/Shared/GameState/ComponentStateTests.cs
  Robust.UnitTesting/Shared/GameState/NoSharedReferencesTest.cs
Owners: @PJB3005, @DrSmugleaf

Make tests run parallelizable
  Robust.UnitTesting/AssemblyInfo.cs
Owners: @PJB3005, @DrSmugleaf

Make EntityRenamedEvent contain Entity info and previous name. Make it broadcast when raised.
  Robust.Shared/GameObjects/EntitySystemMessages/EntityRenamedEvent.cs
  Robust.Shared/GameObjects/Systems/MetaDataSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add AfterSaveEvent
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
  Robust.Shared/Map/Events/MapSerializationEvents.cs
Owners: @PJB3005, @DrSmugleaf

engrish
  Robust.Shared/Map/Events/MapSerializationEvents.cs
Owners: @PJB3005, @DrSmugleaf

Add thread check assert to core entity mutation commands. (#5411)
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.UnitTesting/Shared/GameState/ComponentStateTests.cs
  Robust.UnitTesting/Shared/GameState/NoSharedReferencesTest.cs
Owners: @PJB3005, @DrSmugleaf

Make tests run parallelizable (#5412)
  Robust.UnitTesting/AssemblyInfo.cs
Owners: @PJB3005, @DrSmugleaf

Change EntityRenamedEvents arguments and make it broadcast (#5413)
  Robust.Shared/GameObjects/EntitySystemMessages/EntityRenamedEvent.cs
  Robust.Shared/GameObjects/Systems/MetaDataSystem.cs
Owners: @PJB3005, @DrSmugleaf

Try and ensure that parents are always initialized before children (#5343)
  RELEASE-NOTES.md
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Server/GameObjects/ServerEntityManager.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

review
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
Owners: @PJB3005, @DrSmugleaf

Fix mouse hover not updating for new controls (#5313)
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Owners: @PJB3005, @DrSmugleaf

weh
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameStates/GameStateMapData.cs
  Robust.UnitTesting/Shared/Map/GridFixtures_Tests.cs
Owners: @PJB3005, @DrSmugleaf

More networking
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameStates/GameStateMapData.cs
  Robust.Shared/Map/MapChunk.cs
Owners: @PJB3005, @DrSmugleaf

Relative lookup fix
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
Owners: @PJB3005, @DrSmugleaf

test
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
Owners: @PJB3005, @DrSmugleaf

better test
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
Owners: @PJB3005, @DrSmugleaf

Reduce any-entities-intersecting tests
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
Owners: @PJB3005, @DrSmugleaf

Relative lookup fix (#5415)
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.UnitTesting/Shared/EntityLookup_Test.cs
Owners: @PJB3005, @DrSmugleaf

Version: 233.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix IsHardCollidable
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Fixtures.cs
  Robust.UnitTesting/Shared/Physics/Collision_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Fix IsHardCollidable (#5416)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Fixtures.cs
  Robust.UnitTesting/Shared/Physics/Collision_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Version: 233.0.1
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Don't rely on client for grid fixture rebuilds (#5348)
  RELEASE-NOTES.md
  Robust.Client/GameObjects/EntitySystems/GridChunkBoundsDebugSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/GameStates/GameStateMapData.cs
  Robust.Shared/Map/Components/GridTreeComponent.cs
  Robust.Shared/Map/Components/MapGridComponent.cs
  Robust.Shared/Map/MapChunk.cs
  Robust.Shared/Map/MapManager.Queries.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.UnitTesting/Shared/Map/GridFixtures_Tests.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Version: 233.0.2
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

weh
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

fixes
  Robust.Shared/GameObjects/ChunkIterator.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Quick warning fixes
  Robust.Client/Replays/Loading/ReplayLoadManager.Checkpoints.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinitionUtility.cs
  Robust.UnitTesting/GameControllerDummy.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/DataDefinitionTests.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.Resources.cs
  Robust.UnitTesting/TestingParallelManager.cs
Owners: @PJB3005, @DrSmugleaf

Quick warning fixes (#5417)
  Robust.Client/Replays/Loading/ReplayLoadManager.Checkpoints.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinitionUtility.cs
  Robust.UnitTesting/GameControllerDummy.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/DataDefinitionTests.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.Resources.cs
  Robust.UnitTesting/TestingParallelManager.cs
Owners: @PJB3005, @DrSmugleaf

resolve instances of the CS8974 warning
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.cs
Owners: @PJB3005, @DrSmugleaf

Perf fixes
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
Owners: @PJB3005, @DrSmugleaf

stuff
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManager_Components_Tests.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused IoC dependencies
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
  Robust.Client/GameObjects/EntitySystems/InputSystem.cs
  Robust.Client/GameStates/NetInterpOverlay.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/UserInterface/Controllers/Implementations/EntitySpawningUIController.cs
  Robust.Shared/Containers/ContainerManagerComponent.cs
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix toAdd.Clear()
  Robust.Client/GameStates/ClientGameStateManager.cs
Owners: @PJB3005, @DrSmugleaf

Add ArchEntity
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused IoC dependencies (#5419)
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
  Robust.Client/GameObjects/EntitySystems/InputSystem.cs
  Robust.Client/GameStates/NetInterpOverlay.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/UserInterface/Controllers/Implementations/EntitySpawningUIController.cs
  Robust.Shared/Containers/ContainerManagerComponent.cs
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix MarkupNode equality
  RELEASE-NOTES.md
  Robust.Shared/Utility/MarkupNode.cs
  Robust.UnitTesting/Shared/Utility/MarkupNodeTest.cs
Owners: @PJB3005, @DrSmugleaf

resolve instances of the CS8974 warning (#5418)
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in ControlTest.cs
  Robust.UnitTesting/Client/UserInterface/ControlTest.cs
Owners: @PJB3005, @DrSmugleaf
