Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix warnings in SharedJointSystem
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

Fix reference to EC TransformComponent method Replaces call to TransformComponent.GetMapUid with SharedTransformSystem.GetMap
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
Owners: @metalgearsloth

Fix obsolete calls in SharedPhysicsSystem.Contacts.cs Fixes a couple calls to obsolete varients of SetAwake and an obsolete call to RegenerateContacts by converting them to their Entity<T> varients
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Fix obsolete call in SharedPhysicsSystem.Components.cs Adds one set of parenthesis to convert a 'uid, comp, comp, comp' call to an 'Entity<T, T, T> call.
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @metalgearsloth

Removes unused local var Removes an unused list of broadphases that was being allocated in TryCollideRect
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @metalgearsloth

One-line fixes in SharedPhysicsSystem.Islands.cs Fixes all of the easy warnings regarding physics island processing, the rest require more complicated changes than a simple argument rearrangement
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Fix obsolete method call in SharedMapSystem
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Coordinates.cs
Owners: @PJB3005, @DrSmugleaf

Fix a few obsolete ToMap calls in EntityLookup.Queries
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
Owners: @PJB3005, @DrSmugleaf

Fix calls to obsolete EntityCoordinate methods in SharedMapSystem.Grids
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

Fix calls to obsolete EntityCoordinate methods in SharedLookupSystem.ComponentQueries
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
Owners: @PJB3005, @DrSmugleaf

Fix a few obsolete method calls in entity spawning
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete method calls in MapLoaderSystem
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete method call in GridFixtureSystem
  Robust.Server/Physics/GridFixtureSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete IsMapInitialized call in SaveMap command
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Fix obsolete MapPosition reference in Client.EyeSystem
  Robust.Client/GameObjects/EntitySystems/EyeSystem.cs
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete EntitySystem.Get<TSystem> references in DebugLightTreeSystem
  Robust.Client/GameObjects/EntitySystems/DebugLightTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete EntitySystem.Get<TSystem> reference in DebugEntityLookup command
  Robust.Client/GameObjects/EntitySystems/DebugEntityLookupSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete method calls in SpriteBoundsOverlay Slightly more complicated than the rest, but it's really just changing an unused dependency over to use SharedTransformSystem
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
Owners: @PJB3005, @DrSmugleaf

Remove unused IClyde references from controls LineEdit and TextEdit never use their IClyde dependencies and it generates a warning so yeet
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/TextEdit.cs
Owners: @PJB3005, @DrSmugleaf

Remove use of EntitySystem.Get from lightbb command
  Robust.Client/Console/Commands/LightBBCommand.cs
Owners: @moonheart08

Fix DebugDrawingSystem Removes a bunch of unused private IEntityManager vars Also removes an obsolete use of TransformComponent.GetWorldPositionRotation
  Robust.Client/Debugging/DebugDrawingSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete method use in PlacementMode
  Robust.Client/Placement/PlacementMode.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete method use in Placement Modes
  Robust.Client/Placement/Modes/AlignSimilar.cs
  Robust.Client/Placement/Modes/AlignSnapgridBorder.cs
  Robust.Client/Placement/Modes/AlignTileDense.cs
  Robust.Client/Placement/Modes/AlignTileNonDense.cs
Owners: @PJB3005, @DrSmugleaf

Removes unused local var in gamestate management
  Robust.Client/GameStates/ClientGameStateManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix unreachable code warnings in gamestate management Use #else sections to make sure they don't complain about being on the wrong side of a throw
  Robust.Client/GameStates/ClientGameStateManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete ToMap use in EyeManager
  Robust.Client/Graphics/ClientEye/EyeManager.cs
Owners: @PJB3005, @DrSmugleaf

Make InputManager use a sawmill to log
  Robust.Client/Input/InputManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix obsolete ContainerManagerComponent method calls in ContainerSystem
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make ClientPrototypeManager use a sawmill for logging
  Robust.Client/Prototypes/ClientPrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix island propagation Accidentally swapped out the propagation part of the floodfill algorithm with a loop, fixed
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

so much hacky bullshit
  Robust.Client/GameObjects/EntitySystems/ClientParticlesSystem.cs
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

Basic SharedTransformSystem local matrix API
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Expand API
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .LocalMatrix references Converts uses of TransformComponent.LocalMatrix to use SharedTransformSystem.GetLocalMatrix
  Robust.Server/GameStates/PvsSystem.Chunks.cs
  Robust.Shared/GameObjects/Systems/SharedGridTraversalSystem.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .InvLocalMatrix references Converts uses of TransformComponent.InvLocalMatrix to use SharedTransformSystem.GetInvLocalMatrix
  Robust.Server/GameStates/PvsSystem.Chunks.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

SharedTransformSystem NoLocalRotation API
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .LocalRotation.set references Changes all uses of TransformComponent.LocalRotation.set to use SharedTransformSystem.SetLocalRotationNoLerp instead
  Robust.Client/Console/Commands/UITestCommand.TabSpriteView.cs
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
  Robust.Shared/Toolshed/Commands/Entities/ReplaceCommand.cs
  Robust.UnitTesting/Server/GameObjects/Components/Transform_Test.cs
  Robust.UnitTesting/Shared/GameObjects/TransformComponent_Tests.cs
  Robust.UnitTesting/Shared/Map/GridRotation_Tests.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Redirect .WorldMatrix references Changes all uses of TransformComponent.WorldMatrix to use SharedTransformSystem.GetWorldMatrix instead
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

Redirect .WorldPosition references Changes all uses of TransformComponent.WorldPosition to use SharedTransformSystem.GetWorldPosition instead
  Robust.Client/Placement/Modes/AlignSimilar.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
  Robust.UnitTesting/Shared/Physics/Stack_Test.cs
Owners: @PJB3005, @DrSmugleaf

Redirect .LocalPosition.set references Changes all uses of TransformComponent.LocalPosition.set to use SharedTransformSystem.SetLocalPositionNoLerp instead
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
  Robust.UnitTesting/Shared/Map/EntityCoordinates_Tests.cs
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
Owners: @PJB3005, @DrSmugleaf
