Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Debug asserts
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

Make BoundUserInterfaceMessageAttempt broadcast again (#5821)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix not escaping text
  Robust.Client/UserInterface/UserInterfaceManager.Layout.cs
Owners: @PJB3005, @DrSmugleaf

Fix SharedJointSystem.CreateDistanceJoint taking in an int for minimumDistance instead of a float
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

Cleanup warnings: Commands
  Robust.Shared/Console/Commands/MapCommands.cs
  Robust.Shared/Console/Commands/TeleportCommands.cs
  Robust.Shared/Map/Commands/AmbientLightCommand.cs
Owners: @moonheart08

Fix NRE in screen-space overlays (#5823)
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

Improve location reporting for non-writeable DataFields (#5715)
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Fix SharedJointSystem.CreateDistanceJoint taking in an int for minimumDistance instead of a float (#5824)
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

Update
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/GameObjects/CompIdx.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Fix bad debug assert
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

CompIdx fix
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/CompIdx.cs
  Robust.Shared/GameObjects/ComponentFactory.cs
Owners: @PJB3005, @DrSmugleaf

Better compidx caching
  Robust.Shared/GameObjects/CompIdx.cs
Owners: @PJB3005, @DrSmugleaf

Faster CompIdx version
  Robust.Shared/GameObjects/CompIdx.cs
  Robust.Shared/GameObjects/ComponentFactory.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Allow toolshed commands to use entity system dependencies
  RELEASE-NOTES.md
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix bad debug assert (#5826)
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

Fix popup text overflowing the sides of the screen (#5788)
  Robust.Client/UserInterface/UserInterfaceManager.Layout.cs
Owners: @PJB3005, @DrSmugleaf

Rename and bump timeout
  Robust.Benchmarks/Configs/RobustConfig.cs
  Robust.Client/UserInterface/CustomControls/DebugConsole.Completions.xaml.cs
Owners: @PJB3005, @DrSmugleaf

This
  Robust.Benchmarks/Program.cs
Owners: @PJB3005, @DrSmugleaf

Make TestPoint use generics
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
Owners: @metalgearsloth

Make TestPoint use generics (#5828)
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
Owners: @metalgearsloth

Support snake_case toolshed commands
  Robust.Server/BaseServer.cs
  Robust.Shared/GameObjects/EntitySystem.cs
  Robust.Shared/GameObjects/EntitySystemUpdateOrderCommand.cs
  Robust.Shared/Toolshed/Commands/Entities/Components/AllCompsCommand.cs
  Robust.Shared/Toolshed/Commands/Entities/World/MapPosCommand.cs
  Robust.Shared/Toolshed/Commands/GameTiming/CurTickCommand.cs
  Robust.Shared/Toolshed/Commands/GameTiming/CurTimeCommand.cs
  Robust.Shared/Toolshed/Commands/GameTiming/RealTimeCommand.cs
  Robust.Shared/Toolshed/Commands/GameTiming/ServerTimeCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/IsEmptyCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/IsNullCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/Ordering/SortByCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/Ordering/SortDownByCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/Ordering/SortDownCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/Ordering/SortMapByCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/Ordering/SortMapDownByCommand.cs
  Robust.Shared/Toolshed/Commands/Math/ArithmeticCommands.cs
  Robust.Shared/Toolshed/Commands/Math/BinaryArithmeticCommands.cs
  Robust.Shared/Toolshed/Commands/Math/FloatCoreCommands.cs
  Robust.Shared/Toolshed/Commands/Math/NumAsCommand.cs
  Robust.Shared/Toolshed/Commands/Math/NumberQuestionCommands.cs
  Robust.Shared/Toolshed/Commands/Math/TrigonometryCommands.cs
  Robust.Shared/Toolshed/Commands/Misc/BuildInfoCommand.cs
  Robust.Shared/Toolshed/Commands/Misc/IoCCommand.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
  Robust.Shared/Toolshed/ToolshedManager.Permissions.cs
  Robust.Shared/Toolshed/ToolshedManager.cs
  Robust.Shared/Utility/StringExtensions.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

a
  Robust.Shared/Toolshed/ToolshedCommand.cs
Owners: @moonheart08

Cleanup warnings: Commands (#5825)
  Robust.Shared/Console/Commands/MapCommands.cs
  Robust.Shared/Console/Commands/TeleportCommands.cs
  Robust.Shared/Map/Commands/AmbientLightCommand.cs
Owners: @moonheart08

More map validator fixes (#5820)
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Schemas/mapfile.yml
Owners: @PJB3005, @DrSmugleaf

ItemList optimisation (#5796)
  Robust.Client/UserInterface/Controls/ItemList.cs
  Robust.Client/ViewVariables/ViewVariablesAddWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 253.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Mark GetCollidingEntities as obsolete
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @metalgearsloth

Mark GetCollidingEntities as obsolete (#5831)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @metalgearsloth

Tweaks + predicted del
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/Containers/ContainerSlot.cs
  Robust.Shared/GameObjects/Components/PredictedSpawnComponent.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix error
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
Owners: @PJB3005, @DrSmugleaf

Proxy methods
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Fix predicted spawns
  Robust.Client/GameStates/ClientGameStateManager.cs
Owners: @PJB3005, @DrSmugleaf

Helper methods
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
Owners: @PJB3005, @DrSmugleaf

Predicted mapping
  Robust.Client/Placement/PlacementManager.cs
  Robust.Server/BaseServer.cs
  Robust.Server/Placement/IPlacementManager.cs
  Robust.Server/Placement/PlacementManager.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/Network/Messages/MsgPlacement.cs
  Robust.Shared/Placement/SharedPlacementSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add SharedMapSystem.Tilestack
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Tilestack.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/Map/Components/TilestackMapGridComponent.cs
Owners: @PJB3005, @DrSmugleaf

Use ValueList instead
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
Owners: @PJB3005, @DrSmugleaf

Start rewriting it
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Tilestack.cs
Owners: @PJB3005, @DrSmugleaf

i think it is done
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Tilestack.cs
Owners: @PJB3005, @DrSmugleaf
