Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix error in some localization functions when an argument is not an EntityUid
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

Fix typo (it's -> its)
  Resources/Locale/en-US/toolshed-commands.ftl
Owners: @PJB3005, @DrSmugleaf

Add a new toolshed command `spawn:in` (#6021)
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix error in some localization functions when an argument is not an EntityUid (#6022)
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

vv visible readonly bool
  Robust.Client/ViewVariables/Editors/VVPropEditorBoolean.cs
Owners: @PJB3005, @DrSmugleaf

withalpha
  Robust.Client/ViewVariables/Editors/VVPropEditorBoolean.cs
Owners: @PJB3005, @DrSmugleaf

revert
  Robust.Client/ViewVariables/Editors/VVPropEditorBoolean.cs
Owners: @PJB3005, @DrSmugleaf

Attribute, analyzer, and tests
  Robust.Analyzers.Tests/ProxyForAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ProxyForAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ProxyForAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Add attribute to EntitySystem methods
  Robust.Analyzers/ProxyForAnalyzer.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Code fixer for redundant method name
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
  Robust.Analyzers.Tests/ProxyForFixerTest.cs
  Robust.Analyzers/ProxyForFixer.cs
Owners: @PJB3005, @DrSmugleaf

Code fixer for proxy substitution
  Robust.Analyzers.Tests/ProxyForFixerTest.cs
  Robust.Analyzers/ProxyForAnalyzer.cs
  Robust.Analyzers/ProxyForFixer.cs
Owners: @PJB3005, @DrSmugleaf

Comments
  Robust.Analyzers/ProxyForFixer.cs
Owners: @PJB3005, @DrSmugleaf

Changed SpriteComponent layer keys to be objects
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Shared/GameObjects/Components/Renderable/SpriteLayerData.cs
Owners: @PJB3005, @DrSmugleaf

removed errant line break
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Improve error message when target method is not found
  Robust.Analyzers.Tests/ProxyForAnalyzerTest.cs
  Robust.Analyzers/ProxyForAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

changes SpriteComponent to use object as LayerKey
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Shared/GameObjects/Components/Renderable/SpriteLayerData.cs
Owners: @PJB3005, @DrSmugleaf

Modify AddComp signature to match AddComponent (Component -> IComponent)
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Clean up all missing EntitySystem proxy method uses
  Robust.Client/Debugging/DebugAnchoringSystem.cs
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameObjects/EntitySystems/InputSystem.cs
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
  Robust.Client/Physics/JointSystem.cs
  Robust.Server/GameObjects/EntitySystems/MapSystem.cs
  Robust.Server/GameObjects/EntitySystems/ViewSubscriberSystem.cs
  Robust.Server/GameStates/PvsSystem.GetStates.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Server/Player/FilterSystem.cs
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/GameObjects/Systems/CollideOnAnchorSystem.cs
  Robust.Shared/GameObjects/Systems/PrototypeReloadSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/GameObjects/Systems/TimerSystem.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Revert "Modify AddComp signature to match AddComponent (Component -> IComponent)"
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Make AddComp where clause consistent with AddComponent
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Check that proxy and target have matching type constraints
  Robust.Analyzers/ProxyForAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Reapply "Modify AddComp signature to match AddComponent (Component -> IComponent)"
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Add API to load maps from byte stream
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.cs
Owners: @PJB3005, @DrSmugleaf

move to CheckBox.cs
  Robust.Client/UserInterface/Controls/CheckBox.cs
Owners: @PJB3005, @DrSmugleaf

Fix culture-based parsing in TimespanSerializer
  Robust.Shared/Serialization/TypeSerializers/Implementations/TimespanSerializer.cs
Owners: @PJB3005, @DrSmugleaf

soft only plz
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
Owners: @PJB3005, @DrSmugleaf

soft only plz (#6030)
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
Owners: @PJB3005, @DrSmugleaf

Boost efficiency by only searching for proxy methods once. Previously we searched with each method invocation. This also lets us skip analysis on classes with no proxy methods available.
  Robust.Analyzers/ProxyForAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Revert unrelated change
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
Owners: @PJB3005, @DrSmugleaf

Fine, I'll do it properly
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
Owners: @PJB3005, @DrSmugleaf

Minor cleanup
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

A little more cleanup
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

More specific location for redundant name
  Robust.Analyzers.Tests/PrototypeAnalyzerTest.cs
  Robust.Analyzers.Tests/PrototypeFixerTest.cs
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Refactor redundant name fixer so argument order is no longer important
  Robust.Analyzers/PrototypeFixer.cs
Owners: @PJB3005, @DrSmugleaf

break, not continue
  Robust.Analyzers/ValidateMemberAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Cheaper attribute check with AttributeHelper
  Robust.Analyzers/ValidateMemberAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Fix debug assert when loading MIDI on Windows.
  RELEASE-NOTES.md
  Robust.Client/Audio/Midi/IMidiRenderer.cs
  Robust.Client/Audio/Midi/MidiManager.SoundFontLoad.cs
  Robust.Client/Audio/Midi/MidiManager.cs
  Robust.Client/Audio/Midi/MidiRenderer.SoundFontLoad.cs
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Skip fields/properties not in DataDefs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Only check IsDataField once per field/property
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Remove pointless foreach loop
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf
