Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Use attribute on DirtyFields methods
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Defer member lookup
  Robust.Analyzers/ValidateMemberAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Additional test case
  Robust.Analyzers.Tests/ValidateMemberAnalyzerTest.cs
Owners: @PJB3005, @DrSmugleaf

Actually check if map save succeeded before displaying success message
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/pt-BR/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Actually check save success for saving grids
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Improve map save error message
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/pt-BR/commands.ftl
Owners: @PJB3005, @DrSmugleaf

Add support for method return types, properties, and arrays.
  Robust.Analyzers.Tests/PreferOtherTypeAnalyzerTest.cs
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
  Robust.Analyzers/PreferOtherTypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Fix newly flagged errors
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
Owners: @moonheart08

Suppress warning in EntProtoId
  Robust.Shared/Prototypes/EntProtoId.cs
Owners: @PJB3005, @DrSmugleaf

refactor: added tests, changed exception types for some methods (FormattedMessage)
  Robust.Shared/Utility/FormattedMessage.cs
  Robust.UnitTesting/Shared/Utility/FormattedMessage_Test.cs
Owners: @PJB3005, @DrSmugleaf

refactor: tests + endless cycles in FormattedMessage.InsertBeforeTag /InsertAfterTag
  Robust.Shared/Utility/FormattedMessage.cs
  Robust.UnitTesting/Shared/Utility/FormattedMessage_Test.cs
Owners: @PJB3005, @DrSmugleaf

Nah, this way was better
  Robust.Analyzers/PreferOtherTypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Add test cases for nullables
  Robust.Analyzers.Tests/PreferOtherTypeAnalyzerTest.cs
  Robust.Analyzers.Tests/PreferOtherTypeFixerTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix one instance in PrototypeTypeParser
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
Owners: @moonheart08

Fix two instances in EntProtoId (is this okay?)
  Robust.Shared/Prototypes/EntProtoId.cs
Owners: @PJB3005, @DrSmugleaf

Fix instances in Toolshed tests
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Hey, that's not a field
  Robust.Analyzers/PreferOtherTypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Normalize indentation and style
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Add support for collection types
  Robust.Analyzers.Tests/ValidateMemberAnalyzerTest.cs
  Robust.Analyzers/ValidateMemberAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

refactor: xml-doc, refactored new FormattedMessage methods for better readability
  Robust.Shared/Utility/FormattedMessage.cs
  Robust.UnitTesting/Shared/Utility/FormattedMessage_Test.cs
Owners: @PJB3005, @DrSmugleaf

Better location reporting for readonly DataField errors
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Better location reporting for readonly DataField property errors
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Add support for collection types"
  Robust.Analyzers.Tests/ValidateMemberAnalyzerTest.cs
  Robust.Analyzers/ValidateMemberAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Switch tests to use an engine prototype to unbreak yaml linter
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Validate that ProtoId values are not abstract
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
Owners: @PJB3005, @DrSmugleaf

nameof
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Add Regex.Count and StringBuilder.set_Chars to sandbox whitelist
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add Regex.Count and StringBuilder.set_Chars to sandbox whitelist (#5717)
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add Prototype analyzer
  Robust.Analyzers.Tests/PrototypeAnalyzerTest.cs
  Robust.Analyzers/PrototypeAnalyzer.cs
  Robust.Analyzers/Robust.Analyzers.csproj
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeUtility.cs
Owners: @PJB3005, @DrSmugleaf

Add Prototype fixer
  Robust.Analyzers.Tests/PrototypeFixerTest.cs
  Robust.Analyzers/PrototypeFixer.cs
Owners: @PJB3005, @DrSmugleaf

Early return after finding prototype attribute
  Robust.Analyzers/PrototypeAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Add PrototypeEndsWithPrototypeRule diagnostic
  Robust.Analyzers.Tests/PrototypeAnalyzerTest.cs
  Robust.Analyzers.Tests/PrototypeFixerTest.cs
  Robust.Analyzers/PrototypeAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Prototypes/PrototypeUtility.cs
Owners: @PJB3005, @DrSmugleaf

Predicted spawns
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Client/GameObjects/Components/PredictedSpawnComponent.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Add public API for physicshull
  Robust.Shared/Physics/Collision/InternalPhysicsHull.cs
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/PhysicsHull.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.UnitTesting/Shared/Physics/PhysicsHull_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Add public API for physicshull (#5719)
  Robust.Shared/Physics/Collision/InternalPhysicsHull.cs
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/PhysicsHull.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.UnitTesting/Shared/Physics/PhysicsHull_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Version: 248.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Cleanup: Remove redundant Prototype names
  Robust.Shared/Audio/AudioMetadataPrototype.cs
  Robust.Shared/Audio/AudioPresetPrototype.cs
  Robust.Shared/Audio/SoundCollectionPrototype.cs
  Robust.Shared/Prototypes/EntityCategoryPrototype.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
  Robust.Shared/Prototypes/TileAliasPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Actually this one probably should stay
  Robust.Shared/Audio/AudioMetadataPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Suppress warning
  Robust.Shared/Audio/AudioMetadataPrototype.cs
Owners: @PJB3005, @DrSmugleaf

refactor: marked FormattedMessage.TryGetMessageInsideTag with proper attribute for null convention checks
  Robust.Shared/Utility/FormattedMessage.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
