Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix warnings in GameLoop_Test.cs
  Robust.UnitTesting/Shared/Timing/GameLoop_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in UserInterfaceManagerTest.cs
  Robust.UnitTesting/Client/UserInterface/UserInterfaceManagerTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in Transform_Test.cs
  Robust.UnitTesting/Server/GameObjects/Components/Transform_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in TransformComponent_Tests.cs
  Robust.UnitTesting/Shared/GameObjects/TransformComponent_Tests.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in FormattedMessage_Test.cs
  Robust.UnitTesting/Shared/Utility/FormattedMessage_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in GridTraversalTest.cs
  Robust.UnitTesting/Shared/TransformTests/GridTraversalTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in ToolshedTypesTest.BugCheck.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTypesTest.BugCheck.cs
Owners: @moonheart08

Fix warnings in PvsSystemTests.cs
  Robust.UnitTesting/Server/GameStates/PvsSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

Wait why is that even returning a task in the first place
  Robust.UnitTesting/Shared/Toolshed/ToolshedTypesTest.BugCheck.cs
Owners: @moonheart08

Fix warnings in ToolshedTypesTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTypesTest.cs
Owners: @moonheart08

Fix warnings in ToolshedTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTest.cs
Owners: @moonheart08

Fix warnings in Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
Owners: @PJB3005, @DrSmugleaf

SimulationExtensions helpers for RobustServerSimulation
  Robust.UnitTesting/Server/RobustServerSimulation.cs
Owners: @PJB3005, @DrSmugleaf

Entity<T> overloads for some MapSystem methods.
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

EntityUid-only overloads for some TransformSystem methods
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Fix most warnings in AnchoredSystemTests.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in ArithmeticTest.cs
  Robust.UnitTesting/Shared/Toolshed/ArithmeticTest.cs
Owners: @moonheart08

archent
  Robust.Shared/GameObjects/EntityManager.Arch.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/IEntityManager.Arch.cs
Owners: @PJB3005, @DrSmugleaf

Make Rider not complain about Is. in Robust.UnitTesting, globally.
  Robust.UnitTesting/.editorconfig
  Robust.UnitTesting/Client/Graphics/EyeTest.cs
  Robust.UnitTesting/Server/GameObjects/Components/Container_Test.cs
  Robust.UnitTesting/Shared/GameObjects/ComponentFactory_Tests.cs
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
  Robust.UnitTesting/Shared/GameState/DeletionNetworkingTests.cs
  Robust.UnitTesting/Shared/Map/EntityCoordinates_Tests.cs
  Robust.UnitTesting/Shared/Map/MapPauseTests.cs
  Robust.UnitTesting/Shared/Maths/NumericsHelpers_Test.cs
  Robust.UnitTesting/Shared/Physics/BroadphaseNetworkingTest.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/RecursiveUpdateTest.cs
  Robust.UnitTesting/Shared/Random/RandomExtensionsTests.cs
  Robust.UnitTesting/Shared/Serialization/PropertyAndFieldDefinitionTest.cs
  Robust.UnitTesting/Shared/Serialization/SerializationPriorityTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/AngleSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ArraySerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/Box2SerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ColorSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ComponentRegistrySerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/Custom/FlagSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/Custom/Prototype/PrototypeIdListSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/DictionarySerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/FormattedMessageSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/HashSetSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/IntegerSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ListSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/RegexSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/SortedSetSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/YamlObjectSerializerTests/ImmutableListSerializationTest.cs
  Robust.UnitTesting/Shared/Serialization/YamlObjectSerializerTests/TypePropertySerialization_Test.cs
  Robust.UnitTesting/Shared/Serialization/YamlObjectSerializerTests/TypeSerialization_Test.cs
  Robust.UnitTesting/Shared/Utility/MarkupNodeTest.cs
  Robust.UnitTesting/Shared/Utility/ResPathTest.cs
  Robust.UnitTesting/Shared/Utility/TextRope_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in EntityManager_Components_Tests.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManager_Components_Tests.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in FormattedMessageSerializerTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/FormattedMessageSerializerTest.cs
Owners: @PJB3005, @DrSmugleaf

Remove last FormattedMessage.FromMarkup calls
  Robust.Server/Toolshed/Commands/Players/PlayersCommand.cs
  Robust.Shared/Toolshed/Syntax/Block.cs
  Robust.Shared/Toolshed/Syntax/Expression.cs
  Robust.Shared/Toolshed/Syntax/ParsedCommand.cs
  Robust.Shared/Toolshed/ToolshedManager.Parsing.cs
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/ComponentTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/AngleTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/ColorTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/NumberBaseTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/SpanLikeTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/QuantityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
Owners: @moonheart08

arch refs
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Fix dead code equals method in Polygon
  Robust.Shared/Physics/Shapes/Polygon.cs
Owners: @metalgearsloth

Add enttraitarray back
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

better count
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Introduce a WarningsAsErrors block to Robust.Properties.targets
  MSBuild/Robust.Properties.targets
Owners: @PJB3005, @DrSmugleaf

Try fix invalid PVS index bug
  RELEASE-NOTES.md
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
  Robust.Server/GameStates/PvsSystem.Dirty.cs
  Robust.Server/GameStates/PvsSystem.Entity.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
Owners: @PJB3005, @DrSmugleaf

bounds check
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.Shared/Utility/ResizableMemoryRegion.cs
Owners: @PJB3005, @DrSmugleaf

More Asserts
  Robust.Server/GameStates/PvsSystem.Overrides.cs
  Robust.Server/GameStates/PvsSystem.ToSendSet.cs
Owners: @PJB3005, @DrSmugleaf

fix assert?
  Robust.Server/GameStates/PvsData.cs
  Robust.Server/GameStates/PvsSystem.Overrides.cs
  Robust.Server/GameStates/PvsSystem.ToSendSet.cs
Owners: @PJB3005, @DrSmugleaf

remove deletion
  Robust.Server/GameStates/PvsSystem.ToSendSet.cs
Owners: @PJB3005, @DrSmugleaf

Re-attempt `FlushEntities()` on failure
  RELEASE-NOTES.md
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

a
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Move testbed command to benchmarks
  Robust.Benchmarks/Physics/BoxStackBenchmark.cs
  Robust.Benchmarks/Physics/CircleStackBenchmark.cs
  Robust.Benchmarks/Physics/PyramidBenchmark.cs
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Server/Console/Commands/TestbedCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Move testbed command to benchmarks (#5424)
  Robust.Benchmarks/Physics/BoxStackBenchmark.cs
  Robust.Benchmarks/Physics/CircleStackBenchmark.cs
  Robust.Benchmarks/Physics/PyramidBenchmark.cs
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Server/Console/Commands/TestbedCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

robust
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Add algorithm from ss14#30292 to ItemList, for use in other UIs
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

Fix warning in ScriptGlobalsShared.cs
  Robust.Shared.Scripting/ScriptGlobalsShared.cs
Owners: @PJB3005, @DrSmugleaf

Rebuild
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Shared/Physics/BroadPhase/DynamicTreeBroadPhase.cs
  Robust.Shared/Physics/IBroadPhase.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth
