Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Add GetWorldManifold overload
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

Don't raise wake events for terminating contacts
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

revert
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Add velocity and angular velocity debug overlays (#5693)
  RELEASE-NOTES.md
  Resources/Locale/en-US/commands.ftl
  Robust.Client/Console/Commands/Debug.cs
  Robust.Client/Console/Commands/ShowPlayerVelocityCommand.cs
  Robust.Client/Debugging/DebugDrawingSystem.cs
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Inline polygon vertices
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.LocalQueries.cs
  Robust.Shared/Map/MapManager.Queries.cs
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/Shapes/FastPolygon.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Shapes/SlimPolygon.cs
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Pool.cs
  Robust.Shared/Utility/FixedArray.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
  Robust.UnitTesting/Shared/Physics/Shapes/Polygon_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Unhide these
  Robust.Shared/Physics/Shapes/Polygon.cs
Owners: @metalgearsloth

Fix showvelocities
  Robust.Client/GameObjects/EntitySystems/VelocityDebugSystem.cs
Owners: @PJB3005, @DrSmugleaf

Also file-scoped
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Shapes/SlimPolygon.cs
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
Owners: @metalgearsloth

More fixes
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
  Robust.UnitTesting/Shared/Physics/Shape_Test.cs
  Robust.UnitTesting/Shared/Physics/Shapes/Polygon_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

More fixes
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Shapes/SlimPolygon.cs
Owners: @metalgearsloth

Fix showvelocities (#5759)
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add GetWorldManifold overload (#5756)
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

Avoid potential bomb
  Robust.Shared/Physics/Collision/DistanceProxy.cs
Owners: @metalgearsloth

Inline polygon vertices (#5758)
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.LocalQueries.cs
  Robust.Shared/Map/MapManager.Queries.cs
  Robust.Shared/Physics/Collision/CollisionManager.Overlap.cs
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Shapes/SlimPolygon.cs
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Pool.cs
  Robust.Shared/Utility/FixedArray.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
  Robust.UnitTesting/Shared/Physics/Shape_Test.cs
  Robust.UnitTesting/Shared/Physics/Shapes/Polygon_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

fix (#5752)
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Add UpdateVisibilityMask method (#5745)
  Robust.Shared/GameObjects/Components/Eye/VisibilityComponent.cs
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Version: 249.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Add entity description as tooltip on entity spawn panel
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Replace uses of ProtoId<EntityPrototype> with ProtoId<EntityCategoryPrototype>
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Source gen changes
  Robust.Serialization.Generator/Generator.cs
  Robust.Serialization.Generator/Types.cs
Owners: @PJB3005, @DrSmugleaf

Addressed review comment
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Replace uses of ProtoId<EntityPrototype> with ProtoId<EntityCategoryPrototype> (#5762)
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Version: 248.0.2-source-gen-debug
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Make Is public
  Robust.UnitTesting/Is.cs
Owners: @PJB3005, @DrSmugleaf

Add PrototypeManager Has.Index(ProtoId<T>)
  Robust.UnitTesting/Constraints/PrototypeIndexConstraint.cs
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

Add PrototypeManager Has.Index<T>(string)
  Robust.UnitTesting/Constraints/PrototypeIndexConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup
  Robust.UnitTesting/Constraints/PrototypeIndexConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Rename PrototypeIndexConstraint -> PrototypeManagerIndexConstraint
  Robust.UnitTesting/Constraints/PrototypeManagerIndexConstraint.cs
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

Simplified result
  Robust.UnitTesting/Constraints/PrototypeManagerIndexConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityPrototype Has.Component<T>(IComponentFactory)
  Robust.UnitTesting/Constraints/EntityPrototypeComponentConstraint.cs
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

More helpful message for EntityPrototypeComponentConstraint
  Robust.UnitTesting/Constraints/EntityPrototypeComponentConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Syntactic sugar
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

More helpful message for PrototypeManagerIndexConstraint
  Robust.UnitTesting/Constraints/PrototypeManagerIndexConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Fix serialization source gen with partial types
  RELEASE-NOTES.md
  Robust.Serialization.Generator/Generator.cs
Owners: @PJB3005, @DrSmugleaf

Shut up RS1038 warnings
  Robust.Roslyn.Shared/Robust.Roslyn.Shared.props
Owners: @PJB3005, @DrSmugleaf

Add pure to some angle methods
  Robust.Shared.Maths/Angle.cs
  Robust.Shared.Maths/Direction.cs
Owners: @PJB3005, @DrSmugleaf

Add pure to some angle methods (#5763)
  Robust.Shared.Maths/Angle.cs
  Robust.Shared.Maths/Direction.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
