Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

networked
  Robust.Shared/Map/Components/TilestackMapGridComponent.cs
Owners: @PJB3005, @DrSmugleaf

add comp to unit test
  Robust.UnitTesting/RobustUnitTest.cs
Owners: @PJB3005, @DrSmugleaf

Update SharedPhysicsSystem.Queries.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @metalgearsloth

that fixes it on my machine
  Robust.UnitTesting/Server/RobustServerSimulation.cs
Owners: @PJB3005, @DrSmugleaf

Update SharedPhysicsSystem.Queries.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @metalgearsloth

use bool
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @moonheart08

Actually initialize it on the client
  Robust.Client/GameController/GameController.cs
Owners: @PJB3005, @DrSmugleaf

Use Cvar
  Robust.Shared/CVars.cs
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

update release notes and undo changes
  RELEASE-NOTES.md
  Robust.Client/GameController/GameController.cs
  Robust.Server/BaseServer.cs
Owners: @PJB3005, @DrSmugleaf

simplify
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @moonheart08

a
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
Owners: @moonheart08

Fuck I left the debug print in
  Robust.Shared/Toolshed/ToolshedCommand.cs
Owners: @moonheart08

Fuck it just force a breaking change I CBF debugging the cvar shenanigans
  RELEASE-NOTES.md
  Robust.Shared/CVars.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
  Robust.Shared/Toolshed/ToolshedManager.Permissions.cs
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

undo uneccesary changes
  Robust.Shared/Toolshed/ToolshedManager.Permissions.cs
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @moonheart08

fix test commands
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
Owners: @moonheart08

Tweaks
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Server/GameObjects/ServerEntityManager.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Entity spawn prediction v1
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Components/PredictedSpawnComponent.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Disable tile edges
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Add SnapToGrid to engine
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
Owners: @PJB3005, @DrSmugleaf

Component lifecycle generics
  Robust.Shared/GameObjects/EntityManager.LifeCycle.cs
Owners: @PJB3005, @DrSmugleaf

Disable tile edges (#5842)
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Component lifecycle generics (#5844)
  Robust.Shared/GameObjects/EntityManager.LifeCycle.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup warnings in CollisionWake_Test
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add FFDH sorting for atlases
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
Owners: @PJB3005, @DrSmugleaf

Minor cleanup and value lists
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
Owners: @PJB3005, @DrSmugleaf

A compilation of simple one-line fixes (#5661)
  Robust.Client/Console/Commands/DebugAnchoredCommand.cs
  Robust.Client/Console/Commands/LightBBCommand.cs
  Robust.Client/Console/Commands/ShowPlayerVelocityCommand.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
  Robust.Client/GameObjects/EntitySystems/DebugEntityLookupSystem.cs
  Robust.Client/GameObjects/EntitySystems/DebugLightTreeSystem.cs
  Robust.Client/GameObjects/EntitySystems/EyeSystem.cs
  Robust.Client/Graphics/ClientEye/EyeManager.cs
  Robust.Client/Input/InputManager.cs
  Robust.Client/Placement/Modes/AlignSimilar.cs
  Robust.Client/Placement/Modes/AlignSnapgridBorder.cs
  Robust.Client/Placement/Modes/AlignTileDense.cs
  Robust.Client/Placement/Modes/AlignTileNonDense.cs
  Robust.Client/Placement/PlacementMode.cs
  Robust.Client/Prototypes/ClientPrototypeManager.cs
  Robust.Server/Physics/GridFixtureSystem.cs
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Coordinates.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf, @metalgearsloth

Add `GetContainingContainers` method to `SharedContainerSystem` (#5803)
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

evil
  Robust.Shared/Random/RandomPredicted.cs
Owners: @PJB3005, @DrSmugleaf

emogarbg
  Robust.Shared/Random/RandomPredicted.cs
Owners: @PJB3005, @DrSmugleaf

add DirtyField variants for non-optional Entity<T>
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup warnings in CollisionWake_Test (#5847)
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add debug assert to entity audio stop
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make MappingDataNode use string keys (#5783)
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
  Robust.Shared/Physics/FixtureSerializer.cs
  Robust.Shared/Prototypes/PrototypeManager.YamlLoad.cs
  Robust.Shared/Replays/ReplayData.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/DataNode.cs
  Robust.Shared/Serialization/Markdown/DataNodeHelpers.cs
  Robust.Shared/Serialization/Markdown/DataNodeParser.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNodeExtensions.cs
  Robust.Shared/Serialization/Markdown/Sequence/SequenceDataNode.cs
  Robust.Shared/Serialization/Markdown/Value/ValueDataNode.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/AbstractDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/Dictionary/PrototypeIdDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/Dictionary/PrototypeIdValueDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/DictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ValueTupleSerializer.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ReadValueProviderTests.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Version: 254.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Allow subclasses of RichTextLabel to get a copy of the parsed message
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
Owners: @PJB3005, @DrSmugleaf

Update Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
Owners: @PJB3005, @DrSmugleaf

Update Clyde.GridRendering.cs (#5852)
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
Owners: @PJB3005, @DrSmugleaf

add RecursiveGetAllEntitiesWithComp
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

rename
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Otel Preparation: Hide Prometheus dependency, etc
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Client/IGameController.cs
  Robust.Server/BaseServer.cs
  Robust.Server/GameObjects/ServerEntityManager.cs
  Robust.Server/GameStates/PvsSystem.Ack.cs
  Robust.Server/GameStates/PvsSystem.Chunks.cs
  Robust.Server/GameStates/PvsSystem.Dirty.cs
  Robust.Server/GameStates/PvsSystem.Leave.cs
  Robust.Server/GameStates/PvsSystem.Send.cs
  Robust.Server/GameStates/PvsSystem.Serialize.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Server/Observability/Prometheus/MetricsManager.Factory.cs
  Robust.Server/Observability/Prometheus/MetricsManager.MetricsServer.cs
  Robust.Server/Observability/Prometheus/MetricsManager.UpdateMetrics.cs
  Robust.Server/Observability/Prometheus/MetricsManager.cs
  Robust.Server/Player/PlayerManager.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystemManager.cs
  Robust.Shared/GameObjects/IEntityManager.cs
  Robust.Shared/Network/NetManager.cs
  Robust.Shared/Observability/Counter.cs
  Robust.Shared/Observability/Gauge.cs
  Robust.Shared/Observability/Histogram.cs
  Robust.Shared/Observability/Metrics.cs
  Robust.Shared/Observability/MetricsManager.cs
  Robust.Shared/Observability/Timer.cs
  Robust.Shared/Physics/Controllers/VirtualController.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.Shared/Serialization/RobustMappedStringSerializer.cs
  Robust.Shared/Timing/GameLoop.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth
