Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Remove an extra IsDataDefinition check
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Add tests for partial datadefs and partial nested datadefs
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
Owners: @PJB3005, @DrSmugleaf

Add test for redundant datafield tag
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Blank lines upset me
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
Owners: @PJB3005, @DrSmugleaf

Revert unneeded changes from testing
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Make AddComp where clause consistent with AddComponent (#6028)
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Hot fix
  Resources/Locale/pt-BR/_engine_lib.ftl
  Resources/Locale/pt-BR/client-state-commands.ftl
  Resources/Locale/pt-BR/commands.ftl
  Resources/Locale/pt-BR/controls.ftl
  Resources/Locale/pt-BR/custom-controls.ftl
  Resources/Locale/pt-BR/defaultwindow.ftl
  Resources/Locale/pt-BR/input.ftl
  Resources/Locale/pt-BR/midi-commands.ftl
  Resources/Locale/pt-BR/tab-container.ftl
  Resources/Locale/pt-BR/view-variables.ftl
Owners: @PJB3005, @DrSmugleaf

adds typeselector (thanks pbj)
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
Owners: @PJB3005, @DrSmugleaf

adds typeselector (thanks pbj) (#6038)
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Remove pointless foreach loop"
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Add tests for remaining `DataDefinitionAnalyzer` diagnostics (#6034)
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Restore analysis of multiple declarations
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Restore comment
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix bad change that caused closure allocation
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

tuple
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

fix: don't delete people who are teleported to themselves
  Robust.Shared/Console/Commands/TeleportCommands.cs
Owners: @moonheart08

fix: don't delete people who are teleported to themselves (#6040)
  Robust.Shared/Console/Commands/TeleportCommands.cs
Owners: @moonheart08

Misleading method name
  Robust.Analyzers/ProxyForFixer.cs
Owners: @PJB3005, @DrSmugleaf

Preserve trivia when when replacing method
  Robust.Analyzers.Tests/ProxyForFixerTest.cs
  Robust.Analyzers/ProxyForFixer.cs
Owners: @PJB3005, @DrSmugleaf

Prevent flagging method calls on non-member variables
  Robust.Analyzers.Tests/ProxyForAnalyzerTest.cs
  Robust.Analyzers/ProxyForAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Prevent flagging method calls on other classes
  Robust.Analyzers.Tests/ProxyForAnalyzerTest.cs
  Robust.Analyzers/ProxyForAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Revert "tuple"
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Fix bad change that caused closure allocation"
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Restore comment"
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Clean up all missing EntitySystem proxy method uses"
  Robust.Client/Debugging/DebugAnchoringSystem.cs
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameObjects/EntitySystems/InputSystem.cs
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
  Robust.Client/Physics/JointSystem.cs
  Robust.Server/GameObjects/EntitySystems/MapSystem.cs
  Robust.Server/GameObjects/EntitySystems/ViewSubscriberSystem.cs
  Robust.Server/GameStates/PvsSystem.GetStates.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Server/Player/FilterSystem.cs
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/GameObjects/Systems/CollideOnAnchorSystem.cs
  Robust.Shared/GameObjects/Systems/PrototypeReloadSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/GameObjects/Systems/TimerSystem.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Redo with improved code fixer. Let's see how it fares this time
  Robust.Client/Debugging/DebugAnchoringSystem.cs
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameObjects/EntitySystems/InputSystem.cs
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
  Robust.Client/Physics/JointSystem.cs
  Robust.Server/GameObjects/EntitySystems/MapSystem.cs
  Robust.Server/GameObjects/EntitySystems/ViewSubscriberSystem.cs
  Robust.Server/GameStates/PvsSystem.GetStates.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Server/Player/FilterSystem.cs
  Robust.Shared/GameObjects/Systems/CollideOnAnchorSystem.cs
  Robust.Shared/GameObjects/Systems/PrototypeReloadSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/GameObjects/Systems/TimerSystem.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

use stylesheets
  Resources/EnginePrototypes/UserInterface/uiThemes.yml
  Robust.Client/UserInterface/Controls/CheckBox.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

Clean up all missing `EntitySystem` proxy method uses (#6027)
  Robust.Client/Debugging/DebugAnchoringSystem.cs
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameObjects/EntitySystems/InputSystem.cs
  Robust.Client/GameObjects/EntitySystems/ShowPlayerVelocityDebugSystem.cs
  Robust.Client/Physics/JointSystem.cs
  Robust.Server/GameObjects/EntitySystems/MapSystem.cs
  Robust.Server/GameObjects/EntitySystems/ViewSubscriberSystem.cs
  Robust.Server/GameStates/PvsSystem.GetStates.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Server/Player/FilterSystem.cs
  Robust.Shared/GameObjects/Systems/CollideOnAnchorSystem.cs
  Robust.Shared/GameObjects/Systems/PrototypeReloadSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/GameObjects/Systems/TimerSystem.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Optimize `DataDefinitionAnalyzer` a bit (#6035)
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

update only on draw mode change
  Robust.Client/UserInterface/Controls/CheckBox.cs
Owners: @PJB3005, @DrSmugleaf

Add API to load maps from byte stream (#6029)
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.cs
Owners: @PJB3005, @DrSmugleaf

fully obsolete container methods (#6007)
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Adjust how OpenAL extensions are requested (#6000)
  Robust.Client/Audio/AudioManager.cs
Owners: @PJB3005, @DrSmugleaf

fix: use maxSizeX instead of Width in rich text entry measure (#5989)
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Copy paste bad
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Add GetMessage and SetMessage methods to OutputPanel (#5956)
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Static Field Assert (#5926)
  Robust.Shared/Prototypes/PrototypeManager.ValidateFields.cs
Owners: @PJB3005, @DrSmugleaf

Version: 263.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Make functions static to avoid delegate allocations in DataDefinitionAnalyzer.
  RELEASE-NOTES.md
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Revert "xmldoc for attribute"
  Robust.Client/Placement/Modes/PlacementModeAttribute.cs
Owners: @PJB3005, @DrSmugleaf
