Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

fix
  Robust.UnitTesting/Shared/GameState/AutoNetworkingTest.cs
Owners: @PJB3005, @DrSmugleaf

test fix
  Robust.UnitTesting/Shared/GameState/AutoNetworkingTest.cs
Owners: @PJB3005, @DrSmugleaf

meh
  Robust.Analyzers/ProxyForAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Fix TextInputSetRect not accounting for pixel ratio properly.
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
Owners: @PJB3005, @DrSmugleaf

great
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
Owners: @PJB3005, @DrSmugleaf

What if I DO have brain damage?
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
Owners: @PJB3005, @DrSmugleaf

minor optimization
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
Owners: @PJB3005, @DrSmugleaf

typo
  Robust.UnitTesting/Shared/GameState/AutoNetworkingTest.cs
Owners: @PJB3005, @DrSmugleaf

IPrototypeManager TryIndex changes
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.Categories.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

NoteOn actually being a NoteOff fix
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Update XamlIL.targets
  MSBuild/XamlIL.targets
Owners: @PJB3005, @DrSmugleaf

Initial toggle button implementation
  Resources/Locale/en-US/controls.ftl
  Robust.Client/UserInterface/Controls/ToggleSwitch.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

NoteOn actually being a NoteOff fix (#6092)
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Lint for prototype IDs with spaces (#6087)
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/PrototypeManager.YamlValidate.cs
Owners: @PJB3005, @DrSmugleaf

More informative logging for PVS deleted/uninitialized entity errors (#6084)
  Robust.Server/GameStates/PvsSystem.GetStates.cs
Owners: @PJB3005, @DrSmugleaf

Update Robust.UnitTesting/Shared/GameState/AutoNetworkingTest.cs
  Robust.UnitTesting/Shared/GameState/AutoNetworkingTest.cs
Owners: @PJB3005, @DrSmugleaf

refactor: moved emthod to ComponentRegistry
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/ComponentFactory.cs
  Robust.Shared/GameObjects/IComponentFactory.cs
  Robust.Shared/GameObjects/IEntityLoadContext.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

this is ienumerable bitch! take your ass back to for k, v in ipairs()
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Address
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
Owners: @PJB3005, @DrSmugleaf

Fix unused dependency warning outside DEBUG
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @metalgearsloth

It's a float now.
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
Owners: @PJB3005, @DrSmugleaf

sign error simulator 2125
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
Owners: @PJB3005, @DrSmugleaf

refactor: reverse order of checks registration in ViewVariableControlFactory c-tor
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
  Robust.Client/ViewVariables/ViewVariableControlFactory.cs
Owners: @PJB3005, @DrSmugleaf

Add workflow to build all configurations.
  .github/workflows/build-all-configurations.yml
Owners: @PJB3005, @DrSmugleaf

nope not it
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
Owners: @PJB3005, @DrSmugleaf

Very epic, GitHub
  .github/workflows/build-all-configurations.yml
Owners: @PJB3005, @DrSmugleaf

Whoops
  .github/workflows/build-all-configurations.yml
Owners: @PJB3005, @DrSmugleaf

Actually add Tools configuration to sln
  RobustToolbox.sln
Owners: @PJB3005, @DrSmugleaf

Validate VV EntProtoId values
  Robust.Client/ViewVariables/Editors/VVPropEditorEntProtoId.cs
  Robust.Client/ViewVariables/Editors/VVPropEditorNullableEntProtoId.cs
Owners: @PJB3005, @DrSmugleaf

Add workflow to build all configurations. (#6094)
  .github/workflows/build-all-configurations.yml
  RobustToolbox.sln
Owners: @PJB3005, @DrSmugleaf

Validate VV EntProtoId values (#6095)
  Robust.Client/ViewVariables/Editors/VVPropEditorEntProtoId.cs
  Robust.Client/ViewVariables/Editors/VVPropEditorNullableEntProtoId.cs
Owners: @PJB3005, @DrSmugleaf

feat: now view-variable controls can be registered from content, or even dynamically added (#6077)
  RELEASE-NOTES.md
  Robust.Client/ClientIoC.cs
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
  Robust.Client/ViewVariables/IViewVariableControlFactory.cs
  Robust.Client/ViewVariables/ViewVariableControlFactory.cs
Owners: @PJB3005, @DrSmugleaf

unreal engine 4
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup prototype instantiation warnings in unit tests (#6058)
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/EntitySerialization/CategorizationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/MapMergeTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/OrphanSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/SerializationTestHelper.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

Change a bunch of static `Loc.GetString` calls to be properly resolved (#6010)
  Robust.Server/Console/Commands/MapCommands.cs
  Robust.Shared/Configuration/ConfigurationCommands.cs
  Robust.Shared/Console/Commands/HelpCommand.cs
  Robust.Shared/Console/Commands/OldHelpCommand.cs
  Robust.Shared/Console/LocalizedCommands.cs
Owners: @moonheart08

fix: correct release notes entry
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

refactor: use a new index selector for tuples
  Robust.Client/ViewVariables/Editors/VVPropEditorTuple.cs
  Robust.Server/ViewVariables/ViewVariablesSession.cs
  Robust.Shared/ViewVariables/ViewVariablesMemberSelector.cs
Owners: @PJB3005, @DrSmugleaf

fix: make all non-ValueTuples readonly
  Robust.Client/ViewVariables/Editors/VVPropEditorTuple.cs
Owners: @PJB3005, @DrSmugleaf

fix: resolve remaining ResolvedSoundSpecifier warnings (#6057)
  RELEASE-NOTES.md
  Robust.Shared/Audio/AudioDebugCommands.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
