Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix most non-obsolete warnings
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
  Robust.Server/ServerStatus/StatusHost.Acz.Sources.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/Toolshed/Commands/Entities/WithCommand.cs
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
  Robust.UnitTesting/Shared/IoC/IoCManager_Test.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/CommunitaryLungTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Functionality achieved
  Robust.Client/GameObjects/EntitySystems/DebugLightTreeSystem.cs
  Robust.Client/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Server/ComponentTrees/LightTreeComponent.cs
  Robust.Server/ComponentTrees/LightTreeSystem.cs
  Robust.Server/GameObjects/Components/PointLightComponent.cs
  Robust.Server/GameObjects/EntitySystems/LightSensitiveSystem.cs
  Robust.Server/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Shared/GameObjects/Components/Light/LightMaskPrototype.cs
  Robust.Shared/GameObjects/Components/Light/LightSensitiveComponent.cs
  Robust.Shared/GameObjects/Components/Light/PointLightComponentState.cs
  Robust.Shared/GameObjects/Components/Light/SharedLightTreeComponent.cs
  Robust.Shared/GameObjects/Components/Light/SharedPointLightComponent.cs
  Robust.Shared/GameObjects/Systems/SharedLightSensitiveSystem.cs
  Robust.Shared/GameObjects/Systems/SharedPointLightSystem.cs
Owners: @PJB3005, @DrSmugleaf

Initial Commit
  Robust.Client/UserInterface/RichText/MarkupTagManager.cs
  Robust.Client/UserInterface/RichText/MonoTag.cs
Owners: @PJB3005, @DrSmugleaf

BUI helpers
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add Pure attribute to some entmanager methods
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Also this one
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add warnings.
  Robust.Shared/GameObjects/Systems/SharedGridTraversalSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add Pure attribute to some entmanager methods (#5557)
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Fix most non-obsolete warnings (#5555)
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
  Robust.Server/ServerStatus/StatusHost.Acz.Sources.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/Toolshed/Commands/Entities/WithCommand.cs
  Robust.UnitTesting/Shared/IoC/IoCManager_Test.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/CommunitaryLungTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

BUI helpers (#5558)
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add InterfaceData constructor
  Robust.Shared/GameObjects/Components/UserInterface/UserInterfaceComponent.cs
Owners: @PJB3005, @DrSmugleaf

Add InterfaceData constructor (#5559)
  Robust.Shared/GameObjects/Components/UserInterface/UserInterfaceComponent.cs
Owners: @PJB3005, @DrSmugleaf

Add AssetPassFilterDrop
  RELEASE-NOTES.md
  Robust.Packaging/AssetProcessing/Passes/AssetPassFilterDrop.cs
Owners: @PJB3005, @DrSmugleaf

TryFindComponentOnEntityContainerOrParent no fail please (#5322)
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix ISawmill not initialized and incorrect log
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Minor changes
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Minor contact QOL
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Not these
  Robust.Shared/Physics/Systems/RayCastSystem.cs
Owners: @metalgearsloth

Release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Add shapecasts + raycasts (#5440)
  RELEASE-NOTES.md
  Robust.Shared.Maths/MathHelper.cs
  Robust.Shared.Maths/Matrix3Helpers.cs
  Robust.Shared.Maths/Vector2Helpers.cs
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/BroadPhase/DynamicTreeBroadPhase.cs
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/IBroadPhase.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
  Robust.Shared/Physics/Transform.cs
  Robust.UnitTesting/Shared/Maths/Angle_Test.cs
  Robust.UnitTesting/Shared/Maths/Matrix3_Test.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/AngleSerializerTest.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Version: 237.3.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

move proxy stuff from EntitySystem to EntManProxy
  Robust.Shared/GameObjects/EntManProxy.Events.cs
  Robust.Shared/GameObjects/EntManProxy.cs
  Robust.Shared/GameObjects/EntitySystem.cs
Owners: @PJB3005, @DrSmugleaf

add proxy to BoundUserInterface
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
Owners: @PJB3005, @DrSmugleaf

Add dumb realisation of releasing audio resource.
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioManager.Reloader.cs
  Robust.Client/Audio/AudioManager.cs
  Robust.Client/Audio/Sources/AudioSource.cs
Owners: @PJB3005, @DrSmugleaf

Review
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/Physics/Components/PhysicsComponentState.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Wav's memory copying argument fix.
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioManager.Reloader.cs
Owners: @PJB3005, @DrSmugleaf

Replace all usages of obsolete MapGridComponent methods (#5547)
  Robust.Client/Physics/GridFixtureSystem.cs
  Robust.Client/Placement/Modes/AlignSnapgridCenter.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Server/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Always request publickey on connection and perform serverside validation of client version
  Robust.Server/ServerStatus/StatusHost.Acz.cs
  Robust.Shared/Network/AuthManager.cs
  Robust.Shared/Network/Messages/Handshake/MsgLoginStart.cs
  Robust.Shared/Network/NetManager.ClientConnect.cs
  Robust.Shared/Network/NetManager.ServerAuth.cs
Owners: @PJB3005, @DrSmugleaf

UI deltas
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared/GameObjects/Components/UserInterface/UserInterfaceComponent.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Simple formatting.
  Robust.Client/Audio/AudioManager.Public.cs
  Robust.Client/Audio/AudioManager.cs
Owners: @PJB3005, @DrSmugleaf

Slimmer
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
Owners: @PJB3005, @DrSmugleaf

Sourcegen bandaid
  Robust.Serialization.Generator/Generator.cs
  Robust.Serialization.Generator/Types.cs
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
  Robust.Shared/Audio/Components/AudioPresetComponent.cs
  Robust.Shared/GameObjects/Components/Eye/EyeComponent.cs
Owners: @PJB3005, @DrSmugleaf

Add sourcegenned field deltas (#5155)
  Robust.Client/Audio/AudioSystem.cs
  Robust.Client/GameStates/NetGraphOverlay.cs
  Robust.Serialization.Generator/Generator.cs
  Robust.Serialization.Generator/Types.cs
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
  Robust.Shared.CompNetworkGenerator/Properties/launchSettings.json
  Robust.Shared/Analyzers/ComponentNetworkGeneratorAuxiliary.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
  Robust.Shared/Audio/Components/AudioPresetComponent.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
  Robust.Shared/GameObjects/ComponentFactory.cs
  Robust.Shared/GameObjects/ComponentRegistration.cs
  Robust.Shared/GameObjects/Components/CollisionWakeComponent.cs
  Robust.Shared/GameObjects/Components/Eye/EyeComponent.cs
  Robust.Shared/GameObjects/Components/UserInterface/UserInterfaceComponent.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IComponentFactory.cs
  Robust.Shared/GameObjects/IEntityManager.Network.cs
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
  Robust.Shared/GameObjects/Systems/SharedEyeSystem.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Physics/Components/PhysicsComponent.Physics.cs
  Robust.Shared/Physics/Components/PhysicsComponentState.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

transform traversals
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.UnitTesting/Client/GameObjects/Components/TransformComponentTests.cs
Owners: @PJB3005, @DrSmugleaf

transform traversals (#5564)
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.UnitTesting/Client/GameObjects/Components/TransformComponentTests.cs
Owners: @PJB3005, @DrSmugleaf

Version: 237.4.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

light attenuation, comments done, i think that's everything
  Robust.Server/ComponentTrees/LightTreeSystem.cs
  Robust.Server/GameObjects/EntitySystems/LightSensitiveSystem.cs
  Robust.Shared/GameObjects/Components/Light/LightMaskPrototype.cs
  Robust.Shared/GameObjects/Components/Light/SharedPointLightComponent.cs
  Robust.Shared/GameObjects/Systems/SharedLightSensitiveSystem.cs
Owners: @PJB3005, @DrSmugleaf

Changes SharedGridTraversalSystem accesibility from internal to public (#5551)
  Robust.Shared/GameObjects/Systems/SharedGridTraversalSystem.cs
Owners: @PJB3005, @DrSmugleaf

A
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 238.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
