Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

remove this
  Robust.XmlDocTool/XmlDocRoundTripTest.cs
Owners: @PJB3005, @DrSmugleaf

the refresh button in the vv window wont expand verticaly if there is multiline docstring text.
  Robust.Client/ViewVariables/Instances/ViewVariablesInstanceObject.cs
Owners: @PJB3005, @DrSmugleaf

free
  Robust.Shared/Physics/Collision/Shapes/PolygonShape.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

tests
  Robust.UnitTesting/Shared/Physics/RayCast_Test.cs
Owners: @PJB3005, @DrSmugleaf

detritus
  MSBuild/Robust.ViewVariables.targets
  Robust.XmlDocTool/Program.cs
Owners: @PJB3005, @DrSmugleaf

Replace obsolete functions in GridRotation Tests
  Robust.UnitTesting/Shared/Map/GridRotation_Tests.cs
Owners: @PJB3005, @DrSmugleaf

More fixes
  Robust.Shared.Maths/Matrix3Helpers.cs
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.UnitTesting/Shared/Maths/Angle_Test.cs
  Robust.UnitTesting/Shared/Maths/Matrix3_Test.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/AngleSerializerTest.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Duplicate dependency field analyzer
  Robust.Analyzers.Tests/DuplicateDependencyAnalyzerTest.cs
  Robust.Analyzers/DuplicateDependencyAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
Owners: @PJB3005, @DrSmugleaf

Fix duplicate dependencies in Robust
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/IoC/IoCManager_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Added MuteSounds property for BaseButton control
  Robust.Client/UserInterface/Controls/BaseButton.cs
Owners: @PJB3005, @DrSmugleaf

EntityPrototypeView has become disposable
  Robust.Client/UserInterface/Controls/EntityPrototypeView.cs
Owners: @PJB3005, @DrSmugleaf

FULL_RELEASE
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

Set sprite flicks immediately
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Remove IsTouching set on physics prediction
  Robust.Client/Physics/PhysicsSystem.Predict.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Remove IsTouching set on physics prediction (#5468)
  Robust.Client/Physics/PhysicsSystem.Predict.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Revert "Make resetting contacts on the client only set is touching if it is t…"
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

assert
  Robust.Shared/Utility/ResPath.cs
Owners: @PJB3005, @DrSmugleaf

Revert "Make resetting contacts on the client only set is touching if it is true" (#5469)
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

Fix bad respath input
  Robust.Shared/ContentPack/ResourceManager.cs
Owners: @PJB3005, @DrSmugleaf

Duplicate dependency field analyzer (#5463)
  Robust.Analyzers.Tests/DuplicateDependencyAnalyzerTest.cs
  Robust.Analyzers/DuplicateDependencyAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/IoC/IoCManager_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Version: 236.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Account for scale when calculating sprite offset
  Robust.Client/UserInterface/Controls/SpriteView.cs
Owners: @PJB3005, @DrSmugleaf

Account for scale when calculating sprite offset (#5470)
  Robust.Client/UserInterface/Controls/SpriteView.cs
Owners: @PJB3005, @DrSmugleaf

Make IPlayerManager accessible to derived classes
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
Owners: @PJB3005, @DrSmugleaf

Make IPlayerManager accessible to derived classes (#5471)
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
Owners: @PJB3005, @DrSmugleaf

Added MuteSounds property for BaseButton control (#5465)
  Robust.Client/UserInterface/Controls/BaseButton.cs
Owners: @PJB3005, @DrSmugleaf

New HWID system prep (#5446)
  Robust.Client/ClientIoC.cs
  Robust.Client/Console/Commands/LauncherAuthCommand.cs
  Robust.Client/HWId/BasicHWId.cs
  Robust.Client/Utility/UserDataDir.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Network/AuthManager.cs
  Robust.Shared/Network/HWId.cs
  Robust.Shared/Network/IHWId.cs
  Robust.Shared/Network/Messages/Handshake/MsgEncryptionRequest.cs
  Robust.Shared/Network/Messages/Handshake/MsgEncryptionResponse.cs
  Robust.Shared/Network/Messages/Handshake/MsgLoginStart.cs
  Robust.Shared/Network/NetManager.ClientConnect.cs
  Robust.Shared/Network/NetManager.ServerAuth.cs
  Robust.Shared/Network/NetManager.cs
  Robust.Shared/Network/NetUserData.cs
  Robust.Shared/Utility/Base64Helpers.cs
  Robust.UnitTesting/RobustIntegrationTest.NetManager.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/GameObjects/EntityState_Tests.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add before-lighting overlay rendering
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/IRenderTarget.cs
  Robust.Shared/Enums/OverlaySpaces.cs
Owners: @PJB3005, @DrSmugleaf

filter entities
  Resources/EnginePrototypes/entityCategory.yml
  Resources/Locale/en-US/entity-category.ftl
  Robust.Client/UserInterface/Controllers/Implementations/EntitySpawningUIController.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Add `required` keyword attributes to sandbox
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

change mapcoordinate-based spawning to check/reparent to grids
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Add `required` keyword attributes to sandbox whitelist (#5474)
  RELEASE-NOTES.md
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Expose GameTitle to public
  RELEASE-NOTES.md
  Robust.Client/GameController/GameController.cs
  Robust.Client/IGameController.cs
Owners: @PJB3005, @DrSmugleaf

Missing method implemented
  Robust.UnitTesting/GameControllerDummy.cs
Owners: @PJB3005, @DrSmugleaf

Add LineEdit.SelectAllOnFocus
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/LineEdit.cs
Owners: @PJB3005, @DrSmugleaf

Add windowiconset and splashlogo (I think this is what pjb meant?)
  RELEASE-NOTES.md
  Robust.Client/GameController/GameController.cs
  Robust.Client/IGameController.cs
  Robust.UnitTesting/GameControllerDummy.cs
Owners: @PJB3005, @DrSmugleaf

Docs
  Robust.Client/IGameController.cs
Owners: @PJB3005, @DrSmugleaf

Expose GameTitle, WindowIconSet and SplashLogo to content (#5475)
  RELEASE-NOTES.md
  Robust.Client/GameController/GameController.cs
  Robust.Client/IGameController.cs
  Robust.UnitTesting/GameControllerDummy.cs
Owners: @PJB3005, @DrSmugleaf

Add another lookup overload
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
