Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix linear lookup on a dictionary in PlacementManager
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
Owners: @PJB3005, @DrSmugleaf

Makes ItemList not run deselection callback on all list items (#5861)
  Robust.Client/UserInterface/Controls/ItemList.cs
Owners: @PJB3005, @DrSmugleaf

Fix linear lookup on a dictionary in PlacementManager (#5911)
  Robust.Client/Placement/PlacementManager.cs
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
Owners: @PJB3005, @DrSmugleaf

Show message and exit if an error occurs during load
  Robust.LanguageServer/LanguageServerContext.cs
Owners: @PJB3005, @DrSmugleaf

Validate Abstract prototypes
  Robust.Shared/Prototypes/PrototypeManager.YamlValidate.cs
Owners: @PJB3005, @DrSmugleaf

Log if a prototype is skipped for now
  Robust.Shared/Prototypes/PrototypeManager.YamlValidate.cs
Owners: @PJB3005, @DrSmugleaf

Combine TileChangedEvents in SetTiles
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.GridChunk.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add PoC for loading client data instead
  Robust.LanguageServer/Loader.cs
Owners: @PJB3005, @DrSmugleaf

Disable EnsurePushed (fixes parents not being found, as only the data from the current file is present in the dictionary)
  Robust.Shared/Prototypes/PrototypeManager.YamlValidate.cs
Owners: @PJB3005, @DrSmugleaf

Raise event after regenerating collision
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

Add Robust.Properties to LS build
  Robust.LanguageServer/Robust.LanguageServer.csproj
Owners: @PJB3005, @DrSmugleaf

Avoid writing to stdout
  Robust.LanguageServer/Handler/TextDocumentHandler.cs
  Robust.LanguageServer/Loader.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

continue, not return
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

No need for GetComponent
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Extract common defs into shared source
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
Owners: @PJB3005, @DrSmugleaf

Use a pipe
  Robust.LanguageServer/CommandLineArgs.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Select transport mode
  Robust.LanguageServer/CommandLineArgs.cs
  Robust.LanguageServer/Program.cs
Owners: @PJB3005, @DrSmugleaf

Remove logging in the Joint System from release
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

chunking
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Tilestack.cs
  Robust.Shared/Map/MapChunk.cs
Owners: @PJB3005, @DrSmugleaf

First pass at implementing incremental updates
  Robust.LanguageServer/Handler/TextDocumentHandler.cs
Owners: @PJB3005, @DrSmugleaf

We aren't using these currently
  Robust.LanguageServer/Handler/TextDocumentHandler.cs
Owners: @PJB3005, @DrSmugleaf

Linting changes
  Robust.LanguageServer/DocumentCache.cs
Owners: @PJB3005, @DrSmugleaf

Cleaning up dead code
  Robust.LanguageServer/DocsManager.cs
  Robust.LanguageServer/Handler/DocumentColorHandler.cs
  Robust.LanguageServer/Handler/SemanticTokensHandler.cs
  Robust.LanguageServer/Loader.cs
Owners: @PJB3005, @DrSmugleaf

Change ComponentCount to a prefix constraint
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Constraints/ConstraintUtils.cs
  Robust.UnitTesting/Constraints/EntityManagerComponentCountConstraint.cs
  Robust.UnitTesting/Has.cs
  Robust.UnitTesting/Operators/ComponentCountOperator.cs
Owners: @PJB3005, @DrSmugleaf

billions of different coordinate types, damn
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Tilestack.cs
Owners: @PJB3005, @DrSmugleaf

Fix prefix message
  Robust.UnitTesting/Constraints/EntityManagerComponentCountConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Better description
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

Swap TileRef for Tile + Vector2i
  Robust.Client/Placement/PlacementManager.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

Estimate size of tileChanges
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
Owners: @PJB3005, @DrSmugleaf

align spawns with grids
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup warnings: CS0414 (#5892)
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/Prototypes/ClientPrototypeManager.cs
  Robust.Client/Utility/ReloadManager.cs
  Robust.Server/Prototypes/ServerPrototypeManager.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Cleanup warnings: CS0649 (#5891)
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Cursors.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Version: 256.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix Container state handling not forcing inserts
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

init-commit
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Some.cs
Owners: @PJB3005, @DrSmugleaf

Remake
  Robust.Shared/Physics/Systems/SharedJointSystem.cs
Owners: @metalgearsloth

Fix merge
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Move TestPair & PoolManager to engine (#5877)
  RELEASE-NOTES.md
  Robust.UnitTesting/IIntegrationInstance.cs
  Robust.UnitTesting/Pool/ITestPair.cs
  Robust.UnitTesting/Pool/PairSettings.cs
  Robust.UnitTesting/Pool/PoolManager.cs
  Robust.UnitTesting/Pool/PoolTestLogHandler.cs
  Robust.UnitTesting/Pool/TestMapData.cs
  Robust.UnitTesting/Pool/TestPair.Helpers.cs
  Robust.UnitTesting/Pool/TestPair.Recycle.cs
  Robust.UnitTesting/Pool/TestPair.cs
  Robust.UnitTesting/Pool/TestPrototypesAttribute.cs
  Robust.UnitTesting/RobustIntegrationTest.TestPair.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

Catch NotYamlSerializable DataFields with analyzer (#5704)
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
Owners: @PJB3005, @DrSmugleaf

Improve yaml validation errors for ignored prototypes (#5886)
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
Owners: @PJB3005, @DrSmugleaf
