Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix keyboard not focusing on search bar of the tile spawn window on open
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
  Robust.Client/UserInterface/CustomControls/TileSpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

cancellable audio
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
Owners: @PJB3005, @DrSmugleaf

correct event name
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
Owners: @PJB3005, @DrSmugleaf

correct event name... arghh
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
Owners: @PJB3005, @DrSmugleaf

use struct events
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
Owners: @PJB3005, @DrSmugleaf

ok
  Resources/Shaders/Internal/light_shared.swsl
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.RenderHandle.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
Owners: @PJB3005, @DrSmugleaf

Initial commit
  Robust.Shared/Utility/FormattedMessage.cs
Owners: @PJB3005, @DrSmugleaf

throw hands
  Robust.Shared/Utility/FormattedMessage.cs
Owners: @PJB3005, @DrSmugleaf

forgot to include ignoring case
  Robust.Shared/Utility/FormattedMessage.cs
Owners: @PJB3005, @DrSmugleaf

Minor contact QOL (#5560)
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Defer open
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

okami
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix build
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

tweak
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

okay I actually ran release this time
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

BUI deferral tweaks (#5503)
  Robust.Client/UserInterface/UserInterfaceManager.Input.cs
  Robust.Shared/GameObjects/Components/UserInterface/BoundUserInterface.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Avoid unnecessary DirtyField() calls (#5620)
  RELEASE-NOTES.md
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Shared/Containers/SharedContainerSystem.Insert.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Add CollisionPredictionTest (#5493)
  RELEASE-NOTES.md
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Client/Physics/PhysicsSystem.Predict.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/Physics/CollisionPredictionTest.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Version: 241.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Make collisionwake resolve false
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make collisionwake resolve false (#5637)
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
Owners: @PJB3005, @DrSmugleaf

tweaks
  Robust.Client/UserInterface/Controls/EntityPrototypeView.cs
Owners: @PJB3005, @DrSmugleaf

tweak
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

fix: EntityPrototypeView now only creates entities when the UI is open
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/EntityPrototypeView.cs
Owners: @PJB3005, @DrSmugleaf

the
  Resources/Shaders/Internal/light_shared.swsl
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.RenderHandle.cs
Owners: @PJB3005, @DrSmugleaf

pain
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
Owners: @PJB3005, @DrSmugleaf

ok
  Robust.Client/Graphics/AtlasTexture.cs
  Robust.Client/Graphics/Clyde/Clyde.RenderHandle.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
  Robust.Shared/Resources/RsiLoading.cs
Owners: @PJB3005, @DrSmugleaf

funny
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
Owners: @PJB3005, @DrSmugleaf

Add function normal generation
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
Owners: @PJB3005, @DrSmugleaf

no
  Resources/Shaders/Internal/light_shared.swsl
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

Drop debug allocs a lot
  Robust.Server/GameStates/PvsData.cs
  Robust.Server/GameStates/PvsSystem.cs
Owners: @PJB3005, @DrSmugleaf

Reduce lookup allocs significantly
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/Map/MapManager.Queries.cs
  Robust.Shared/Physics/Collision/CollisionManager.Overlap.cs
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Collision/IManifoldManager.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Pool.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Cleanup
  Robust.Shared/Map/MapManager.Queries.cs
Owners: @PJB3005, @DrSmugleaf

Add support for overlays to draw controls (#5223)
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.Viewport.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClydeViewport.cs
  Robust.Client/Graphics/Overlays/OverlayDrawArgs.cs
  Robust.Client/UserInterface/Control.Styling.cs
  Robust.Client/UserInterface/Control.cs
  Robust.Client/UserInterface/Controls/SpriteView.cs
  Robust.Client/UserInterface/CustomControls/ViewportContainer.cs
  Robust.Client/UserInterface/IUserInterfaceManager.cs
  Robust.Client/UserInterface/UserInterfaceManager.Roots.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix keyboard not focusing on search bar of the tile spawn window on open (#5630)
  Robust.Client/UserInterface/Controllers/Implementations/TileSpawningUIController.cs
  Robust.Client/UserInterface/CustomControls/TileSpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Ensure parents are always initialized & started before children (#5595)
  RELEASE-NOTES.md
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.UnitTesting/Server/GameStates/DetachedParentTest.cs
Owners: @PJB3005, @DrSmugleaf

MergeImplicitData fix
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Client/GameStates/IClientGameStateManager.cs
  Robust.Client/Replays/Playback/ReplayPlaybackManager.Update.cs
Owners: @PJB3005, @DrSmugleaf

Generics on lookup
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/Map/IMapManager.cs
  Robust.Shared/Map/MapManager.Queries.cs
Owners: @PJB3005, @DrSmugleaf

MergeImplicitData fix (#5640)
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Client/GameStates/IClientGameStateManager.cs
  Robust.Client/Replays/Playback/ReplayPlaybackManager.Update.cs
Owners: @PJB3005, @DrSmugleaf

Reduce lookup allocs significantly (#5639)
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/Map/IMapManager.cs
  Robust.Shared/Map/MapManager.Queries.cs
  Robust.Shared/Physics/Collision/CollisionManager.Overlap.cs
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Collision/IManifoldManager.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Pool.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
