Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

fix: remove unneeded delta in SharedAudioSystem
  RELEASE-NOTES.md
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

feat: raise event on audio despawns
  RELEASE-NOTES.md
  Robust.Shared/Audio/Components/AudioComponent.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

fix: resolve remaining ResolvedSoundSpecifier warnings
  RELEASE-NOTES.md
  Robust.Shared/Audio/AudioDebugCommands.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add cancelation
  Robust.Client/UserInterface/Controls/OSWindow.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup prototype instantiation warnings in unit tests
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/EntitySerialization/CategorizationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/MapMergeTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/OrphanSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/SerializationTestHelper.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

fix
  Robust.Client/UserInterface/Controls/OSWindow.cs
Owners: @PJB3005, @DrSmugleaf

Remove prototype instantiation from AssetPassAudioMetadata
  Robust.Packaging/AssetProcessing/Passes/AssetPassAudioMetadata.cs
Owners: @PJB3005, @DrSmugleaf

Remove prototype instantiation from AssetPassAudioMetadata (#6059)
  Robust.Packaging/AssetProcessing/Passes/AssetPassAudioMetadata.cs
Owners: @PJB3005, @DrSmugleaf

Add network serialization test
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
  Robust.UnitTesting/Shared/EntitySerialization/WeakEntityReferenceTest.cs
Owners: @PJB3005, @DrSmugleaf

use specific control properties for coloring
  Resources/EnginePrototypes/UserInterface/uiThemes.yml
  Robust.Client/UserInterface/Controls/CheckBox.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

part 1
  Robust.Client/ClientIoC.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

i think i need to commit this
  Robust.Server/GameObjects/EntitySystems/PointLightSystem.cs
Owners: @PJB3005, @DrSmugleaf

make disabled color consistent
  Robust.Client/UserInterface/Controls/CheckBox.cs
Owners: @PJB3005, @DrSmugleaf

lighter disabled color
  Resources/EnginePrototypes/UserInterface/uiThemes.yml
  Robust.Client/UserInterface/Controls/CheckBox.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

add label styleclass
  Robust.Client/UserInterface/Controls/CheckBox.cs
Owners: @PJB3005, @DrSmugleaf

oop
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

move Label font coloring to checkBox
  Robust.Client/UserInterface/Controls/CheckBox.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

Add ToPrettyString support for WeakEntityReference?
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

inheritdoc
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

Augment audio system with the ability to have captions
  Robust.Client/Audio/AudioSystem.cs
  Robust.Client/ComponentTrees/CaptionTreeSystem.cs
  Robust.Shared/Audio/Components/CaptionComponent.cs
  Robust.Shared/Audio/Components/CaptionTreeComponent.cs
  Robust.Shared/Audio/SoundCollectionPrototype.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Mark ValidatePrototypeIdAttribute as obsolete
  Robust.Shared/Serialization/Manager/Attributes/ValidatePrototypeIdAttribute.cs
Owners: @PJB3005, @DrSmugleaf

my ecs so query
  Robust.Client/Audio/AudioSystem.cs
  Robust.Client/ComponentTrees/CaptionTreeSystem.cs
Owners: @PJB3005, @DrSmugleaf

fix: loosen random timespan debug assert
  RELEASE-NOTES.md
  Robust.Shared/Random/RobustRandom.cs
Owners: @PJB3005, @DrSmugleaf

Add ForbidLiteral to IPrototypeManager methods
  Robust.Shared/Prototypes/IPrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup violations
  Robust.Client/GameStates/NetInterpOverlay.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManager_Components_Tests.cs
  Robust.UnitTesting/Shared/Prototypes/PrototypeManagerCategoriesTest.cs
  Robust.UnitTesting/Shared/Prototypes/PrototypeManager_Test.cs
Owners: @PJB3005, @DrSmugleaf

Add OKLCH-based colour descriptions for colorblindness accessibility
  Resources/Locale/en-US/color-naming.ftl
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
  Robust.Shared.Maths/Color.cs
  Robust.Shared/ColorNaming/ColorNaming.cs
Owners: @PJB3005, @DrSmugleaf

my docs so comment
  Robust.Shared/ColorNaming/ColorNaming.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @metalgearsloth

Add GetWeakReference methods
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Not-nullable too
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Config load fail is now an error instead of a warning
  RELEASE-NOTES.md
  Robust.Shared/Configuration/ConfigurationManager.cs
Owners: @PJB3005, @DrSmugleaf

Add `ForbidLiteral` to `IPrototypeManager` methods (#6066)
  Robust.Client/GameStates/NetInterpOverlay.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManager_Components_Tests.cs
  Robust.UnitTesting/Shared/Prototypes/PrototypeManagerCategoriesTest.cs
  Robust.UnitTesting/Shared/Prototypes/PrototypeManager_Test.cs
Owners: @PJB3005, @DrSmugleaf

Update RELEASE-NOTES.md
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Config load fail is now an error instead of a warning (#6070)
  RELEASE-NOTES.md
  Robust.Shared/Configuration/ConfigurationManager.cs
Owners: @PJB3005, @DrSmugleaf

Add
  Robust.Shared/Containers/Events/ContainerAttemptEvents.cs
  Robust.Shared/Containers/Events/ContainerModifiedMessage.cs
  Robust.Shared/Containers/Events/EntGotInsertedIntoContainerMessage.cs
  Robust.Shared/Containers/Events/EntInsertedIntoContainerMessage.cs
  Robust.Shared/Containers/Events/EntRemovedFromContainerMessage.cs
  Robust.Shared/Containers/SharedContainerSystem.Insert.cs
  Robust.Shared/Containers/SharedContainerSystem.Remove.cs
Owners: @PJB3005, @DrSmugleaf

Typo
  Robust.Shared/Containers/Events/ContainerAttemptEvents.cs
  Robust.Shared/Containers/Events/ContainerModifiedMessage.cs
Owners: @PJB3005, @DrSmugleaf

add: IColorSelectorStrategy class
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
Owners: @PJB3005, @DrSmugleaf

add: IColorSelectorStrategy FromColorData method
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
Owners: @PJB3005, @DrSmugleaf

add: RGB and HSV color slider strategies
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
Owners: @PJB3005, @DrSmugleaf

add: initialize ColorSelectorStrategy
  Robust.Client/UserInterface/Controls/ColorSelectorSliders.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
