Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix TransformComponent state handling changing the coordinates of detached entities (#6006)
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Fix test
  Robust.UnitTesting/Server/GameStates/PvsPauseTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedValidationTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Misc SpriteSystem fixes (#6001)
  RELEASE-NOTES.md
  Robust.Client/ComponentTrees/SpriteTreeSystem.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Helpers.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.cs
  Robust.UnitTesting/RobustUnitTest.cs
Owners: @PJB3005, @DrSmugleaf

Fix indentation
  Robust.UnitTesting/Server/GameStates/PvsPauseTest.cs
Owners: @PJB3005, @DrSmugleaf

Add PvsResetTest
  Robust.UnitTesting/Server/GameStates/PvsResetTest.cs
Owners: @PJB3005, @DrSmugleaf

Add PvsResetTest (#6015)
  Robust.UnitTesting/Server/GameStates/PvsResetTest.cs
Owners: @PJB3005, @DrSmugleaf

Validate that Toolshed command arguments have parsers (#6014)
  RELEASE-NOTES.md
  Robust.Shared/Toolshed/Attributes.cs
  Robust.Shared/Toolshed/Commands/Entities/World/TpCommand.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedManager.Parsing.cs
  Robust.Shared/Toolshed/TypeParsers/Math/SpanLikeTypeParser.cs
  Robust.UnitTesting/Server/GameStates/PvsPauseTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedValidationTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Version: 262.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Cherry-pick #6006
  Robust.Client/GameStates/ClientGameStateManager.cs
Owners: @PJB3005, @DrSmugleaf

Version: 251.0.2-fixtures-fix
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Revert "fix: don't try to set non-existent window icons"
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
Owners: @PJB3005, @DrSmugleaf

fix: don't try to set non-existent window icons
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
Owners: @PJB3005, @DrSmugleaf

fix: don't try to set non-existent window icons (#6016)
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
Owners: @PJB3005, @DrSmugleaf

Adding "Attribution-NonCommercial-NoDerivatives 4.0 International" (#6008)
  Schemas/rga_validators.py
Owners: @PJB3005, @DrSmugleaf

Minor optionzation and rare colors
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Properly catch errors when executing client commands.
  Robust.Client/Console/ClientConsoleHost.cs
Owners: @PJB3005, @DrSmugleaf

AudioSystem logging extension (#5959)
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix TabContainer.CurrentTab setter
  Robust.Client/UserInterface/Controls/TabContainer.cs
Owners: @PJB3005, @DrSmugleaf

Fix TabContainer.CurrentTab setter (#6017)
  Robust.Client/UserInterface/Controls/TabContainer.cs
Owners: @PJB3005, @DrSmugleaf

Remove some of the cvars
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

debug only loading messages
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClydeInternal.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Added a few more steps
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Only one section at a time
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

nullable section name
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Lock out functions if finished
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Avoid server stutters from scsi init
  Robust.Server/Scripting/ScriptHost.cs
Owners: @PJB3005, @DrSmugleaf

Add CompletionHelper.PrototypeIdsLimited API
  Robust.Shared/Console/CompletionHelper.cs
Owners: @PJB3005, @DrSmugleaf

Get rid of saving the ccvar
  Robust.Client/Graphics/LoadingScreenManager.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Configuration/ConfigurationManager.cs
  Robust.Shared/Configuration/IConfigurationManager.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Forgot!
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

A few tweaks
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Disable vsync
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/LoadingScreenManager.cs
Owners: @PJB3005, @DrSmugleaf

Avoid closure allocation in physics SolveIsland()
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Replace static logger call in FileDialogManager
  Robust.Client/UserInterface/FileDialogManager.cs
Owners: @PJB3005, @DrSmugleaf

Replace static logger call in FileDialogManager (#6018)
  Robust.Client/UserInterface/FileDialogManager.cs
Owners: @PJB3005, @DrSmugleaf

added spawn:in command.
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @moonheart08

better annotations
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @moonheart08

use EntityManager.System
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @moonheart08

ftl
  Resources/Locale/en-US/toolshed-commands.ftl
Owners: @PJB3005, @DrSmugleaf

make it lazy cached.
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @moonheart08

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
