Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Modify markup tag interfaces and fix some bugs (#5442)
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
  Robust.Client/UserInterface/RichText/BoldItalicTag.cs
  Robust.Client/UserInterface/RichText/BoldTag.cs
  Robust.Client/UserInterface/RichText/BulletTag.cs
  Robust.Client/UserInterface/RichText/ColorTag.cs
  Robust.Client/UserInterface/RichText/CommandLinkTag.cs
  Robust.Client/UserInterface/RichText/FontTag.cs
  Robust.Client/UserInterface/RichText/HeadingTag.cs
  Robust.Client/UserInterface/RichText/IMarkupTag.cs
  Robust.Client/UserInterface/RichText/ItalicTag.cs
  Robust.Client/UserInterface/RichText/MarkupTagManager.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Fix Container state handling not forcing inserts (#5916)
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Version: 251.0.1-fixtures-fix
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Static Field Assert
  Robust.Shared/Prototypes/PrototypeManager.ValidateFields.cs
Owners: @PJB3005, @DrSmugleaf

Update Robust.Shared/Prototypes/PrototypeManager.ValidateFields.cs
  Robust.Shared/Prototypes/PrototypeManager.ValidateFields.cs
Owners: @PJB3005, @DrSmugleaf

Fix incorrect saved window positions
  Robust.Client/UserInterface/CustomControls/DefaultWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Explainer
  Robust.Client/UserInterface/CustomControls/DefaultWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

init-commit
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.DirectionsCache.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Layer.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
Owners: @PJB3005, @DrSmugleaf

Traversal + lerping stuff
  Robust.Client/GameObjects/EntitySystems/TransformSystem.Component.cs
  Robust.Client/GameObjects/EntitySystems/TransformSystem.cs
  Robust.Shared/CVars.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

Me when matrix ordering
  Robust.Client/GameObjects/EntitySystems/TransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make SpriteSystem.LayerMapReserve not throw
  RELEASE-NOTES.md
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerMap.cs
Owners: @PJB3005, @DrSmugleaf

fix SpriteComponent.Visible
  RELEASE-NOTES.md
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
Owners: @PJB3005, @DrSmugleaf

remove region
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Make SpriteSystem.LayerMapReserve not throw (#5930)
  RELEASE-NOTES.md
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerMap.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
Owners: @PJB3005, @DrSmugleaf

Version: 258.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Mark NetEntity as NotYamlSerializable
  Robust.Shared/GameObjects/NetEntity.cs
Owners: @PJB3005, @DrSmugleaf

Add new Vertical property to progress bars
  Robust.Client/UserInterface/Controls/ProgressBar.cs
Owners: @PJB3005, @DrSmugleaf

Fix static ent collision spawn
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Fix test
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/PhysicsComponent_Test.cs
Owners: @PJB3005, @DrSmugleaf

cool
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix static ent collision spawn (#5933)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/PhysicsComponent_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Version: 258.0.1
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Combine TileChangedEvents in SetTiles (#5912)
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.GridChunk.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

Mark `Entity` methods as readonly (#5919)
  Robust.Shared/GameObjects/Entity.cs
  Robust.UnitTesting/Shared/GameObjects/GenericEntityPrint.cs
Owners: @PJB3005, @DrSmugleaf

Version: 259.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Finish
  Resources/Locale/en-US/commands.ftl
  Resources/Locale/en-US/generic.ftl
  Robust.Shared/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix NotYamlSerializable analyzer ignoring nullable structs
  Robust.Analyzers.Tests/DataDefinitionAnalyzerTest.cs
  Robust.Analyzers/DataDefinitionAnalyzer.cs
  Robust.Roslyn.Shared/TypeSymbolHelper.cs
Owners: @PJB3005, @DrSmugleaf

Fix violations in engine
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

Add protected SpriteSystem reference to VisualizerSystem
  Robust.Client/GameObjects/EntitySystems/VisualizerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix / remove startcollidevent worldpoint
  Robust.Shared/Physics/Events/StartCollideEvent.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Capital S
  Robust.Client/GameObjects/EntitySystems/VisualizerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add `SpriteSystem` dependency to `VisualizerSystem` (#5935)
  Robust.Client/GameObjects/EntitySystems/VisualizerSystem.cs
Owners: @PJB3005, @DrSmugleaf

State pool
  Robust.Server/GameStates/PvsSystem.Ack.cs
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
  Robust.Server/GameStates/PvsSystem.Leave.cs
  Robust.Server/GameStates/PvsSystem.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Threading/IParallelRobustJob.cs
  Robust.Shared/Threading/IRobustJob.cs
  Robust.Shared/Threading/ParallelManager.cs
  Robust.Shared/Threading/RobustJob.cs
  Robust.UnitTesting/TestingParallelManager.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Batch change
  Robust.Shared/Threading/IParallelRobustJob.cs
Owners: @PJB3005, @DrSmugleaf

Add some EntProtoId overloads
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/IEntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Add new Vertical property to progress bars (#5932)
  Robust.Client/UserInterface/Controls/ProgressBar.cs
Owners: @PJB3005, @DrSmugleaf

Add some EntProtoId overloads (#5938)
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/IEntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Merge conflicts
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/ComponentRegistrySerializer.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/CollisionPredictionTest.cs
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix / remove startcollidevent worldpoint (#5936)
  Robust.Shared/Physics/Events/StartCollideEvent.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Version: 260.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
