Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Comments
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Server/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Shared/Animations/SharedAnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Adjustment to return to old state.
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf

hi
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Initial commit
  Robust.Client/Player/PlayerManager.cs
  Robust.Server/GameStates/PvsSystem.Session.cs
  Robust.Server/Player/PlayerManager.cs
  Robust.Shared/GameStates/SessionState.cs
  Robust.Shared/Network/Messages/MsgPlayerList.cs
  Robust.Shared/Player/CommonSession.cs
  Robust.Shared/Player/DummySession.cs
  Robust.Shared/Player/ICommonSession.cs
  Robust.Shared/Player/ISharedPlayerManager.cs
  Robust.Shared/Player/SharedPlayerManager.Sessions.cs
  Robust.Shared/Player/SharedPlayerManager.State.cs
Owners: @PJB3005, @DrSmugleaf

Review fixes
  Robust.Client/Player/PlayerManager.cs
  Robust.Shared/Player/DummySession.cs
Owners: @PJB3005, @DrSmugleaf

More work
  Robust.Shared/GameObjects/ComponentRegistration.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntityUid.cs
Owners: @PJB3005, @DrSmugleaf

More work
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

EntityManager fixes
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/EntityManager.Arch.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityUid.cs
Owners: @PJB3005, @DrSmugleaf

Fix arch tests
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.UnitTesting/Server/GameObjects/ArchTests.cs
Owners: @PJB3005, @DrSmugleaf

Fix arch-ities
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/Map/MapManager.GridCollection.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix addcomp
  Robust.Shared/GameObjects/EntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

Fix GetEntities
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Log late MsgEntity again
  Robust.Server/GameObjects/ServerEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Trim after map loads
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/GameObjects/EntityManager.Arch.cs
  Robust.Shared/Prototypes/EntityPrototype.cs
Owners: @PJB3005, @DrSmugleaf

Avoid most mapload archetype spam
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

Don't implement GetMassData twice
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
Owners: @metalgearsloth

Don't implement GetMassData twice (#5816)
  Robust.Shared/Physics/Systems/FixtureSystem.Shapes.cs
Owners: @metalgearsloth

Add ForbidLiteralAttribute and analyzer (#5808)
  Robust.Analyzers.Tests/ForbidLiteralAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ForbidLiteralAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ForbidLiteralAttribute.cs
Owners: @PJB3005, @DrSmugleaf

equatable FormattedMessage, take 2 (#5780)
  Robust.Shared/Utility/FormattedMessage.cs
Owners: @PJB3005, @DrSmugleaf

Velocity tests return void
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @PJB3005, @DrSmugleaf

SharedPhysicsSystem.Island: set position after velocity (#5801)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.UnitTesting/Shared/Physics/GridReparentVelocity_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

First commit
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
Owners: @PJB3005, @DrSmugleaf

Use SyntaxKind instead of string for TryGetModifierLocation
  Robust.Analyzers/DataDefinitionAnalyzer.cs
Owners: @PJB3005, @DrSmugleaf

Fix multiatlas bug
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/EntityEventBus.Directed.cs
  Robust.Shared/GameObjects/EntityManager.LifeCycle.cs
Owners: @PJB3005, @DrSmugleaf

Version: 251.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

hi (#5811)
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Version: 252.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Lower light defaults
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix merge conflicts
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/GameObjects/WeakEntityReference.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
Owners: @PJB3005, @DrSmugleaf

comments
  Robust.Shared/GameObjects/IEntityManager.Components.cs
Owners: @PJB3005, @DrSmugleaf

A
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/WeakEntityReferenceSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Fix RemCompDeferred not always setting lifestage (#5786)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.LifeCycle.cs
Owners: @PJB3005, @DrSmugleaf

Add new SerializationManager.PushComposition overload (#5785)
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/ComponentRegistrySerializer.cs
Owners: @PJB3005, @DrSmugleaf

More map validator fixes
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Schemas/mapfile.yml
Owners: @PJB3005, @DrSmugleaf

Make BoundUserInterfaceMessageAttempt broaddcast again
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix logMissing in EntitySystem.Resolve()
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntitySystem.Resolve.cs
Owners: @PJB3005, @DrSmugleaf

Fix logMissing in EntitySystem.Resolve() (#5822)
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntitySystem.Resolve.cs
Owners: @PJB3005, @DrSmugleaf

Fix pre-init screen-space overlays
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
