Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Replace IsMap and IsGrid calls with HasComp (#5866)
  Robust.Server/Physics/GridFixtureSystem.cs
  Robust.Shared/ComponentTrees/RecursiveMoveSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Use EntityQuery for map / grid calls
  Robust.Server/Physics/GridFixtureSystem.cs
  Robust.Shared/ComponentTrees/RecursiveMoveSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix CA2264 in Resource Manager
  Robust.Shared/ContentPack/ResourceManager.cs
Owners: @PJB3005, @DrSmugleaf

Use EntityQuery for map / grid calls (#5869)
  Robust.Server/Physics/GridFixtureSystem.cs
  Robust.Shared/ComponentTrees/RecursiveMoveSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix CA2264 in Resource Manager (#5870)
  Robust.Shared/ContentPack/ResourceManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix the pr
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Use FrozenDict for style properties
  Robust.Client/UserInterface/Control.Styling.cs
Owners: @PJB3005, @DrSmugleaf

Dont throw on unneccesary shutdown
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @moonheart08

Moved
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
  Robust.Shared/Map/CoordinatesExtensions.cs
Owners: @PJB3005, @DrSmugleaf

Make `RobustIntegrationTest` pool by default
  RELEASE-NOTES.md
  Robust.Benchmarks/Transform/RecursiveMoveBenchmark.cs
  Robust.Server/GameStates/PvsData.cs
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.UnitTesting/Client/GameObjects/Components/OccluderDirectionsTest.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
  Robust.UnitTesting/Server/GameStates/DefaultEntityTest.cs
  Robust.UnitTesting/Server/GameStates/DetachedParentTest.cs
  Robust.UnitTesting/Server/GameStates/MissingParentTest.cs
  Robust.UnitTesting/Server/GameStates/PvsChunkTest.cs
  Robust.UnitTesting/Server/GameStates/PvsReEntryTest.cs
  Robust.UnitTesting/Server/GameStates/PvsSystemTests.cs
  Robust.UnitTesting/Shared/EngineIntegrationTest_Test.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/EntitySerialization/CategorizationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/LifestageSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/MapMergeTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/OrphanSerializationTest.cs
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
  Robust.UnitTesting/Shared/GameState/ComponentStateTests.cs
  Robust.UnitTesting/Shared/GameState/DeletionNetworkingTests.cs
  Robust.UnitTesting/Shared/GameState/NoSharedReferencesTest.cs
  Robust.UnitTesting/Shared/Map/SingleTileRemoveTest.cs
  Robust.UnitTesting/Shared/Networking/DisconnectTest.cs
  Robust.UnitTesting/Shared/Physics/BroadphaseNetworkingTest.cs
  Robust.UnitTesting/Shared/Physics/CollisionPredictionTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnInContainerOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnNextToOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnInContainerTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnNextToTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix debug assert
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Bounds.cs
Owners: @PJB3005, @DrSmugleaf

Make `RobustIntegrationTest` pool by default (#5872)
  RELEASE-NOTES.md
  Robust.Benchmarks/Transform/RecursiveMoveBenchmark.cs
  Robust.Server/GameStates/PvsData.cs
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.UnitTesting/Client/GameObjects/Components/OccluderDirectionsTest.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
  Robust.UnitTesting/Server/GameStates/DefaultEntityTest.cs
  Robust.UnitTesting/Server/GameStates/DetachedParentTest.cs
  Robust.UnitTesting/Server/GameStates/MissingParentTest.cs
  Robust.UnitTesting/Server/GameStates/PvsChunkTest.cs
  Robust.UnitTesting/Server/GameStates/PvsReEntryTest.cs
  Robust.UnitTesting/Server/GameStates/PvsSystemTests.cs
  Robust.UnitTesting/Shared/EngineIntegrationTest_Test.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/EntitySerialization/CategorizationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/LifestageSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/MapMergeTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/OrphanSerializationTest.cs
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
  Robust.UnitTesting/Shared/GameState/ComponentStateTests.cs
  Robust.UnitTesting/Shared/GameState/DeletionNetworkingTests.cs
  Robust.UnitTesting/Shared/GameState/NoSharedReferencesTest.cs
  Robust.UnitTesting/Shared/Map/SingleTileRemoveTest.cs
  Robust.UnitTesting/Shared/Networking/DisconnectTest.cs
  Robust.UnitTesting/Shared/Physics/BroadphaseNetworkingTest.cs
  Robust.UnitTesting/Shared/Physics/CollisionPredictionTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnInContainerOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnNextToOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnInContainerTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnNextToTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTest.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

PredictedDeleteEntity fixes
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

PredictedDeleteEntity fixes (#5873)
  RELEASE-NOTES.md
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
Owners: @PJB3005, @DrSmugleaf

sloth is so going to kill me
  Robust.Client/ClientIoC.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/Localization/ClientLocalizationManager.cs
  Robust.Client/Utility/ReloadManager.cs
  Robust.Server/BaseServer.cs
  Robust.Server/Localization/ServerLocalizationManager.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.Entity.cs
  Robust.Shared/Localization/LocalizationManager.Functions.cs
  Robust.Shared/Localization/LocalizationManager.cs
  Robust.Shared/SharedIoC.cs
  Robust.Shared/Utility/IReloadManager.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
Owners: @PJB3005, @DrSmugleaf

Minor respath improvements
  Robust.Shared/Utility/ResPath.cs
  Robust.UnitTesting/Shared/Utility/ResPathTest.cs
Owners: @PJB3005, @DrSmugleaf

Add helpers
  Robust.Shared/Utility/ResPath.cs
Owners: @PJB3005, @DrSmugleaf

tweak helper
  Robust.Shared/Utility/ResPath.cs
Owners: @PJB3005, @DrSmugleaf

Engine pool manager
  Robust.UnitTesting/Pool/ITestInstance.cs
  Robust.UnitTesting/Pool/ITestPair.cs
  Robust.UnitTesting/Pool/PairSettings.cs
  Robust.UnitTesting/Pool/PoolManager.cs
  Robust.UnitTesting/Pool/PoolTestLogHandler.cs
  Robust.UnitTesting/Pool/TestPair.Helpers.cs
  Robust.UnitTesting/Pool/TestPair.Recycle.cs
  Robust.UnitTesting/Pool/TestPair.cs
  Robust.UnitTesting/Pool/TestPrototypesAttribute.cs
  Robust.UnitTesting/RobustIntegrationTest.TestPair.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

Move documentation
  Robust.UnitTesting/Pool/ITestInstance.cs
  Robust.UnitTesting/Pool/PoolManager.cs
  Robust.UnitTesting/Pool/TestPair.Helpers.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

Move namespace
  Robust.UnitTesting/IIntegrationInstance.cs
  Robust.UnitTesting/Pool/TestPair.Helpers.cs
  Robust.UnitTesting/Pool/TestPair.Recycle.cs
  Robust.UnitTesting/Pool/TestPair.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

Move TestMapData to engine
  Robust.UnitTesting/IIntegrationInstance.cs
  Robust.UnitTesting/Pool/TestMapData.cs
  Robust.UnitTesting/Pool/TestPair.Helpers.cs
  Robust.UnitTesting/Pool/TestPair.Recycle.cs
  Robust.UnitTesting/Pool/TestPair.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

Option to prevent loading test assembly
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Rename to avoid conflicts
  Robust.UnitTesting/Pool/ITestPair.cs
  Robust.UnitTesting/Pool/PoolManager.cs
  Robust.UnitTesting/Pool/TestPair.cs
Owners: @PJB3005, @DrSmugleaf

the voices in my head told me to do this
  Robust.Shared/Localization/LocalizationManager.cs
  Robust.UnitTesting/Shared/Localization/LoadLocalizationTest.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

Pause entities that leave PVS range
  RELEASE-NOTES.md
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.UnitTesting/Server/GameStates/PvsPauseTest.cs
Owners: @PJB3005, @DrSmugleaf

Add cycle detection when setting MIDI renderer masters
  RELEASE-NOTES.md
  Robust.Client/Audio/Midi/MidiRenderer.cs
Owners: @PJB3005, @DrSmugleaf

Initial commit
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix SharedPhysicsSystem.CollideContacts looping contacts that are in nullspace
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Fix SharedPhysicsSystem.CollideContacts looping contacts that are in nullspace (#5881)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Fix SharedPhysicsSystem.CollideContacts looping contacts that are in nullspace (#5881)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Version: 251.0.0-fixtures-fix
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Add function for validating yaml from a stream representing a single file
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.YamlValidate.cs
Owners: @PJB3005, @DrSmugleaf

Component network generator now does internal classes
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

Add GetNetEntityArray helpers that take IReadOnlyCollection<T>.
  Robust.Shared/GameObjects/EntityManager.Network.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Network.cs
Owners: @PJB3005, @DrSmugleaf

Fix replays playing more sound effects than they should.
  Robust.Client/Audio/AudioSystem.cs
  Robust.Client/Replays/ReplayCameraComponent.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Server/GameObjects/ServerComponentFactory.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
  Robust.Shared/Audio/Components/AudioPlayerFilterComponent.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
  Robust.Shared/Player/Filter.cs
  Robust.Shared/Player/FilterExpression.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in PhysicsMap_Test
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fix warnings in Joints_Test
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
