Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix MIDI paths
  Robust.Client/Audio/Midi/MidiManager.cs
  Robust.Shared/ContentPack/IWritableDirProvider.cs
  Robust.Shared/ContentPack/VirtualWritableDirProvider.cs
  Robust.Shared/ContentPack/WritableDirProvider.cs
Owners: @PJB3005, @DrSmugleaf

Improved formatting of descriptions and results
  Robust.UnitTesting/Constraints/EntityPrototypeComponentConstraint.cs
  Robust.UnitTesting/Constraints/PrototypeManagerIndexConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Add PrototypeManager Has.Index(EntProtoId)
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityUid/Entity Is.Deleted(IEntityManager)
  Robust.UnitTesting/Constraints/ConstraintUtils.cs
  Robust.UnitTesting/Constraints/EntityDeletedConstraint.cs
  Robust.UnitTesting/Is.cs
Owners: @PJB3005, @DrSmugleaf

Updated
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Also support Entity tuples
  Robust.UnitTesting/Constraints/ConstraintUtils.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityUid/Entity Has.Component<T>(IEntityManager)
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Constraints/EntityComponentConstraint.cs
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

Move match highlighting to utils
  Robust.UnitTesting/Constraints/ConstraintUtils.cs
  Robust.UnitTesting/Constraints/EntityComponentConstraint.cs
  Robust.UnitTesting/Constraints/EntityPrototypeComponentConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityUid/Entity Is.OnMap(MapId, IEntityManager)
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Constraints/EntityOnMapConstraint.cs
  Robust.UnitTesting/Is.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityUid/Entity Is.InNullspace(IEntityManager)
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Is.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityUid/Entity Is.InRangeOf(EntityUid, float, IEntityManager) and EntityUid/Entity Is.InRangeOf(EntityUid, float, SharedTransformSystem)
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Constraints/EntityInRangeOfConstraint.cs
  Robust.UnitTesting/Is.cs
Owners: @PJB3005, @DrSmugleaf

docs
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Has.cs
  Robust.UnitTesting/Is.cs
Owners: @PJB3005, @DrSmugleaf

Add Approximately to ConstraintExtensions
  Robust.UnitTesting/ConstraintExtensions.cs
Owners: @PJB3005, @DrSmugleaf

Add EntityManagery Has.ComponentCount<T>(int)
  Robust.UnitTesting/ConstraintExtensions.cs
  Robust.UnitTesting/Constraints/EntityManagerComponentCountConstraint.cs
  Robust.UnitTesting/Has.cs
Owners: @PJB3005, @DrSmugleaf

Add RequireActual<T> to ConstraintUtils and replace repetitive code
  Robust.UnitTesting/Constraints/ConstraintUtils.cs
  Robust.UnitTesting/Constraints/EntityManagerComponentCountConstraint.cs
  Robust.UnitTesting/Constraints/EntityPrototypeComponentConstraint.cs
  Robust.UnitTesting/Constraints/PrototypeManagerIndexConstraint.cs
Owners: @PJB3005, @DrSmugleaf

Move ApproxEqualityConstraint into Constraints namespace
  Robust.UnitTesting/Client/GameObjects/Components/TransformComponentTests.cs
  Robust.UnitTesting/Client/UserInterface/ControlTest.cs
  Robust.UnitTesting/Constraints/ApproxEqualityConstraint.cs
  Robust.UnitTesting/Server/GameObjects/Components/Transform_Test.cs
  Robust.UnitTesting/Shared/Maths/Angle_Test.cs
Owners: @PJB3005, @DrSmugleaf

Improve output for EntityComponentConstraint
  Robust.UnitTesting/Constraints/EntityComponentConstraint.cs
Owners: @PJB3005, @DrSmugleaf

More work
  Robust.Client/Physics/PhysicsSystem.Predict.cs
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Grid.cs
  Robust.Shared/Physics/PhysicsWorld.cs
  Robust.Shared/Physics/Systems/FixtureSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Map.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/RobustUnitTest.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/Physics/BroadphaseNetworkingTest.cs
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Purge
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/JointDeletion_Test.cs
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
  Robust.UnitTesting/Shared/Physics/RecursiveUpdateTest.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @metalgearsloth

Eh?
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
Owners: @PJB3005, @DrSmugleaf

Also this
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
Owners: @PJB3005, @DrSmugleaf

weh
  Robust.UnitTesting/Shared/Physics/Stack_Test.cs
Owners: @PJB3005, @DrSmugleaf

Fixes
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/Physics/Components/Gravity2DComponent.cs
  Robust.Shared/Physics/Controllers/Gravity2DController.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Map.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

ice-cream
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @metalgearsloth

Fix
  Robust.Shared/Physics/Components/PhysicsComponent.Physics.cs
  Robust.Shared/Physics/Controllers/Gravity2DController.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
Owners: @metalgearsloth

Fix stacking / gravity
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Shared/Physics/Controllers/Gravity2DController.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Gravity query
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
Owners: @metalgearsloth

MoveBuffer optimisations
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fixes for test
  Robust.Server/Physics/Commands/BoxStackCommand.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
Owners: @moonheart08, @metalgearsloth, @PJB3005, @DrSmugleaf

World gravity
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Server/Physics/Commands/BoxStackCommand.cs
  Robust.Shared/Physics/Components/Gravity2DComponent.cs
  Robust.Shared/Physics/Controllers/Gravity2DController.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/Physics/Stack_Test.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Add entity description as tooltip on entity spawn panel (#5761)
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.xaml.cs
Owners: @PJB3005, @DrSmugleaf

Fix build
  Robust.Server/Physics/Commands/BoxStackCommand.cs
  Robust.UnitTesting/RobustUnitTest.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/Physics/Stack_Test.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

Avoid some transform resolves for contactless ents
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Less getcomps
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Dynamics/FixtureProxy.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix contact caching
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Possibly less copies
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

reh
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Generic parallelmanager
  Robust.Shared/Threading/ParallelManager.cs
  Robust.UnitTesting/TestingParallelManager.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
