Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

A crumb of danger
  Robust.Benchmarks/Physics/TumblerBenchmark.cs
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/BroadPhase/DynamicTreeBroadPhase.cs
  Robust.Shared/Physics/IBroadPhase.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Minor toolshed fixes / tweaks (#5315)
  RELEASE-NOTES.md
  Robust.Shared/Toolshed/Errors/NotForServerConsoleError.cs
  Robust.Shared/Toolshed/Errors/SessionHasNoEntityError.cs
  Robust.Shared/Toolshed/Syntax/ParserContext.cs
  Robust.Shared/Toolshed/Syntax/ValueRef.cs
  Robust.Shared/Toolshed/ToolshedManager.Parsing.cs
  Robust.Shared/Toolshed/TypeParsers/StringTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/TypeTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

remove old release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Make IComponentDelta implement IComponent
  Robust.Serialization.Generator/Generator.cs
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Network.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
Owners: @PJB3005, @DrSmugleaf

add sourcegen launch settings
  Robust.Shared.CompNetworkGenerator/Properties/launchSettings.json
Owners: @PJB3005, @DrSmugleaf

make silent error loud
  Robust.Shared/GameObjects/ComponentFactory.cs
Owners: @PJB3005, @DrSmugleaf

Re-attempt `FlushEntities()` on failure (#5423)
  RELEASE-NOTES.md
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Improve FlushEntities() error logs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

log count before flush
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

Controls in RichText fixes
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

useless
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

docstrings in view variables mvp
  Resources/ViewVariables/Robust.Client.xml
  Resources/ViewVariables/Robust.Server.xml
  Resources/ViewVariables/Robust.Shared.xml
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
  Robust.Client/ViewVariables/IClientViewVariablesManagerInternal.cs
  Robust.Client/ViewVariables/Instances/ViewVariablesInstanceObject.cs
  Robust.Client/ViewVariables/ViewVariablesInstance.cs
Owners: @PJB3005, @DrSmugleaf

Activate XAML hot reload on file rename
  Robust.Client/UserInterface/XAML/Proxy/XamlHotReloadManager.cs
Owners: @PJB3005, @DrSmugleaf

working with fields and properties
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
  Robust.Client/ViewVariables/IClientViewVariablesManagerInternal.cs
  Robust.Client/ViewVariables/Instances/ViewVariablesInstanceEntity.cs
  Robust.Client/ViewVariables/Instances/ViewVariablesInstanceObject.cs
  Robust.Client/ViewVariables/Traits/ViewVariablesTraitMembers.cs
  Robust.Client/ViewVariables/ViewVariablesInstance.cs
  Robust.Client/ViewVariables/ViewVariablesPropertyControl.cs
  Robust.Server/ViewVariables/Traits/ViewVariablesTraitMembers.cs
Owners: @PJB3005, @DrSmugleaf

move this code since we'll be expanding it
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
Owners: @PJB3005, @DrSmugleaf

Add some entitylookup methods
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
Owners: @PJB3005, @DrSmugleaf

Add some entitylookup methods (#5431)
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
Owners: @PJB3005, @DrSmugleaf

Version: 233.1.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Get FormattedMessage from RichTextLabel
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
Owners: @PJB3005, @DrSmugleaf

Mark large replays as requiring Server GC.
  Robust.Shared/CVars.cs
  Robust.Shared/Replays/SharedReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

Obsolete some useless type proxies on IResourceCache
  Robust.Client/ResourceManagement/IResourceCache.cs
Owners: @PJB3005, @DrSmugleaf

boy I sure do love processing xml, yep.
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
Owners: @PJB3005, @DrSmugleaf

not as much string cleanup as I expected
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
Owners: @PJB3005, @DrSmugleaf

more robustness and cleanup
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
  Robust.Client/ViewVariables/ClientViewVariablesManager.cs
Owners: @PJB3005, @DrSmugleaf

I met a man without a name in a meadow beyond time and he whispered to me about msbuild
  MSBuild/Robust.Properties.targets
  MSBuild/Robust.ViewVariables.targets
  Robust.Client/Robust.Client.csproj
  Robust.Server/Robust.Server.csproj
  Robust.Shared/Robust.Shared.csproj
Owners: @PJB3005, @DrSmugleaf

comment
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

minor tabs-vs-spaces skirmish, spaces victorious
  Robust.Client/Robust.Client.csproj
  Robust.Server/Robust.Server.csproj
  Robust.Shared/Robust.Shared.csproj
Owners: @PJB3005, @DrSmugleaf

Remove fully-obsoleted code
  Robust.Client/Audio/Midi/IMidiRenderer.cs
  Robust.Client/Audio/Midi/MidiRenderer.cs
  Robust.Client/Credits/CreditsManager.cs
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameStates/IClientGameStateManager.cs
  Robust.Client/UserInterface/CustomControls/SS14Window.cs
  Robust.Server/GameStates/PvsOverrideSystem.cs
  Robust.Server/ServerStatus/IStatusHandlerContext.cs
  Robust.Server/ServerStatus/IStatusHost.cs
  Robust.Server/ServerStatus/StatusHost.Acz.Sources.cs
  Robust.Server/ServerStatus/StatusHost.cs
  Robust.Shared/Audio/SoundSpecifier.cs
  Robust.Shared/Containers/ContainerManagerComponent.cs
  Robust.Shared/Containers/SharedContainerSystem.cs
  Robust.Shared/GameObjects/Components/Appearance/AppearanceComponent.cs
  Robust.Shared/GameObjects/Components/Timers/TimerExtensions.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/Log/Logger.cs
  Robust.Shared/Map/Components/MapGridComponent.cs
  Robust.Shared/Map/EntityCoordinates.cs
  Robust.Shared/Map/IMapManager.cs
  Robust.Shared/Map/MapManager.GridCollection.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
  Robust.Shared/Player/Filter.cs
  Robust.Shared/Player/ICommonSession.cs
  Robust.Shared/Player/ISharedPlayerManager.cs
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

contemplate the sound of wisdom, recover incremental knowlage about msbuild
  MSBuild/Robust.ViewVariables.targets
  Resources/ViewVariables/Robust.Client.xml
  Resources/ViewVariables/Robust.Server.xml
  Resources/ViewVariables/Robust.Shared.xml
Owners: @PJB3005, @DrSmugleaf

update gitignore
  .gitignore
Owners: @PJB3005, @DrSmugleaf

slightly cleaner defensive programming
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
Owners: @PJB3005, @DrSmugleaf

Add XmlDocTool - a utility program for reducing the size of the generated xml docs
  XmlDocTool/Program.cs
  XmlDocTool/XmlDocRoundTripTest.cs
  XmlDocTool/XmlDocTool.csproj
  XmlDocTool/XmlUtil.cs
Owners: @PJB3005, @DrSmugleaf

Remove most fully-obsoleted code (#5433)
  Robust.Client/Audio/Midi/IMidiRenderer.cs
  Robust.Client/Audio/Midi/MidiRenderer.cs
  Robust.Client/Credits/CreditsManager.cs
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameStates/IClientGameStateManager.cs
  Robust.Client/UserInterface/CustomControls/SS14Window.cs
  Robust.Server/GameStates/PvsOverrideSystem.cs
  Robust.Server/ServerStatus/IStatusHandlerContext.cs
  Robust.Server/ServerStatus/IStatusHost.cs
  Robust.Server/ServerStatus/StatusHost.Acz.Sources.cs
  Robust.Server/ServerStatus/StatusHost.cs
  Robust.Shared/Audio/SoundSpecifier.cs
  Robust.Shared/Containers/ContainerManagerComponent.cs
  Robust.Shared/Containers/SharedContainerSystem.cs
  Robust.Shared/GameObjects/Components/Appearance/AppearanceComponent.cs
  Robust.Shared/GameObjects/Components/Timers/TimerExtensions.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.ComponentQueries.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.Shared/Log/Logger.cs
  Robust.Shared/Map/Components/MapGridComponent.cs
  Robust.Shared/Map/EntityCoordinates.cs
  Robust.Shared/Map/IMapManager.cs
  Robust.Shared/Map/MapManager.GridCollection.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
  Robust.Shared/Player/Filter.cs
  Robust.Shared/Player/ICommonSession.cs
  Robust.Shared/Player/ISharedPlayerManager.cs
  Robust.Shared/Prototypes/IPrototypeManager.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

feat: added audio system predicted method for only one receiver
  RELEASE-NOTES.md
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Move XmlDocTool into a Robust folder/namespace. use Path.Combine to get the tempFilename
  Robust.XmlDocTool/Program.cs
  Robust.XmlDocTool/Robust.XmlDocTool.csproj
  Robust.XmlDocTool/XmlDocRoundTripTest.cs
  Robust.XmlDocTool/XmlUtil.cs
Owners: @PJB3005, @DrSmugleaf

Add another lookup override
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.LocalQueries.cs
Owners: @PJB3005, @DrSmugleaf

Add another lookup override (#5436)
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.LocalQueries.cs
Owners: @PJB3005, @DrSmugleaf

Version: 234.0.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

add support for the viewvariables custom block in xml comments
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
Owners: @PJB3005, @DrSmugleaf

renamed to PlayLocal
  RELEASE-NOTES.md
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
