Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Resolved an issue with the eraser mouse coordinates method returning the wrong coordinates
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

add MapMergeTest
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/Options.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.LoadMap.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/MapMergeTest.cs
Owners: @PJB3005, @DrSmugleaf

Add WeakEntityReference
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/WeakEntityReference.cs
  Robust.Shared/Map/MapSerializationContext.cs
  Robust.Shared/Prototypes/EntProtoId.cs
  Robust.Shared/Prototypes/ProtoId.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
  Robust.Shared/Serialization/Manager/Exceptions/CopyToFailedException.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/WeakEntityReferenceSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Use NetEntity
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
  Robust.Shared/GameObjects/IEntityManager.Components.cs
  Robust.Shared/GameObjects/WeakEntityReference.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

A
  Robust.Shared/Map/MapSerializationContext.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/WeakEntityReferenceSerializer.cs
Owners: @PJB3005, @DrSmugleaf

Log errors when encountering entity data fields
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/Serialization/Manager/Attributes/NotYamlSerializableAttribute.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Validation.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/ComponentRegistrySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/EntProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ProtoIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector2Serializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector2iSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector3Serializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Vector4Serializer.cs
  Robust.UnitTesting/Shared/GameObjects/GenericEntityPrint.cs
Owners: @PJB3005, @DrSmugleaf

Add NetEntity support
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/GameObjects/NetEntity.cs
  Robust.Shared/Prototypes/YamlValidationContext.cs
Owners: @PJB3005, @DrSmugleaf

PlacementManager CurrentEraserMouseCoordinates fix (#5576)
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Version: 238.0.1
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Improve help signatures, fix map command
  RELEASE-NOTES.md
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Generic/CountCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/EmplaceCommand.cs
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/TypeParsers/BlockType.cs
  Robust.Shared/Toolshed/TypeParsers/TypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/VarRefType.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Improve NoImplementationError
  Robust.Shared/Toolshed/Syntax/ParsedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Better type argument help signatures
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

better pipe syntax
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Start converting SDL2 backend to SDL3.
  Robust.Client/GameController/GameController.Standalone.cs
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL2Api.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/LICENSE
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.Monitors.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl2.RawEvents.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Event.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Key.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Monitor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.cs
  Robust.Client/Graphics/Clyde/Windowing/WsiShared.cs
Owners: @PJB3005, @DrSmugleaf

fix NRE
  Robust.Shared/Toolshed/Commands/Generic/EmplaceCommand.cs
Owners: @moonheart08

Add test
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Fix text input
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Events.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
  Robust.Client/Graphics/Clyde/Windowing/Glfw.cs
  Robust.Client/Graphics/Clyde/Windowing/IWindowingImpl.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
  Robust.Client/Graphics/IClyde.cs
  Robust.Client/Graphics/IClydeWindow.cs
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/TextEdit.cs
Owners: @PJB3005, @DrSmugleaf

Fix mouse buttons being broken
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Event.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
Owners: @PJB3005, @DrSmugleaf

a
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Remove records from SDL3 WSI
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Monitor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
Owners: @PJB3005, @DrSmugleaf

Set Windows/X11 native window properties
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
Owners: @PJB3005, @DrSmugleaf

Fix window resize events getting wrong size
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
Owners: @PJB3005, @DrSmugleaf

Remove "using static" from SDL3 WSI
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Event.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Key.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.cs
Owners: @PJB3005, @DrSmugleaf

Apparently I never called CheckThreadApartment().
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.cs
Owners: @PJB3005, @DrSmugleaf

Add STAThreadAttribute to sandbox
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Set window title on creation properly.
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
Owners: @PJB3005, @DrSmugleaf

Load window icons
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowIcons.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.cs
Owners: @PJB3005, @DrSmugleaf

Fix GLFW NoTitleBar style handling
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
Owners: @PJB3005, @DrSmugleaf

Implement more window creation settings in SDL3
  Robust.Client/Graphics/Clyde/Windowing/Glfw.Windows.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/WsiShared.cs
Owners: @PJB3005, @DrSmugleaf

Make fullscreen work properly in SDL3.
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Event.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Monitor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.RawEvent.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.WindowThread.cs
Owners: @PJB3005, @DrSmugleaf

File dialogs with SDL3
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.FileDialog.cs
  Robust.Client/Graphics/IClydeInternal.cs
  Robust.Client/UserInterface/FileDialogManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix some TODOs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Cursor.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.Window.cs
Owners: @PJB3005, @DrSmugleaf

Fix silent toolshed failure
  Robust.Shared/Toolshed/ToolshedManager.cs
Owners: @moonheart08

Fix GetConcreteMethodInternal
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Improve vars command
  Robust.Shared/Toolshed/Commands/Generic/Variables/VarsCommand.cs
  Robust.Shared/Toolshed/ToolshedManager.PrettyPrint.cs
Owners: @moonheart08

EntProtoId IAsType
  Robust.Shared/Prototypes/EntProtoId.cs
Owners: @PJB3005, @DrSmugleaf

More GetConcreteMethodInternal fixes
  RELEASE-NOTES.md
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

I hate this so much
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/ToolshedManager.PrettyPrint.cs
Owners: @moonheart08

update tp command description
  Resources/Locale/en-US/toolshed-commands.ftl
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
