Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

replace AnchorEntity debug assert with a log (#5508)
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

dependency injection
  Robust.Client/UserInterface/CustomControls/DebugMonitorControls/DebugMonitors.cs
  Robust.Client/UserInterface/IDebugMonitors.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Owners: @PJB3005, @DrSmugleaf

remove VersionInformationPrinter
  Robust.Client/UserInterface/CustomControls/DebugMonitorControls/DebugVersionPanel.cs
  Robust.Shared/Utility/VersionInformationPrinter.cs
Owners: @PJB3005, @DrSmugleaf

Fix sorting
  Robust.Client/UserInterface/CustomControls/DebugMonitorControls/DebugMonitors.cs
Owners: @PJB3005, @DrSmugleaf

Created Debug Version Panel and Version Info Printer similar to DebugSystemPanel (#5624)
  Robust.Client/UserInterface/CustomControls/DebugMonitorControls/DebugMonitors.cs
  Robust.Client/UserInterface/CustomControls/DebugMonitorControls/DebugVersionPanel.cs
  Robust.Client/UserInterface/IDebugMonitors.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix bug, avoid IocResolves
  Robust.Shared/Console/CompletionHelper.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Map.cs
Owners: @PJB3005, @DrSmugleaf

grid is grid
  Resources/Locale/en-US/generic.ftl
Owners: @PJB3005, @DrSmugleaf

file filename clash
  Resources/Locale/en-US/_generic.ftl
  Resources/Locale/en-US/generic.ftl
Owners: @PJB3005, @DrSmugleaf

turn hint into option
  Robust.Shared/Console/Commands/MapCommands.cs
Owners: @moonheart08

a
  Resources/Locale/en-US/_generic.ftl
Owners: @PJB3005, @DrSmugleaf

Fix download_manifest_file.py to always decode as UTF-8
  Tools/download_manifest_file.py
Owners: @PJB3005, @DrSmugleaf

Make ACZ status host explicitly respond with UTF-8 charset
  Robust.Server/ServerStatus/StatusHost.Acz.cs
Owners: @PJB3005, @DrSmugleaf

Fix bug wrapping wide utf16 characters; add documentation for function (#6194)
  Robust.Client/UserInterface/WordWrap.cs
Owners: @PJB3005, @DrSmugleaf

Fix serialization of data-records with get-only properties (#6204)
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.cs
  Robust.UnitTesting/Shared/Serialization/DataRecordTest.cs
Owners: @PJB3005, @DrSmugleaf

Typo fix
  Robust.Shared/EntitySerialization/SerializationEnums.cs
Owners: @PJB3005, @DrSmugleaf

Improve map serialization error logging & exception tolerance (#6188)
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/Options.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
Owners: @PJB3005, @DrSmugleaf

initial commit
  Robust.Client/GameObjects/EntitySystems/TransformSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Try fix UI state debug assert (#6191)
  Robust.Client/GameStates/GameStateProcessor.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

Autocomplete more map commands (#5797)
  Resources/Locale/en-US/_generic.ftl
  Resources/Locale/en-US/commands.ftl
  Robust.Client/GameObjects/EntitySystems/MapSystem.cs
  Robust.Server/GameObjects/EntitySystems/MapSystem.cs
  Robust.Shared/Console/Commands/MapCommands.cs
  Robust.Shared/Console/CompletionHelper.cs
  Robust.Shared/GameObjects/Systems/SharedMapSystem.Map.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

fix CurrentMousePosition
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

shorter
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

fix
  Resources/Shaders/Internal/light_shared.swsl
  Robust.Shared/GameObjects/Components/Light/SharedPointLightComponent.cs
Owners: @PJB3005, @DrSmugleaf

fix PlacementManager.CurrentMousePosition during integration tests (#6208)
  Robust.Client/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

oops committed it at 1 while testing i think, values are balanced for 0
  Robust.Shared/GameObjects/Components/Light/SharedPointLightComponent.cs
Owners: @PJB3005, @DrSmugleaf

More accurate & controllable pointlight attenuation (#6160)
  Resources/Shaders/Internal/light_shared.swsl
  Robust.Client/GameObjects/EntitySystems/PointLightSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
  Robust.Shared/GameObjects/Components/Light/PointLightComponentState.cs
  Robust.Shared/GameObjects/Components/Light/SharedPointLightComponent.cs
  Robust.Shared/GameObjects/Systems/SharedPointLightSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix compat mode float shit
  Resources/Shaders/Internal/light_shared.swsl
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix compat mode floats in light attenuation + release notes (#6209)
  RELEASE-NOTES.md
  Resources/Shaders/Internal/light_shared.swsl
Owners: @PJB3005, @DrSmugleaf

Add comment
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Change PhysicsSystem.Island.FinalisePositions to TryComp transform component (#6135)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Update release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 267.1.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Loop false
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

Removed goobstation comments
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Owners: @PJB3005, @DrSmugleaf

scary scary refactor
  Resources/EnginePrototypes/pronounTenses.yml
  Resources/Locale/en-US/_engine_lib.ftl
  Resources/Locale/pt-BR/_engine_lib.ftl
  Robust.Shared/GameObjects/Components/Localization/GrammarComponent.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocFunction.cs
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

Fix resource loading on non-Windows platforms (#6201)
  Robust.Shared/ContentPack/PathHelpers.cs
Owners: @PJB3005, @DrSmugleaf

Version: 267.0.2
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Version: 266.0.2
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix resource loading on non-Windows platforms (#6201)
  Robust.Shared/ContentPack/PathHelpers.cs
Owners: @PJB3005, @DrSmugleaf

Version: 265.0.2
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf
