Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

loadgrid no fail (#6169)
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

feat: `GetString`, `TryGetString`, `HasString` culture aware variants
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.cs
Owners: @PJB3005, @DrSmugleaf

dmetamem command is now behind #if TOOLS
  Robust.Client/Console/Commands/DumpMetadataMembersCommand.cs
Owners: @moonheart08

Add WeakReference<T> to sandbox
  RELEASE-NOTES.md
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add viewport stuff for caching rendering resources properly.
  RELEASE-NOTES.md
  Robust.Client/Console/Commands/ViewportDebugCommands.cs
  Robust.Client/Graphics/Clyde/Clyde.Viewport.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/IClydeInternal.cs
  Robust.Client/Graphics/IClydeViewport.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix OutputPanel.SetMessage causing the panel to bounce if setting a message other than the last one (#6163)
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Version: 264.0.2-fix-physics
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

rename ent
  Resources/Locale/en-US/_engine_lib.ftl
  Resources/Locale/pt-BR/_engine_lib.ftl
  Robust.Shared/Localization/LocalizationManager.Functions.cs
Owners: @PJB3005, @DrSmugleaf

internals ripped out
  Robust.Shared/ContentPack/IResourceManager.cs
  Robust.Shared/ContentPack/IResourceManagerInternal.cs
Owners: @PJB3005, @DrSmugleaf

fallout
  Robust.Client.WebView/Cef/WebViewManagerCef.cs
  Robust.Client/ClientIoC.cs
  Robust.Client/Console/Commands/Debug.cs
  Robust.Client/GameController/GameController.cs
  Robust.Server/BaseServer.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/ContentPack/ModLoader.cs
  Robust.Shared/ContentPack/ResourceManager.cs
  Robust.Shared/ProgramShared.cs
  Robust.UnitTesting/Helpers.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
  Robust.UnitTesting/Server/Maps/MapLoaderTest.cs
  Robust.UnitTesting/Shared/ContentPack/ResourceManagerTest.cs
  Robust.UnitTesting/Shared/ContentPack/ResourceManagerTest2.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/Localization/LoadLocalizationTest.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

actually
  Robust.Shared/ContentPack/IResourceManager.cs
  Robust.Shared/ContentPack/IResourceManagerInternal.cs
  Robust.Shared/ContentPack/ResourceManager.cs
Owners: @PJB3005, @DrSmugleaf

revert fallout
  Robust.Client.WebView/Cef/WebViewManagerCef.cs
  Robust.Client/ClientIoC.cs
  Robust.Client/Console/Commands/Debug.cs
  Robust.Client/GameController/GameController.cs
  Robust.Server/BaseServer.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/ContentPack/ModLoader.cs
  Robust.Shared/ProgramShared.cs
  Robust.UnitTesting/Helpers.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
  Robust.UnitTesting/Server/Maps/MapLoaderTest.cs
  Robust.UnitTesting/Shared/ContentPack/ResourceManagerTest.cs
  Robust.UnitTesting/Shared/ContentPack/ResourceManagerTest2.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/Localization/LoadLocalizationTest.cs
  Robust.UnitTesting/Shared/Localization/LocalizationTests.cs
Owners: @PJB3005, @DrSmugleaf

oops
  Robust.Shared/ContentPack/IResourceManagerInternal.cs
Owners: @PJB3005, @DrSmugleaf

Improve map serialization error logging
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/Options.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
Owners: @PJB3005, @DrSmugleaf

Prevent remove children of erroring entities
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
Owners: @PJB3005, @DrSmugleaf

better logging
  Robust.Shared/EntitySerialization/EntitySerializer.cs
Owners: @PJB3005, @DrSmugleaf

Improve error tolerance
  Robust.Shared/EntitySerialization/EntitySerializer.cs
Owners: @PJB3005, @DrSmugleaf

i'm tired
  Robust.Shared.Maths/Matrix3Helpers.cs
  Robust.UnitTesting/Shared/Maths/Box2Rotated_Test.cs
Owners: @PJB3005, @DrSmugleaf

Even more exception tolerance
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

missing !
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

Add WriteYaml and WriteObject to IReplayFileWriter
  Robust.Shared/Replays/IReplayRecordingManager.cs
  Robust.Shared/Replays/SharedReplayRecordingManager.Write.cs
  Robust.Shared/Replays/SharedReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

Add MapLoaderSystem.TrySaveAllEntities()
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Save.cs
  Robust.Shared/Map/Events/MapSerializationEvents.cs
Owners: @PJB3005, @DrSmugleaf

On second thought, WriteObject will just be abused
  Robust.Shared/Replays/IReplayRecordingManager.cs
  Robust.Shared/Replays/SharedReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

I forgot to commit
  Resources/EnginePrototypes/Audio/audio_entities.yml
  Robust.Shared/Player/ActorComponent.cs
  Robust.Shared/Replays/IReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

update comments
  Robust.Shared/GameStates/NetworkedComponentAttribute.cs
Owners: @PJB3005, @DrSmugleaf

Improve handling of category errors
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
Owners: @PJB3005, @DrSmugleaf

Add toolshed ResPath completion suggestions
  Robust.Client/UserInterface/CustomControls/DebugConsole.xaml.Completions.cs
  Robust.Shared/Console/CompletionHelper.cs
  Robust.Shared/Console/CompletionResult.cs
  Robust.Shared/ContentPack/IWritableDirProvider.cs
  Robust.Shared/Toolshed/TypeParsers/ResPathTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/StringTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Make vfs commands use a parser without completions
  Robust.Shared/Toolshed/Commands/Vfs/CdCommand.cs
  Robust.Shared/Toolshed/Commands/Vfs/LsCommand.cs
  Robust.Shared/Toolshed/TypeParsers/ResPathTypeParser.cs
Owners: @moonheart08

Add cat command
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Misc/CatCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add tests
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Release notes
  RELEASE-NOTES.md
  Robust.Shared/ContentPack/IWritableDirProvider.cs
Owners: @PJB3005, @DrSmugleaf

trailing slashes
  RELEASE-NOTES.md
  Robust.Shared/Console/CompletionHelper.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

fix toolshed tests
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Add default implementation to avoid breaking changes
  Robust.Shared/Replays/IReplayRecordingManager.cs
  Robust.Shared/Replays/SharedReplayRecordingManager.cs
Owners: @PJB3005, @DrSmugleaf

release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix matrix error
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Refactor grid or map methods (#5124)
  Robust.Shared/GameObjects/Systems/SharedGridTraversalSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Try fix UI state debug assert
  Robust.Client/GameStates/GameStateProcessor.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Owners: @PJB3005, @DrSmugleaf

comment
  Robust.Client/GameStates/GameStateProcessor.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
