Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fixes
  Robust.Shared/GameObjects/EntityManager.ComponentDeltas.cs
  Robust.Shared/GameObjects/Systems/SharedGridFixtureSystem.cs
  Robust.Shared/Physics/Components/PhysicsComponentState.cs
  Robust.Shared/Physics/Dynamics/Fixture.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Fixtures.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.FixturesChange.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
  Robust.UnitTesting/Shared/Physics/MapVelocity_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

cancollide
  Robust.Shared/Containers/SharedContainerSystem.Insert.cs
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Components.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Fix build error from missing semi-colon using auto-networked dictionaries.
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

Fix Build Error with Auto-networked EntityUid Dictionaries (#5569)
  Robust.Shared.CompNetworkGenerator/ComponentNetworkGenerator.cs
Owners: @PJB3005, @DrSmugleaf

Misspell.
  Robust.Client/Audio/AudioManager.Public.cs
Owners: @PJB3005, @DrSmugleaf

test fixes
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/GameObjects/EntitySystemManager.cs
  Robust.Shared/GameObjects/IEntitySystemManager.cs
Owners: @PJB3005, @DrSmugleaf

ISerializationManager tweaks
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Fix component composition
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

Try fix entity deserialization component composition
  Robust.Server/GameObjects/EntitySystems/MapLoaderSystem.cs
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
Owners: @PJB3005, @DrSmugleaf

comments
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

CL
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

error preinit
  RELEASE-NOTES.md
  Robust.Shared/GameObjects/EntitySystemManager.cs
Owners: @PJB3005, @DrSmugleaf

a
  Robust.Shared/GameObjects/EntitySystemManager.cs
Owners: @PJB3005, @DrSmugleaf

cleanup
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/LoadResult.cs
  Robust.Shared/EntitySerialization/Options.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

error if version is too new
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
Owners: @PJB3005, @DrSmugleaf

Include argument name in completion suggestions
  Robust.Shared/Toolshed/Commands/Generic/EmplaceCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/ReduceCommand.cs
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/ToolshedManager.Parsing.cs
  Robust.Shared/Toolshed/TypeParsers/BlockType.cs
  Robust.Shared/Toolshed/TypeParsers/BlockTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/BoolTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/CommandRunTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/CommandSpecTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/ComponentTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/EnumTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/InstanceIdTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/AngleTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/ColorTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/NumberBaseTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Math/SpanLikeTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/QuantityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/ResPathTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/SessionTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/StringTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/Tuples/BaseTupleTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/TypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/TypeTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/ValueRefTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/VarRefType.cs
  Robust.Shared/Toolshed/TypeParsers/VarRefTypeParser.cs
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
Owners: @moonheart08

Support optional args
  Robust.Shared/Toolshed/Commands/Math/ArithmeticCommands.cs
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/Syntax/Expression.cs
  Robust.Shared/Toolshed/Syntax/ParserContext.Config.cs
  Robust.Shared/Toolshed/Syntax/ParserContext.cs
  Robust.Shared/Toolshed/ToolshedCommand.Help.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/TypeParsers/EntityTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/TypeParser.cs
  Robust.Shared/Toolshed/TypeParsers/ValueRefTypeParser.cs
Owners: @moonheart08

It (not so shrimply) works
  Robust.Shared/Toolshed/Syntax/ValueRef.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
Owners: @moonheart08

Add tests
  Robust.Shared/Toolshed/ReflectionExtensions.cs
  Robust.Shared/Toolshed/Syntax/Expression.cs
  Robust.Shared/Toolshed/Syntax/ParserContext.cs
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Add TestGenericPipeInference
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @moonheart08

Fix tests
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.UnitTesting/Shared/Toolshed/ToolshedTests.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Release notes
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Overzealous YAMLLinter
  Robust.UnitTesting/Shared/Toolshed/TestCommands.cs
Owners: @moonheart08

forgot to mention that the TryGetLightLevel cooldown should be treated as seconds
  Robust.Server/GameObjects/EntitySystems/LightSensitiveSystem.cs
Owners: @PJB3005, @DrSmugleaf

clean that up
  Robust.Server/ComponentTrees/LightTreeSystem.cs
  Robust.Server/GameObjects/EntitySystems/PointLightSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add AlwaysPushSerializationTest
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/AlwaysPushSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Add auto-inclusion test
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
  Robust.Shared/EntitySerialization/Options.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Better categorization
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/LoadResult.cs
  Robust.Shared/EntitySerialization/Options.cs
Owners: @PJB3005, @DrSmugleaf

Combine test components
  Robust.UnitTesting/Shared/EntitySerialization/AlwaysPushSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

Save -> TrySave
  Robust.Server/Console/Commands/MapCommands.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Save.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.cs
  Robust.Shared/Map/Events/MapSerializationEvents.cs
  Robust.UnitTesting/Shared/EntitySerialization/AlwaysPushSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

Create new partial class for map loading
  Robust.Server/Console/Commands/MapCommands.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.LoadMap.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Save.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @moonheart08, @PJB3005, @DrSmugleaf

Add OrphanSerializationTest
  Robust.UnitTesting/Shared/EntitySerialization/OrphanSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Include MapIds in BeforeSerializationEvent
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Save.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.cs
  Robust.Shared/Map/Events/MapSerializationEvents.cs
Owners: @PJB3005, @DrSmugleaf

Addd LifetimeSerializationTest
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/LifetimeSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Add TestMixedLifetimeSerialization
  Robust.UnitTesting/Shared/EntitySerialization/LifetimeSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Add CategorizationTest
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/CategorizationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/LifetimeSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Refactor audio system to send collection IDs over the network
  Robust.Client/Animations/AnimationTrackPlaySound.cs
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
  Robust.Shared/Audio/SoundSpecifier.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

explicitly serialize list of nullspace entities
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/LoadResult.cs
  Robust.UnitTesting/Server/Maps/MapLoaderTest.cs
Owners: @PJB3005, @DrSmugleaf

Add backwards compatibility test
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/EntitySerialization/LifestageSerializationTest.cs
Owners: @PJB3005, @DrSmugleaf

Version comments
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
