Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix FOV/occlusion being skipped when DrawLighting is disabled
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

Change PhysicsSystem.Island.FinalisePositions to TryComp transform component
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Change PhysicsSystem.Island.FinalisePositions to TryComp transform component
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Version: 264.0.0-fix-physics
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Reworked occlusion geometry generation
  Robust.Client/Graphics/Clyde/Clyde.LightRendering.cs
Owners: @PJB3005, @DrSmugleaf

wip tilesmoothing
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Map/ClydeTileDefinitionManager.cs
  Robust.Shared/Map/ITileDefinition.cs
Owners: @PJB3005, @DrSmugleaf

Serialization: Make null literal check culture-invariant
  Robust.Shared/Serialization/Markdown/Value/ValueDataNode.cs
Owners: @PJB3005, @DrSmugleaf

moony said this should be a struct
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

merge
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

antoherone
  Robust.Client/Graphics/Particles/ParticleSystemArgs.cs
Owners: @PJB3005, @DrSmugleaf

Serialization: Make null literal check culture-invariant (#6136)
  Robust.Shared/Serialization/Markdown/Value/ValueDataNode.cs
Owners: @PJB3005, @DrSmugleaf

Make children easily selectable for styling, remove manual style propagation
  Robust.Client/UserInterface/Controls/SwitchButton.cs
  Robust.Client/UserInterface/Stylesheets/DefaultStylesheet.cs
Owners: @PJB3005, @DrSmugleaf

Improve comment about updating children.
  Robust.Client/UserInterface/Controls/SwitchButton.cs
Owners: @PJB3005, @DrSmugleaf

1 line diff
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

WithCompOrNull
  Robust.Shared/GameObjects/EntitySystem.Proxy.cs
Owners: @PJB3005, @DrSmugleaf

feat: duplicate localization keys for downstreams
  Robust.Shared/Localization/LocalizationManager.cs
Owners: @PJB3005, @DrSmugleaf

feat: enable adding custom command keybinding for add text console commands keybindings
  Robust.Client/Input/IInputManager.cs
  Robust.Client/Input/InputManager.cs
  Robust.Client/Input/KeyBindingRegistration.cs
  Robust.Shared/Input/KeyFunctions.cs
Owners: @PJB3005, @DrSmugleaf

this is probably not the best code that can be writen
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @metalgearsloth

what if we also had 4-of-16
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Map/ClydeTileDefinitionManager.cs
  Robust.Client/Map/IClydeTileDefinitionManager.cs
  Robust.Shared/Map/ITileDefinition.cs
  Robust.UnitTesting/Shared/EntitySerialization/TestComponents.cs
Owners: @PJB3005, @DrSmugleaf

Try to load zstd as libzstd.1.dylib on macOS
  Robust.Shared/Utility/ZStd.cs
Owners: @PJB3005, @DrSmugleaf

Unhardcode XAML hot reload marker sln
  Robust.Client/UserInterface/XAML/Proxy/XamlHotReloadManager.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Detect CPU model name on Windows ARM
  Directory.Packages.props
  Robust.Shared/Robust.Shared.csproj
  Robust.Shared/Utility/SystemInformation.cs
Owners: @PJB3005, @DrSmugleaf

Get CPU model on Linux ARM64
  Robust.Shared/Utility/SystemInformation.cs
Owners: @PJB3005, @DrSmugleaf

add check if state name exists
  Schemas/validate_rsis.py
Owners: @PJB3005, @DrSmugleaf

Make Toolshed ProtoId autoclomplete use PrototypeIdsLimited instead of caching completions
  Robust.Shared/CVars.cs
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add check for entity prototype
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
Owners: @moonheart08

fix(serializer): remove invalid entity uids from components
  Robust.Shared/EntitySerialization/EntitySerializer.cs
Owners: @PJB3005, @DrSmugleaf

Update to new SharpFont version
  Directory.Packages.props
Owners: @PJB3005, @DrSmugleaf

Trim sharpfont on publish
  Robust.Client/Robust.Client.csproj
Owners: @PJB3005, @DrSmugleaf

Remove some unnecessary windows natives from client package
  Tools/package_client_build.py
Owners: @PJB3005, @DrSmugleaf

Force enable compat mode on Qualcomm Windows devices
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.GLContext.cs
Owners: @PJB3005, @DrSmugleaf

Use fancy mac symbols for key names
  Resources/Locale/en-US/input.ftl
  Robust.Client/Input/InputDevices.cs
Owners: @PJB3005, @DrSmugleaf

Disable ARM64 targets by default for now
  Tools/package_client_build.py
Owners: @PJB3005, @DrSmugleaf

Add SDL3 to DLL map
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.cs
  Robust.Client/Utility/ClientDllMap.cs
Owners: @PJB3005, @DrSmugleaf

Put ClientDllMap.cs behind #if fully
  Robust.Client/Utility/ClientDllMap.cs
Owners: @PJB3005, @DrSmugleaf

Make Toolshed ProtoId autocomplete use PrototypeIdsLimited instead of caching completions (#6146)
  Robust.Shared/CVars.cs
  Robust.Shared/Toolshed/TypeParsers/PrototypeTypeParser.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

allow toolshed command `spawn:in` to work if the prototype doesn't have a `PhysicsComponent`
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @moonheart08

Update OpenTK and OpenTK.Audio.OpenAL to latest (#6107)
  Directory.Packages.props
  Robust.Client/Audio/AudioManager.cs
  Robust.Client/Audio/AudioSystem.Effects.cs
  Robust.Client/Audio/Effects/AudioEffect.cs
  Robust.Client/Audio/Effects/AuxiliaryAudio.cs
  Robust.Client/Audio/Sources/AudioSource.cs
  Robust.Client/Audio/Sources/BaseAudioSource.cs
  Robust.Client/Audio/Sources/BufferedAudioSource.cs
  Robust.Client/Robust.Client.csproj
Owners: @PJB3005, @DrSmugleaf

allow toolshed command `spawn:in` to work if the prototype doesn't have a `PhysicsComponent` (#6151)
  Robust.Shared/Toolshed/Commands/Entities/SpawnCommand.cs
Owners: @moonheart08

review
  Robust.Shared/Physics/Systems/FixtureSystem.cs
Owners: @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
