Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth

Fix 2 instances of warning CS0162 (#5951)
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

Update Robust.Client/UserInterface/Control.cs
  Robust.Client/UserInterface/Control.cs
Owners: @PJB3005, @DrSmugleaf

Stopped recursive updates for controls that are not visible, as it vi… (#5960)
  Robust.Client/UserInterface/Control.cs
Owners: @PJB3005, @DrSmugleaf

Remove TryGetContainingContainer foolishness
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
Owners: @PJB3005, @DrSmugleaf

offer current coordinates for autocomplete
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

localization tweaks
  Resources/Locale/en-US/commands.ftl
Owners: @PJB3005, @DrSmugleaf

weh
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

review
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
Owners: @PJB3005, @DrSmugleaf

Fix false SoundFont validation errors in MIDI system
  Robust.Client/Audio/Midi/MidiManager.cs
Owners: @PJB3005, @DrSmugleaf

do it
  Robust.Client/Spawners/TimedDespawnSystem.cs
  Robust.Server/Spawners/TimedDespawnSystem.cs
  Robust.Shared/Spawners/SharedTimedDespawnSystem.cs
  Robust.Shared/Spawners/TimedDespawnComponent.cs
Owners: @PJB3005, @DrSmugleaf

predict
  Robust.Shared/Spawners/SharedTimedDespawnSystem.cs
  Robust.Shared/Spawners/TimedDespawnComponent.cs
Owners: @PJB3005, @DrSmugleaf

File dialog fixes and improvements
  RELEASE-NOTES.md
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Graphics/Clyde/Windowing/Sdl3.FileDialog.cs
  Robust.Client/Graphics/IClydeInternal.cs
  Robust.Client/Upload/Commands/LoadPrototypeCommand.cs
  Robust.Client/Upload/Commands/UploadFileCommand.cs
  Robust.Client/UserInterface/DummyFileDialogManager.cs
  Robust.Client/UserInterface/FileDialogManager.cs
  Robust.Client/UserInterface/IFileDialogManager.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

GameController: init LocMgr before init broadcast
  Robust.Client/GameController/GameController.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup 3 warnings in `SharedContainerSystem` (#5949)
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

GameController: init LocMgr before init broadcast (#5965)
  Robust.Client/GameController/GameController.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup TypeSerializer Logger warnings
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeFlagsTypeSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/DictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/HashSetSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ListSerializers.cs
Owners: @PJB3005, @DrSmugleaf

Cleanup TypeSerializer Logger warnings (#5966)
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeFlagsTypeSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/DictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/HashSetSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ListSerializers.cs
Owners: @PJB3005, @DrSmugleaf

Automatic Sawmill generation for UIControllers
  Robust.Client/UserInterface/Controllers/UIController.cs
Owners: @PJB3005, @DrSmugleaf

added new smallTag
  Robust.Client/UserInterface/RichText/MarkupTagManager.cs
  Robust.Client/UserInterface/RichText/SmallTag.cs
Owners: @PJB3005, @DrSmugleaf

Add some Box2i methods
  Robust.Shared.Maths/Box2i.cs
Owners: @PJB3005, @DrSmugleaf

Fix FastNoiseLite fractal bounding
  Robust.Shared/Noise/FastNoiseLite.cs
Owners: @PJB3005, @DrSmugleaf

Add entities to SpawnEntitiesAttachedTo
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/IEntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Add NearestChunkEnumerator
  Robust.Shared/Map/Enumerators/NearestChunkEnumerator.cs
Owners: @PJB3005, @DrSmugleaf

Review comments
  Robust.Server/GameStates/PvsSystem.Session.cs
  Robust.Server/Player/PlayerManager.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Player/ISharedPlayerManager.cs
  Robust.Shared/Player/SharedPlayerManager.State.cs
  Robust.Shared/Player/SharedPlayerManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix FastNoiseLite fractal bounding (#5970)
  Robust.Shared/Noise/FastNoiseLite.cs
Owners: @PJB3005, @DrSmugleaf

factorio
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/IEntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

Add some Box2i methods (#5969)
  Robust.Shared.Maths/Box2i.cs
Owners: @PJB3005, @DrSmugleaf

Init Commit (#5909)
  Robust.Client/Animations/AnimationTrackProperty.cs
Owners: @PJB3005, @DrSmugleaf

fix GetMapLinearVelocity (#5950)
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
Owners: @metalgearsloth

Make RaiseMoveEvent internal (#5918)
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add entities to SpawnEntitiesAttachedTo (#5971)
  Robust.Shared/GameObjects/EntityManager.Spawn.cs
  Robust.Shared/GameObjects/IEntityManager.Spawn.cs
Owners: @PJB3005, @DrSmugleaf

EntityLookup tweaks 62
  Robust.Client/GameObjects/EntitySystems/DebugEntityLookupSystem.cs
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
Owners: @PJB3005, @DrSmugleaf

bulldoze
  Robust.Client/Physics/DebugPhysicsIslandSystem.cs
  Robust.Shared/Physics/IslandSolveMessage.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.cs
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
  Robust.UnitTesting/Shared/Physics/Joints_Test.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

Make better use of the primary constructor
  Robust.Client/GameObjects/Components/Renderable/SpriteBoundsOverlay.cs
Owners: @PJB3005, @DrSmugleaf

Test "fix"
  Robust.UnitTesting/Shared/Physics/Broadphase_Test.cs
Owners: @PJB3005, @DrSmugleaf

seikrets
  Robust.Shared/GameObjects/Systems/EntityLookupSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

a
  Robust.Shared/Physics/Dynamics/Contacts/Contact.cs
Owners: @metalgearsloth

optimize ToMapCoordinates (#5953)
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
  Robust.UnitTesting/Shared/Map/EntityCoordinates_Tests.cs
Owners: @PJB3005, @DrSmugleaf

I saw this but now I decideded against it
  Robust.UnitTesting/Shared/Physics/PhysicsMap_Test.cs
Owners: @PJB3005, @DrSmugleaf

true
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.World.cs
Owners: @metalgearsloth
