Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

More
  Robust.Client/Physics/DebugPhysicsIslandSystem.cs
  Robust.Client/Physics/PhysicsSystem.cs
  Robust.Shared/Physics/IslandSolveMessage.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

One more warning
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Owners: @metalgearsloth

Unused usings
  Robust.Shared/Physics/Dynamics/PhysicsMapComponent.cs
Owners: @metalgearsloth

Cleanup 3 warnings in SharedContainerSystem
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

Don't call Transform twice
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

official permission to do it the easy way
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Overlays/ParticlesOverlay.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
Owners: @PJB3005, @DrSmugleaf

beepboop
  Robust.Client/GameController/GameController.cs
  Robust.Client/Graphics/Overlays/ParticlesOverlay.cs
  Robust.Client/Graphics/Particles/ParticlesManager.cs
  Robust.Shared/GameObjects/Components/Renderable/YamlParticlesComponent.cs
Owners: @PJB3005, @DrSmugleaf

fix GetMapLinearVelocity
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
Owners: @metalgearsloth

resolve and adjust other methods
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Velocities.cs
Owners: @metalgearsloth

Fix 2 instances of warning CS0162
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

optimize ToMapCoordinates
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Coordinates.cs
  Robust.UnitTesting/Shared/Map/EntityCoordinates_Tests.cs
Owners: @PJB3005, @DrSmugleaf

Add WorldNormal to StartCollideEvent
  Robust.Shared/Physics/Events/StartCollideEvent.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Add System.Text.StringBuilder Insert(int, string) to sandbox.yml
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add GetMessage and SetMessage methods to OutputPanel
  Robust.Client/UserInterface/Controls/OutputPanel.cs
Owners: @PJB3005, @DrSmugleaf

Add System.Text.StringBuilder Insert(int, string) to sandbox.yml (#5955)
  Robust.Shared/ContentPack/Sandbox.yml
Owners: @PJB3005, @DrSmugleaf

Add WorldNormal to StartCollideEvent (#5954)
  Robust.Shared/Physics/Events/StartCollideEvent.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Contacts.cs
Owners: @metalgearsloth

Version: 260.2.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

cleanup mapping commmands
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

fixes
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

meow
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

meh implementation
  Robust.Client.WebView/Cef/WebViewManagerCef.cs
  Robust.Client.WebView/WCVars.cs
Owners: @PJB3005, @DrSmugleaf

we all lift together
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

fine, I'll put it back
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

improved feedback messages
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

atomize savegrid
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

cefextension
  Robust.Client.WebView/Cef/WebViewManagerCef.cs
Owners: @PJB3005, @DrSmugleaf

atomize loadgrid
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

comments
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

me when partials, race conditions and extractiion of methods exists
  Robust.Client.WebView/Cef/WebViewManagerCef.Lock.cs
  Robust.Client.WebView/Cef/WebViewManagerCef.cs
Owners: @PJB3005, @DrSmugleaf

atomize savemap
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

minor format
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @moonheart08

Update SpriteSystem.Bounds.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Bounds.cs
Owners: @PJB3005, @DrSmugleaf

AudioSystem logging extension
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

savegrid checks for mapgridcomp
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Redo
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
Owners: @PJB3005, @DrSmugleaf

Fix
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

atomize loadmap
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Stopped recursive updates for controls that are not visible, as it violates framerate in large menus.
  Robust.Client/UserInterface/Control.cs
Owners: @PJB3005, @DrSmugleaf

cleanup
  Resources/Locale/en-US/commands.ftl
  Robust.Server/Console/Commands/MapCommands.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Remove unused obsolete TryGetContainingContainer override (#5660)
  Robust.Shared/Containers/SharedContainerSystem.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
