Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix audioparams for playglobal
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

tweak
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

feat: added audio system predicted method for only one receiver (#5435)
  RELEASE-NOTES.md
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix audioparams for playglobal (#5437)
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Version: 234.1.0
  MSBuild/Robust.Engine.Version.props
  RELEASE-NOTES.md
Owners: @PJB3005, @DrSmugleaf

Fix "to" and "take" toolshed commands
  RELEASE-NOTES.md
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Generic/ListGeneration/ToCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/TakeCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

error format and return code in xmldoctool
  Robust.XmlDocTool/Program.cs
Owners: @PJB3005, @DrSmugleaf

xmldoctool output path
  Robust.XmlDocTool/Robust.XmlDocTool.csproj
Owners: @PJB3005, @DrSmugleaf

run xmldoctool as a post build event
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

better msbuild spellcasting
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

Fix "to" and "take" toolshed commands (#5438)
  RELEASE-NOTES.md
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Generic/ListGeneration/ToCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/TakeCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

the ritual is complete, the line has folded and become a circle
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

update comments
  MSBuild/Robust.Properties.targets
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

finally add xmldoc tool to the sln
  RobustToolbox.sln
Owners: @PJB3005, @DrSmugleaf

more comments
  Robust.Client/ViewVariables/ClientViewVariablesManager.DocStrings.cs
  Robust.Client/ViewVariables/IClientViewVariablesManagerInternal.cs
Owners: @PJB3005, @DrSmugleaf

add xmldoc comments to the vv test object
  Robust.Shared/ViewVariables/ViewVariablesManager.Domains.cs
Owners: @PJB3005, @DrSmugleaf

make vvdocpath relative so it plays better with linux
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

maybe the linux gotcha has been defeated
  MSBuild/Robust.ViewVariables.targets
Owners: @PJB3005, @DrSmugleaf

dont go through nodes
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Draw distance joints from their pivots, not object origins
  Robust.Client/Debugging/DebugPhysicsSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add shapecasts + raycasts
  Robust.Shared.Maths/Matrix3Helpers.cs
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Transform.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

cassette
  Robust.Shared.Maths/Vector2Helpers.cs
  Robust.Shared/Physics/Collision/DistanceProxy.cs
  Robust.Shared/Physics/Shapes/Polygon.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Transform.cs
Owners: @PJB3005, @DrSmugleaf, @metalgearsloth

more cudin
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Transform.cs
Owners: @metalgearsloth

Comments and minor changes
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Improve FlushEntities() error logs (#5427)
  Robust.Shared/GameObjects/EntityManager.cs
Owners: @PJB3005, @DrSmugleaf

A!
  Robust.Server/GameStates/PvsSystem.Overrides.cs
Owners: @PJB3005, @DrSmugleaf

Try fix invalid PVS index bug (#5422)
  RELEASE-NOTES.md
  Robust.Server/GameStates/PvsData.cs
  Robust.Server/GameStates/PvsSystem.DataStorage.cs
  Robust.Server/GameStates/PvsSystem.Dirty.cs
  Robust.Server/GameStates/PvsSystem.Entity.cs
  Robust.Server/GameStates/PvsSystem.Overrides.cs
  Robust.Server/GameStates/PvsSystem.ToSendSet.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.Shared/Toolshed/Commands/Generic/ListGeneration/ToCommand.cs
  Robust.Shared/Utility/ResizableMemoryRegion.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix tags with controls in RichText and OutputPanel (#5428)
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Modify markup tag interfaces
  RELEASE-NOTES.md
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
  Robust.Client/UserInterface/RichText/BoldItalicTag.cs
  Robust.Client/UserInterface/RichText/BoldTag.cs
  Robust.Client/UserInterface/RichText/BulletTag.cs
  Robust.Client/UserInterface/RichText/ColorTag.cs
  Robust.Client/UserInterface/RichText/CommandLinkTag.cs
  Robust.Client/UserInterface/RichText/FontTag.cs
  Robust.Client/UserInterface/RichText/HeadingTag.cs
  Robust.Client/UserInterface/RichText/IMarkupTag.cs
  Robust.Client/UserInterface/RichText/ItalicTag.cs
  Robust.Client/UserInterface/RichText/MarkupTagManager.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Mostly ported
  Robust.Shared/Physics/B2DynamicTree.cs
  Robust.Shared/Physics/BroadPhase/DynamicTreeBroadPhase.cs
  Robust.Shared/Physics/IBroadPhase.cs
  Robust.Shared/Physics/Systems/RayCastSystem.Geometry.cs
  Robust.Shared/Physics/Systems/RayCastSystem.cs
  Robust.Shared/Physics/Systems/SharedBroadphaseSystem.cs
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Queries.cs
  Robust.Shared/Physics/Transform.cs
  Robust.UnitTesting/Shared/Maths/Matrix3_Test.cs
Owners: @metalgearsloth, @PJB3005, @DrSmugleaf

Why are nullable structs like this.
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
Owners: @PJB3005, @DrSmugleaf

Avoid breaking changes
  Robust.Client/UserInterface/RichText/BoldItalicTag.cs
  Robust.Client/UserInterface/RichText/BoldTag.cs
  Robust.Client/UserInterface/RichText/BulletTag.cs
  Robust.Client/UserInterface/RichText/ColorTag.cs
  Robust.Client/UserInterface/RichText/CommandLinkTag.cs
  Robust.Client/UserInterface/RichText/FontTag.cs
  Robust.Client/UserInterface/RichText/HeadingTag.cs
  Robust.Client/UserInterface/RichText/ItalicTag.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Fix audio system empty filter bug
  RELEASE-NOTES.md
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add missing Roslyn components to solution
  RobustToolbox.sln
Owners: @PJB3005, @DrSmugleaf

Fix physics.maxlinvelocity not being a replicated cvar
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

New HWID system prep
  Robust.Client/ClientIoC.cs
  Robust.Client/Console/Commands/LauncherAuthCommand.cs
  Robust.Client/HWId/BasicHWid.cs
  Robust.Client/Utility/UserDataDir.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/Network/HWId.cs
  Robust.Shared/Network/IHWId.cs
  Robust.Shared/Network/NetManager.ClientConnect.cs
  Robust.Shared/Network/NetManager.ServerAuth.cs
  Robust.Shared/Network/NetManager.cs
  Robust.Shared/Network/NetUserData.cs
  Robust.Shared/Robust.Shared.csproj
  Robust.Shared/Utility/Base64Helpers.cs
  Robust.UnitTesting/RobustIntegrationTest.NetManager.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Allow HWID to be disabled.
  Robust.Shared/CVars.cs
  Robust.Shared/Network/AuthManager.cs
  Robust.Shared/Network/Messages/Handshake/MsgEncryptionRequest.cs
  Robust.Shared/Network/Messages/Handshake/MsgEncryptionResponse.cs
  Robust.Shared/Network/Messages/Handshake/MsgLoginStart.cs
  Robust.Shared/Network/NetManager.ClientConnect.cs
  Robust.Shared/Network/NetManager.ServerAuth.cs
Owners: @PJB3005, @DrSmugleaf

Fix tests
  Robust.UnitTesting/Server/RobustServerSimulation.cs
Owners: @PJB3005, @DrSmugleaf

Fix physics.maxlinvelocity not being a replicated cvar (#5445)
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
