Repository space-wizards/RobustToolbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PJB3005, @DrSmugleaf, @moonheart08, @metalgearsloth

Fix wrong filename used when log.enabled is set (#5541)
  Robust.Server/BaseServer.cs
Owners: @PJB3005, @DrSmugleaf

ValueList<T> extensions (#5534)
  RELEASE-NOTES.md
  Robust.Shared/Collections/ValueList.cs
Owners: @PJB3005, @DrSmugleaf

Fix codeql-analysis breaking in every fork repo that enables GitHub Actions (#5537)
  .github/workflows/codeql-analysis.yml
Owners: @PJB3005, @DrSmugleaf

Upgrade GitHub actions in workflows (#5536)
  .github/workflows/build-docfx.yml
  .github/workflows/build-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-client.yml
  .github/workflows/test-content.yml
Owners: @PJB3005, @DrSmugleaf

Fix IPrototypeManager.TryGetKindFrom()
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/Attributes.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

Fix IPrototypeManager.TryGetKindFrom() (#5542)
  RELEASE-NOTES.md
  Robust.Shared/Prototypes/Attributes.cs
  Robust.Shared/Prototypes/PrototypeManager.cs
Owners: @PJB3005, @DrSmugleaf

better help strings
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Commands/Misc/ExplainCommand.cs
  Robust.Shared/Toolshed/Commands/Values/EntCommand.cs
  Robust.Shared/Toolshed/ReflectionExtensions.cs
  Robust.Shared/Toolshed/Syntax/ParsedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommand.Help.cs
  Robust.Shared/Toolshed/ToolshedCommand.Implementations.cs
  Robust.Shared/Toolshed/ToolshedCommand.cs
  Robust.Shared/Toolshed/ToolshedCommandImplementor.cs
  Robust.Shared/Toolshed/ToolshedEnvironment.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Add ContainsCommand
  Robust.Shared/Toolshed/Commands/Entities/WithCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/ContainsCommand.cs
  Robust.Shared/Toolshed/Syntax/ParsedCommand.cs
Owners: @moonheart08

loc strings
  Resources/Locale/en-US/toolshed-commands.ftl
  Robust.Shared/Toolshed/Syntax/ParsedCommand.cs
Owners: @PJB3005, @DrSmugleaf, @moonheart08

Fix grid container layout
  Robust.Client/UserInterface/Controls/GridContainer.cs
Owners: @PJB3005, @DrSmugleaf

Add contains command description
  Resources/Locale/en-US/toolshed-commands.ftl
Owners: @PJB3005, @DrSmugleaf

Fix grid container layout (#5543)
  Robust.Client/UserInterface/Controls/GridContainer.cs
Owners: @PJB3005, @DrSmugleaf

Add RSI key to disable meta-atlas
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
  Robust.Shared/Resources/RsiLoading.cs
Owners: @PJB3005, @DrSmugleaf

Make font drawing more generic (#5533)
  Robust.Client/Graphics/Clyde/Clyde.RenderHandle.cs
  Robust.Client/Graphics/Drawing/DrawingHandleBase.cs
  Robust.Client/Graphics/Drawing/DrawingHandleScreen.cs
  Robust.Client/Graphics/Drawing/DrawingHandleWorld.cs
  Robust.Client/Graphics/Font.cs
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Add CVars for privacy policy information
  Robust.Server/ServerStatus/StatusHost.Handlers.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Refactor audio system to send collection IDs over the network
  Robust.Client/Animations/AnimationTrackPlaySound.cs
  Robust.Client/Audio/AudioSystem.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

start hacking in some level of BC
  Robust.Client/Audio/AudioSystem.cs
  Robust.Shared/Audio/ResolvedSoundSpecifier.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Fix UserInterfaceSystem debug assert
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Map/Events/MapSerializationEvents.cs
Owners: @PJB3005, @DrSmugleaf

Fix UserInterfaceSystem debug assert (#5546)
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
  Robust.Shared/Map/Events/MapSerializationEvents.cs
Owners: @PJB3005, @DrSmugleaf

Improve/fix cvar desc
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Replace obsolete MapGridComponent methods
  Robust.Client/Physics/GridFixtureSystem.cs
  Robust.Client/Placement/Modes/AlignSnapgridCenter.cs
  Robust.Client/Placement/PlacementManager.cs
  Robust.Server/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Whitespace and better readability
  Robust.Client/Physics/GridFixtureSystem.cs
  Robust.Server/Placement/PlacementManager.cs
Owners: @PJB3005, @DrSmugleaf

Add $self variable
  Robust.Shared/Toolshed/Invocation/OldShellInvocationContext.cs
Owners: @moonheart08

Errors for writing to readonly variables
  Robust.Shared/Toolshed/Commands/Generic/EmplaceCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/ReduceCommand.cs
  Robust.Shared/Toolshed/Commands/Generic/Variables/ArrowCommand.cs
  Robust.Shared/Toolshed/IInvocationContext.cs
  Robust.Shared/Toolshed/Invocation/OldShellInvocationContext.cs
  Robust.Shared/Toolshed/LocalVarInvocationContext.cs
  Robust.Shared/Toolshed/Syntax/IVariableParser.cs
  Robust.Shared/Toolshed/Syntax/ValueRef.cs
  Robust.Shared/Toolshed/TypeParsers/VarRefTypeParser.cs
Owners: @moonheart08

simple http client for downloading audio files from a CDN
  Robust.Client/HTTPClient/HTTPClient.cs
Owners: @PJB3005, @DrSmugleaf

added todo comments
  Robust.Client/HTTPClient/HTTPClient.cs
Owners: @PJB3005, @DrSmugleaf

Value instead of cast
  Robust.Client/Placement/Modes/AlignSnapgridCenter.cs
Owners: @PJB3005, @DrSmugleaf

Replace obsolete TransformComponent.Anchored set
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

getfileasync downloads files to from cdn to disk
  Robust.Client/ClientIoC.cs
  Robust.Client/GameController/GameController.cs
  Robust.Client/HTTPClient/Commands/HTTPGetFileAsync.cs
  Robust.Client/HTTPClient/HTTPClient.cs
  Robust.Client/HTTPClient/JSON.cs
Owners: @PJB3005, @DrSmugleaf

Return part of the check from the old setter
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
Owners: @PJB3005, @DrSmugleaf

I give up on this
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Owners: @PJB3005, @DrSmugleaf

added a way to play the files for testing purposes
  Robust.Client/HTTPClient/Commands/HTTPPlayAudioFromCDN.cs
  Robust.Client/HTTPClient/HTTPClient.cs
Owners: @PJB3005, @DrSmugleaf

adds NVorbis package to Robus.Client.csproj
  Robust.Client/HTTPClient/HTTPClient.cs
  Robust.Client/Robust.Client.csproj
Owners: @PJB3005, @DrSmugleaf

Fix memory leak in PlayGlobal when filter is empty
  Robust.Server/Audio/AudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Make this public.
  Robust.Shared/GameObjects/Systems/SharedGridTraversalSystem.cs
Owners: @PJB3005, @DrSmugleaf

.NET 9
  .github/workflows/build-docfx.yml
  .github/workflows/build-test.yml
  .github/workflows/publish-client.yml
  .github/workflows/test-content.yml
  Lidgren.Network/Lidgren.Network.csproj
  MSBuild/Robust.Engine.props
  MSBuild/Robust.Properties.targets
  RELEASE-NOTES.md
  global.json
Owners: @PJB3005, @DrSmugleaf

init
  Robust.Client/UserInterface/RichTextEntry.cs
Owners: @PJB3005, @DrSmugleaf

Audio mixers
  Robust.Client/Audio/AudioSystem.Mixers.cs
  Robust.Client/Audio/AudioSystem.cs
  Robust.Client/Audio/Midi/IMidiManager.cs
  Robust.Client/Audio/Midi/IMidiRenderer.cs
  Robust.Client/Audio/Midi/MidiManager.cs
  Robust.Client/Audio/Midi/MidiRenderer.cs
  Robust.Client/Audio/Mixers/AudioMixer.cs
  Robust.Client/Audio/Mixers/AudioMixersManager.cs
  Robust.Client/Audio/Mixers/IAudioMixersManager.cs
  Robust.Client/Audio/Sources/MixableAudioSource.cs
  Robust.Client/ClientIoC.cs
  Robust.Server/Audio/AudioSystem.Mixers.cs
  Robust.Server/Audio/AudioSystem.cs
  Robust.Shared/Audio/AudioParams.cs
  Robust.Shared/Audio/Components/AudioComponent.cs
  Robust.Shared/Audio/Components/AudioMixerComponent.cs
  Robust.Shared/Audio/Mixers/AudioMixerPrototype.cs
  Robust.Shared/Audio/Mixers/DummyAudioMixer.cs
  Robust.Shared/Audio/Mixers/IAudioMixer.cs
  Robust.Shared/Audio/Mixers/IAudioMixerSubscriber.cs
  Robust.Shared/Audio/Sources/DummyMixableAudioSource.cs
  Robust.Shared/Audio/Sources/IMixableAudioSource.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.Mixers.cs
  Robust.Shared/Audio/Systems/SharedAudioSystem.cs
Owners: @PJB3005, @DrSmugleaf

Add CVars for privacy policy information (#5545)
  Robust.Server/ServerStatus/StatusHost.Handlers.cs
  Robust.Shared/CVars.cs
Owners: @PJB3005, @DrSmugleaf

Add RSI key to disable meta-atlas (#5544)
  Robust.Client/ResourceManagement/ResourceCache.Preload.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
  Robust.Shared/Resources/RsiLoading.cs
Owners: @PJB3005, @DrSmugleaf

.github/CODEOWNERS:

# Last match in file takes precedence.

# Ping for all PRs
* @PJB3005 @DrSmugleaf

# commands commands commands commands
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
*Commands.cs @moonheart08

# Physics
**/Robust.Shared/Physics/** @metalgearsloth
