Repository space-wizards/RobustToolbox, pull requests merged in 2018-06, with the labels that each got.

#592 Outlines & Custom non-entity drawing.
  .editorconfig
  Resources/Prototypes/Engine/Entities/Tables.yml
  Resources/Prototypes/Shaders/outline.yml
  Resources/Shaders/outline.gdsl
  SS14.Client/Console/Commands/Debug.cs
  SS14.Client/Debugging/DebugDrawing.cs
  SS14.Client/GameController.cs
  SS14.Client/GameController/GameController.IoC.cs
  SS14.Client/GameObjects/Components/BoundingBox/BoundingBoxComponent.cs
  SS14.Client/GameObjects/Components/Collidable/CollidableComponent.cs
  SS14.Client/GameObjects/Components/Collidable/GodotCollidableComponent.cs
  SS14.Client/GameObjects/Components/Input/ClickableComponent.cs
  SS14.Client/GameObjects/GodotComponentFactory.cs
  SS14.Client/Graphics/ClientEye/EyeManager.cs
  SS14.Client/Graphics/Overlays/Overlay.cs
  SS14.Client/Graphics/Overlays/OverlayManager.cs
  SS14.Client/Graphics/Shaders/Params.cs
  SS14.Client/Graphics/Shaders/Shader.cs
  SS14.Client/Graphics/Shaders/ShaderPrototype.cs
  SS14.Client/Interfaces/GameObjects/Components/IClientClickableComponent.cs
  SS14.Client/Interfaces/Graphics/ClientEye/IEyeManager.cs
  SS14.Client/Interfaces/Graphics/Overlays/IOverlay.cs
  SS14.Client/Interfaces/Graphics/Overlays/IOverlayManager.cs
  SS14.Client/Player/LocalPlayer.cs
  SS14.Client/Properties/AssemblyInfo.cs
  SS14.Client/ResourceManagement/ResourceTypes/ShaderSourceResource.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/State/States/GameScreen.cs
  SS14.Client/Utility/GodotConversions.cs
  SS14.Server/Properties/AssemblyInfo.cs
  SS14.Shared/GameObjects/ComponentEnums.cs
  SS14.Shared/Maths/MathHelper.cs
  SS14.Shared/Prototypes/EntityPrototype.cs
  SS14.UnitTesting/SS14UnitTest.cs
Labels: Project: Client, System: Entities, System: UI, Type: Feature, W: Review

#594 TileDefinition Prototypes
  SS14.Server/server_config.toml
  SS14.Shared/Map/DefaultTileDefinitions.cs
  SS14.Shared/Map/TileDefinition.cs
  SS14.Shared/Map/TileDefinitionManager.cs
Labels: W: In Progress

#607 Async Delay and Spawn helpers for Timer.
  SS14.Shared/Timers/Timer.cs
Labels: Misc: Quality of Life, Project: Shared, Type: Feature, W: In Progress
