Repository space-wizards/RobustToolbox, pull requests merged in 2018-08, with the labels that each got.

#639 Terrible hijacking of placement.
  SS14.Client/Placement/Modes/AlignSnapgridBorder.cs
  SS14.Client/Placement/Modes/AlignSnapgridCenter.cs
  SS14.Client/Placement/Modes/AlignTileAny.cs
  SS14.Client/Placement/Modes/AlignTileDense.cs
  SS14.Client/Placement/Modes/AlignTileEmpty.cs
  SS14.Client/Placement/Modes/AlignTileNonDense.cs
  SS14.Client/Placement/Modes/AlignWall.cs
  SS14.Client/Placement/PlacementHijack.cs
  SS14.Client/Placement/PlacementManager.cs
  SS14.Client/SS14.Client.csproj
Labels: Project: Client, System: Entities, Type: Feature, W: Review

#640 Fix bug where eye stays on map 0 until moved.
  SS14.Client/GameObjects/Components/Eye/EyeComponent.cs
Labels: Project: Client, Type: Bug, W: In Progress

#642 Adds SpriteSpecifier.
  SS14.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  SS14.Client/Interfaces/GameObjects/Components/ISpriteComponent.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/Utility/SpriteSpecifierExt.cs
  SS14.Server/GameObjects/Components/Renderable/SpriteComponent.cs
  SS14.Shared/SS14.Shared.csproj
  SS14.Shared/Serialization/YamlObjectSerializer.cs
  SS14.Shared/Utility/SpriteSpecifier.cs
Labels: Type: Feature, W: In Progress

#643 Fix CI by uploading GodotSharp.dll elsewhere.
  Tools/download_godotsharp.py
Labels: W: In Progress

#644 Add zoom parameter to EyeComponent prototype.
  SS14.Client/GameObjects/Components/Eye/EyeComponent.cs
  SS14.Client/Graphics/ClientEye/Eye.cs
  SS14.Client/Interfaces/Graphics/ClientEye/IEye.cs
Labels: Project: Client, Type: Feature, W: In Progress

#645 ITransformComponent & entity spawning QoL.
  Resources/Prototypes/Engine/Entities/Clothing.yml
  Resources/Prototypes/Engine/Entities/Containers.yml
  Resources/Prototypes/Engine/Entities/Doors.yml
  Resources/Prototypes/Engine/Entities/JanitorItems.yml
  Resources/Prototypes/Engine/Entities/Lights.yml
  Resources/Prototypes/Engine/Entities/Mobs.yml
  Resources/Prototypes/Engine/Entities/Tables.yml
  Resources/Prototypes/Engine/Entities/Wallmounted.yml
  Resources/Prototypes/Engine/Entities/Walls.yml
  SS14.Client/GameObjects/ClientEntityManager.cs
  SS14.Client/Interfaces/GameObjects/IClientEntityManager.cs
  SS14.Server/GameObjects/Components/Mover/PlayerInputMoverComponent.cs
  SS14.Server/GameObjects/ServerEntityManager.cs
  SS14.Server/Interfaces/GameObjects/IServerEntityManager.cs
  SS14.Shared/GameObjects/Entity.cs
  SS14.Shared/GameObjects/EntityManager.cs
  SS14.Shared/Interfaces/GameObjects/IEntity.cs
  SS14.Shared/Interfaces/GameObjects/IEntityManager.cs
  SS14.Shared/Prototypes/EntityPrototype.cs
Labels: Misc: Quality of Life, System: Entities, Type: Feature, W: In Progress

#633 NetManager Shutdown Race Fix
  SS14.Shared/Network/NetManager.cs
Labels: W: In Progress

#647 Input Handling
  SS14.Client/GameController/GameController.Input.cs
  SS14.Client/GameObjects/EntitySystems/InputSystem.cs
  SS14.Client/Input/Events.cs
  SS14.Client/Input/InputDevices.cs
  SS14.Client/Input/InputManager.cs
  SS14.Client/Interfaces/Input/IInputManager.cs
  SS14.Client/Player/PlayerSession.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/State/States/GameScreen.cs
  SS14.Client/UserInterface/Control.Input.cs
  SS14.Client/UserInterface/UserInterfaceManager.cs
  SS14.Server/GameObjects/Components/Mover/PlayerInputMoverComponent.cs
  SS14.Server/GameObjects/EntitySystems/InputSystem.cs
  SS14.Server/GameObjects/EntitySystems/MoverSystem.cs
  SS14.Server/Interfaces/Player/IPlayerInput.cs
  SS14.Server/Interfaces/Player/IPlayerManager.cs
  SS14.Server/Interfaces/Player/IPlayerSession.cs
  SS14.Server/Player/PlayerInput.cs
  SS14.Server/Player/PlayerManager.cs
  SS14.Server/SS14.Server.csproj
  SS14.Shared/GameObjects/ComponentMessages/Messages.cs
  SS14.Shared/Input/BoundKeyEventArgs.cs
  SS14.Shared/Input/BoundKeyMap.cs
  SS14.Shared/Input/CommandBindMapping.cs
  SS14.Shared/Input/InputCmdHandler.cs
  SS14.Shared/Input/InputCmdMessage.cs
  SS14.Shared/Input/InputCommand.cs
  SS14.Shared/Input/PlayerCommandStates.cs
  SS14.Shared/Input/UserCmd.cs
  SS14.Shared/Network/Messages/MsgKeyFunctionChangeState.cs
  SS14.Shared/Players/IBaseSession.cs
  SS14.Shared/Players/ICommonSession.cs
  SS14.Shared/SS14.Shared.csproj
Labels: W: In Progress

#649 Engine changes to support content smoothwalling.
  SS14.Client/Console/Commands/Debug.cs
  SS14.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  SS14.Client/Interfaces/GameObjects/Components/ISpriteComponent.cs
  SS14.Client/ResourceManagement/ResourceTypes/ShaderSourceResource.cs
  SS14.Client/UserInterface/CustomControls/SS14Window.cs
  SS14.Client/Utility/DirExt.cs
  SS14.Shared/GameObjects/Components/Transform/SnapGridComponent.cs
  SS14.Shared/GameObjects/Components/Transform/TransformComponent.cs
  SS14.Shared/Interfaces/GameObjects/IComponentDebug.cs
  SS14.Shared/Map/MapIndices.cs
  SS14.Shared/Map/MapManager.Chunk.cs
  SS14.Shared/Maths/MathHelper.cs
  SS14.Shared/SS14.Shared.csproj
  SS14.UnitTesting/SS14.UnitTesting.csproj
  SS14.UnitTesting/Shared/Utility/MathHelper_Test.cs
Labels: W: In Progress

#650 Adds coloring to the client console.
  SS14.Client/Console/ClientConsole.cs
  SS14.Client/Console/IClientConsole.cs
  SS14.Client/Interfaces/Console/IDebugConsole.cs
  SS14.Client/Log/DebugConsoleLogHandler.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/UserInterface/CustomControls/DebugConsole.cs
  SS14.Client/Utility/FormattedMessage.cs
Labels: Project: Client, W: In Progress

#652 Improve exception robustness.
  SS14.Client.Godot/SS14Loader.cs
  SS14.Client.Godot/SignalSubscriber/BaseGodotSignalSubscriber.cs
  SS14.Client.Godot/SignalSubscriber/GodotSignalSubscriber0.cs
  SS14.Client.Godot/SignalSubscriber/GodotSignalSubscriber1.cs
  SS14.Client.Godot/SignalSubscriber/GodotSignalSubscriber2.cs
  SS14.Client.Godot/SignalSubscriber/GodotSignalSubscriber3.cs
  SS14.Client.Godot/SignalSubscriber/GodotSignalSubscriber4.cs
  SS14.Client.Godot/SignalSubscriber/GodotSignalSubscriber5.cs
  SS14.Client/GameController.cs
  SS14.Client/UserInterface/Control.Signals.cs
  SS14.Client/UserInterface/Control.cs
  SS14.Client/UserInterface/Controls/BaseButton.cs
  SS14.Client/UserInterface/Controls/LineEdit.cs
  SS14.Client/UserInterface/Controls/OptionButton.cs
  SS14.Client/UserInterface/Controls/Tree.cs
Labels: Dependency: Godot, Project: Client, Type: Feature, W: Review

#653 Smoothwalling for occluders.
  Resources/Prototypes/Engine/Entities/Walls.yml
  SS14.Client/GameObjects/Components/Occluder/OccluderComponent.cs
  SS14.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  SS14.Client/Graphics/Lighting/LightManager.Light.cs
  SS14.Client/Graphics/Lighting/LightManager.Occluder.cs
  SS14.Client/Interfaces/Graphics/Lighting/IOccluder.cs
Labels: W: In Progress

#654 Sprite Mirror system.
  SS14.Client.Godot/SS14.Client.Godot.csproj
  SS14.Client.Godot/SS14Loader.cs
  SS14.Client.Godot/Scenes/SpriteMirror/SpriteView.cs
  SS14.Client.Godot/Scenes/SpriteMirror/SpriteView.tscn
  SS14.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  SS14.Client/Interfaces/GameObjects/Components/ISpriteComponent.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/UserInterface/Control.Signals.cs
  SS14.Client/UserInterface/Control.cs
  SS14.Client/UserInterface/Controls/AcceptDialog.cs
  SS14.Client/UserInterface/Controls/BaseButton.cs
  SS14.Client/UserInterface/Controls/BoxContainer.cs
  SS14.Client/UserInterface/Controls/Button.cs
  SS14.Client/UserInterface/Controls/Container.cs
  SS14.Client/UserInterface/Controls/GridContainer.cs
  SS14.Client/UserInterface/Controls/HBoxContainer.cs
  SS14.Client/UserInterface/Controls/ItemList.cs
  SS14.Client/UserInterface/Controls/Label.cs
  SS14.Client/UserInterface/Controls/LineEdit.cs
  SS14.Client/UserInterface/Controls/OptionButton.cs
  SS14.Client/UserInterface/Controls/Panel.cs
  SS14.Client/UserInterface/Controls/Popup.cs
  SS14.Client/UserInterface/Controls/Range.cs
  SS14.Client/UserInterface/Controls/RichTextLabel.cs
  SS14.Client/UserInterface/Controls/ScrollBar.cs
  SS14.Client/UserInterface/Controls/SpriteView.cs
  SS14.Client/UserInterface/Controls/TextureButton.cs
  SS14.Client/UserInterface/Controls/TextureRect.cs
  SS14.Client/UserInterface/Controls/Tree.cs
  SS14.Client/UserInterface/Controls/VBoxContainer.cs
  SS14.Client/UserInterface/Controls/VScrollBar.cs
  SS14.Client/UserInterface/Controls/WindowDialog.cs
Labels: Priority: 2-medium, Project: Client, System: Entities, System: Rendering, System: UI, Type: Feature, W: In Progress

#656 Click Migration + Input Contexts
  Resources/Prototypes/Engine/Entities/Mobs.yml
  Resources/keybinds.yml
  SS14.Client/GameController.cs
  SS14.Client/GameObjects/ClientComponentFactory.cs
  SS14.Client/GameObjects/ClientEntityManager.cs
  SS14.Client/GameObjects/Components/Input/InputComponent.cs
  SS14.Client/GameObjects/EntitySystems/InputSystem.cs
  SS14.Client/Input/EngineContexts.cs
  SS14.Client/Input/InputManager.cs
  SS14.Client/Interfaces/Input/IInputManager.cs
  SS14.Client/Interfaces/Placement/IPlacementManager.cs
  SS14.Client/Placement/PlacementManager.cs
  SS14.Client/Player/LocalPlayer.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/State/States/GameScreen.cs
  SS14.Server/GameObjects/EntitySystems/InputSystem.cs
  SS14.Server/GameObjects/ServerComponentFactory.cs
  SS14.Shared/ContentPack/AssemblyLoader.cs
  SS14.Shared/ContentPack/GameShared.cs
  SS14.Shared/GameObjects/EntityManager.cs
  SS14.Shared/GameObjects/EntitySystemManager.cs
  SS14.Shared/GameObjects/EntitySystemMessages/InputMessages.cs
  SS14.Shared/Input/InputCmdContext.cs
  SS14.Shared/Input/InputCmdHandler.cs
  SS14.Shared/Input/InputContextContainer.cs
  SS14.Shared/Input/KeyFunctions.cs
  SS14.Shared/Interfaces/GameObjects/IEntitySystemManager.cs
  SS14.Shared/SS14.Shared.csproj
  SS14.Shared/app.config
Labels: W: In Progress

#657 Fix reconnection.
  SS14.Client/GameObjects/ClientEntityManager.cs
  SS14.Client/GameObjects/Components/Occluder/OccluderComponent.cs
  SS14.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  SS14.Client/State/States/GameScreen.cs
  SS14.Shared/GameObjects/EntitySystemManager.cs
  SS14.Shared/Interfaces/Map/IMapManager.cs
  SS14.Shared/Map/MapManager.Network.cs
  SS14.Shared/Map/MapManager.cs
Labels: Project: Client, Type: Bug, W: In Progress

#658 Input - Migrate Keybinds
  SS14.Client/Input/InputManager.cs
  SS14.Client/Placement/Modes/AlignSnapgridBorder.cs
  SS14.Client/Placement/Modes/AlignSnapgridCenter.cs
  SS14.Client/Placement/PlacementManager.cs
  SS14.Client/Placement/PlacementMode.cs
  SS14.Server/GameObjects/Components/Mover/PlayerInputMoverComponent.cs
  SS14.Server/GameObjects/EntitySystems/InputSystem.cs
  SS14.Server/GameObjects/EntitySystems/MoverSystem.cs
  SS14.Server/Interfaces/Player/IPlayerSession.cs
  SS14.Server/Player/PlayerInput.cs
  SS14.Server/Player/PlayerManager.cs
  SS14.Server/Player/PlayerSession.cs
  SS14.Server/SS14.Server.csproj
  SS14.Shared/Network/Messages/MsgKeyFunctionChangeState.cs
  SS14.Shared/SS14.Shared.csproj
Labels: Project: Server, Type: Refactor, W: In Progress

#659 You now rejoin into the same body.
  Lidgren.Network/Lidgren.Network.csproj
  Lidgren.Network/NetConnection.Handshake.cs
  Lidgren.Network/NetPeer.cs
  Resources/Groups/groups.yml
  SS14.Client/BaseClient.cs
  SS14.Client/Console/ClientChatConsole.cs
  SS14.Client/Interfaces/Player/IPlayerManager.cs
  SS14.Client/Player/LocalPlayer.cs
  SS14.Client/Player/PlayerManager.cs
  SS14.Client/Player/PlayerSession.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/client_config.toml
  SS14.Server/Chat/ChatManager.cs
  SS14.Server/Console/Commands/ChatCommands.cs
  SS14.Server/Console/Commands/PlayerCommands.cs
  SS14.Server/Console/ConsoleShell.cs
  SS14.Server/Interfaces/Chat/IChatManager.cs
  SS14.Server/Interfaces/Player/IPlayerData.cs
  SS14.Server/Interfaces/Player/IPlayerManager.cs
  SS14.Server/Interfaces/Player/IPlayerSession.cs
  SS14.Server/Player/PlayerData.cs
  SS14.Server/Player/PlayerManager.cs
  SS14.Server/Player/PlayerSession.cs
  SS14.Server/SS14.Server.csproj
  SS14.Server/server_config.toml
  SS14.Shared/GameStates/PlayerState.cs
  SS14.Shared/Interfaces/Network/IClientNetManager.cs
  SS14.Shared/Interfaces/Network/INetChannel.cs
  SS14.Shared/Map/MapManager.Network.cs
  SS14.Shared/Network/Messages/MsgChat.cs
  SS14.Shared/Network/Messages/MsgClGreet.cs
  SS14.Shared/Network/Messages/MsgPlayerList.cs
  SS14.Shared/Network/Messages/MsgServerInfo.cs
  SS14.Shared/Network/Messages/MsgServerInfoReq.cs
  SS14.Shared/Network/NetChannel.cs
  SS14.Shared/Network/NetChannelArgs.cs
  SS14.Shared/Network/NetManager.cs
  SS14.Shared/Network/NetSessionId.cs
  SS14.Shared/Players/IBaseSession.cs
  SS14.Shared/Players/PlayerIndex.cs
  SS14.Shared/SS14.Shared.csproj
  SS14.Shared/Utility/UsernameHelpers.cs
  Sandbox.Server/EntryPoint.cs
Labels: Priority: 1-high, System: Networking, Topic: Architecture, Type: Feature, Type: Refactor, W: Review

#661 Move more Player things into content.
  SS14.Server/Interfaces/Player/IPlayerData.cs
  SS14.Server/Interfaces/Player/IPlayerManager.cs
  SS14.Server/Interfaces/Player/IPlayerSession.cs
  SS14.Server/Player/PlayerData.cs
  SS14.Server/Player/PlayerManager.cs
  SS14.Server/Player/PlayerSession.cs
  Sandbox.Server/EntryPoint.cs
Labels: Project: Server, System: Entities, Type: Cleanup, W: Review

#662 Interaction Features
  SS14.Shared/GameObjects/Components/Transform/TransformComponent.cs
  SS14.Shared/GameObjects/EntitySystemMessages/EntParentChangedMessage.cs
  SS14.Shared/SS14.Shared.csproj
Labels: Project: Shared, Type: Feature, W: Review

#667 MathHelper minor changes and unit tests
  SS14.Shared.Maths/MathHelper.cs
  SS14.UnitTesting/Shared/Utility/MathHelper_Test.cs
Labels: W: In Progress

#668 Allow lights to be nested one layer deep.
  SS14.Client/GameObjects/Components/Light/PointLightComponent.cs
  SS14.Client/Graphics/Lighting/LightManager.Light.cs
  SS14.Shared/GameObjects/Components/Transform/TransformComponent.cs
  SS14.Shared/Interfaces/GameObjects/Components/ITransformComponent.cs
Labels: Project: Client, System: Entities, W: In Progress

#671 Fix bug with changing between animated RSI states causing exceptions.
  SS14.Client/GameObjects/Components/Renderable/SpriteComponent.cs
Labels: Priority: 1-high, Project: Client, System: Entities, Type: Bug, W: In Progress

#672 Adds ObjectSerializer.ReadStringEnumKey
  SS14.Shared/Serialization/ObjectSerializer.cs
Labels: Misc: Quality of Life, Topic: API, Type: Feature, W: In Progress

#673 Allow Control.GetChild to use /.
  SS14.Client/UserInterface/Control.cs
Labels: Misc: Quality of Life, Project: Client, System: UI, Topic: API, Type: Feature, W: In Progress

#674 Add an event for when SS14Window is closed.
  SS14.Client/UserInterface/CustomControls/SS14Window.cs
Labels: Project: Client, System: UI, Type: Feature, W: In Progress

#675 Add ProgressBar Control wrap.
  SS14.Client/SS14.Client.csproj
  SS14.Client/UserInterface/Controls/ProgressBar.cs
Labels: Dependency: Godot, Project: Client, System: UI, Type: Feature, W: In Progress

#670 Fix debugging of Content in Rider.
  SS14.Client/Interfaces/ResourceManagement/IResourceCache.cs
  SS14.Shared/ContentPack/AssemblyLoader.cs
  SS14.Shared/Interfaces/Resources/IResourceManager.cs
Labels: W: In Progress

#669 GameScreen.GetEntityUnderPosition
  SS14.Client/State/States/GameScreen.cs
Labels: W: In Progress

#676 Entity-bound UI system.
  SS14.Client/GameObjects/ClientComponentFactory.cs
  SS14.Client/GameObjects/Components/UserInterface/ClientUserInterfaceComponent.cs
  SS14.Client/SS14.Client.csproj
  SS14.Server/GameObjects/Components/UserInterface/ServerUserInterfaceComponent.cs
  SS14.Server/GameObjects/ServerComponentFactory.cs
  SS14.Server/SS14.Server.csproj
  SS14.Shared/GameObjects/Components/NetIDs.cs
  SS14.Shared/GameObjects/Components/UserInterface/SharedUserInterfaceComponent.cs
  SS14.Shared/SS14.Shared.csproj
Labels: Priority: 1-high, System: Entities, System: UI, Type: Feature, W: In Progress

#677 Make all resources accessible to Godot.
  MSBuild/SS14.DefineConstants.targets
  Resources/.gitignore
  Resources/Fonts/Animal Silence.otf
  SS14.Client.Godot/.gitignore
  SS14.Client.Godot/Fonts/Calibri.ttf
  SS14.Client.Godot/Scenes/ChatBox/ChatBox.tscn
  SS14.Client.Godot/Scenes/MainMenu/MainMenu.tscn
  SS14.Client.Godot/Scenes/MainMenu/MainMenuTheme.tres
  SS14.Client/GameController.cs
  SS14.Client/SS14.Client.csproj
  SS14.Client/Utility/GodotResourceCopy.cs
Labels: Dependency: Godot, Project: Client, System: UI, Type: Refactor, W: In Progress
