Repository space-wizards/RobustToolbox, pull requests merged in 2019-08, with the labels that each got.

#843 Refactor UI system.
  Robust.Client/Console/Commands/Debug.cs
  Robust.Client/Graphics/Drawing/StyleBox.cs
  Robust.Client/Interfaces/UserInterface/IUserInterfaceManager.cs
  Robust.Client/UserInterface/Control.Layout.cs
  Robust.Client/UserInterface/Control.Styling.cs
  Robust.Client/UserInterface/Control.cs
  Robust.Client/UserInterface/Controls/BaseButton.cs
  Robust.Client/UserInterface/Controls/BoxContainer.cs
  Robust.Client/UserInterface/Controls/Button.cs
  Robust.Client/UserInterface/Controls/CheckBox.cs
  Robust.Client/UserInterface/Controls/CheckButton.cs
  Robust.Client/UserInterface/Controls/Container.cs
  Robust.Client/UserInterface/Controls/GridContainer.cs
  Robust.Client/UserInterface/Controls/HBoxContainer.cs
  Robust.Client/UserInterface/Controls/HScrollBar.cs
  Robust.Client/UserInterface/Controls/ItemList.cs
  Robust.Client/UserInterface/Controls/Label.cs
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/MarginContainer.cs
  Robust.Client/UserInterface/Controls/MenuBar.cs
  Robust.Client/UserInterface/Controls/OptionButton.cs
  Robust.Client/UserInterface/Controls/OutputPanel.cs
  Robust.Client/UserInterface/Controls/Panel.cs
  Robust.Client/UserInterface/Controls/PanelContainer.cs
  Robust.Client/UserInterface/Controls/Popup.cs
  Robust.Client/UserInterface/Controls/ProgressBar.cs
  Robust.Client/UserInterface/Controls/Range.cs
  Robust.Client/UserInterface/Controls/RichTextLabel.cs
  Robust.Client/UserInterface/Controls/ScrollBar.cs
  Robust.Client/UserInterface/Controls/ScrollContainer.cs
  Robust.Client/UserInterface/Controls/SpriteView.cs
  Robust.Client/UserInterface/Controls/TabContainer.cs
  Robust.Client/UserInterface/Controls/TextureButton.cs
  Robust.Client/UserInterface/Controls/TextureRect.cs
  Robust.Client/UserInterface/Controls/Tree.cs
  Robust.Client/UserInterface/Controls/VBoxContainer.cs
  Robust.Client/UserInterface/Controls/VScrollBar.cs
  Robust.Client/UserInterface/Controls/VSplitContainer.cs
  Robust.Client/UserInterface/CustomControls/DebugCoordsPanel.cs
  Robust.Client/UserInterface/CustomControls/DebugMonitors.cs
  Robust.Client/UserInterface/CustomControls/DebugNetPanel.cs
  Robust.Client/UserInterface/CustomControls/DebugTimePanel.cs
  Robust.Client/UserInterface/CustomControls/EntitySpawnWindow.cs
  Robust.Client/UserInterface/CustomControls/FpsCounter.cs
  Robust.Client/UserInterface/CustomControls/FrameGraph.cs
  Robust.Client/UserInterface/CustomControls/OptionsMenu.cs
  Robust.Client/UserInterface/CustomControls/SS14Window.cs
  Robust.Client/UserInterface/CustomControls/Tooltip.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
  Robust.Client/ViewVariables/Editors/ViewVariablesPropertyEditorAngle.cs
  Robust.Client/ViewVariables/ViewVariablesManager.cs
  Robust.UnitTesting/Client/UserInterface/ControlTest.cs
  Robust.UnitTesting/Client/UserInterface/Controls/BoxContainerTest.cs
  Robust.UnitTesting/Client/UserInterface/Controls/CenterContainerTest.cs
  Robust.UnitTesting/Client/UserInterface/Controls/GridContainerTest.cs
  Robust.UnitTesting/Client/UserInterface/StylesheetTest.cs
  Robust.UnitTesting/Client/UserInterface/UserInterfaceManagerTest.cs
Labels: Area: UI, Project: Client, Type: Performance, Type: Refactor

#845 Implemented RobustRandom
  Robust.Client/Console/Commands/ConsoleCommands.cs
  Robust.Client/Utility/Rand.cs
  Robust.Shared/Interfaces/Random/IRobustRandom.cs
  Robust.Shared/Random/RandomExtensions.cs
  Robust.Shared/Random/RobustRandom.cs
  Robust.Shared/SharedIoC.cs
  Robust.Shared/Utility/RandomString.cs
Labels: Project: Shared, Type: Feature

#840 Input System Refactor
  Robust.Client/GameController/GameController.Input.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Input/EngineContexts.cs
  Robust.Client/Input/InputManager.cs
  Robust.Client/Interfaces/IGameController.cs
  Robust.Client/Interfaces/Input/IInputManager.cs
  Robust.Client/Interfaces/UserInterface/IUserInterfaceManager.cs
  Robust.Client/State/States/GameScreen.cs
  Robust.Client/State/States/MainMenu.cs
  Robust.Client/UserInterface/Control.Input.cs
  Robust.Client/UserInterface/Control.cs
  Robust.Client/UserInterface/Controls/BaseButton.cs
  Robust.Client/UserInterface/Controls/ItemList.cs
  Robust.Client/UserInterface/Controls/LineEdit.cs
  Robust.Client/UserInterface/Controls/MenuBar.cs
  Robust.Client/UserInterface/Controls/ScrollBar.cs
  Robust.Client/UserInterface/Controls/TabContainer.cs
  Robust.Client/UserInterface/Controls/Tree.cs
  Robust.Client/UserInterface/CustomControls/DebugConsole.cs
  Robust.Client/UserInterface/CustomControls/SS14Window.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
  Robust.Client/ViewVariables/ViewVariablesPropertyControl.cs
  Robust.Lite/LiteGameController.cs
  Robust.Shared/Input/BoundKeyEventArgs.cs
  Robust.Shared/Input/KeyFunctions.cs
  Robust.UnitTesting/Client/UserInterface/UserInterfaceManagerTest.cs
  Robust.UnitTesting/GameControllerDummy.cs
Labels: Area: UI, Project: Client, Type: Refactor

#851 Add a check in OnContextChanged to fix some crashes and refactored BaseButton
  Robust.Client/Input/InputManager.cs
  Robust.Client/UserInterface/Controls/BaseButton.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Labels: Type: Bug

#852 Things for wires
  Robust.Server/GameObjects/Components/UserInterface/ServerUserInterfaceComponent.cs
  Robust.Shared.Maths/Color.cs
  Robust.Shared/Random/RandomExtensions.cs
Labels: Type: Feature
