Repository space-wizards/RobustToolbox, pull requests merged in 2019-12, with the labels that each got.

#909 EventBus Refactor
  Robust.Client/Player/LocalPlayer.cs
  Robust.Server/GameObjects/Components/Container/Container.cs
  Robust.Server/Player/PlayerSession.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/GameObjects/EntityEventBus.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/Systems/EntitySystem.cs
  Robust.Shared/Interfaces/GameObjects/IEntityManager.cs
  Robust.UnitTesting/Shared/GameObjects/EntityEventBus_Tests.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManager_Tests.cs
Labels: Area: Entities, Project: Shared, Type: Refactor

#913 Expose IWritableDirProvider.RootDir
  Robust.Shared/ContentPack/VirtualWritableDirProvider.cs
  Robust.Shared/ContentPack/WritableDirProvider.cs
  Robust.Shared/Interfaces/Resources/IWritableDirProvider.cs
Labels: Type: Feature

#916 Map & Grid Entities
  Robust.Client/GameObjects/ClientComponentFactory.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
  Robust.Server/BaseServer.cs
  Robust.Server/GameObjects/Components/Container/Container.cs
  Robust.Server/GameObjects/Components/Container/ContainerManagerComponent.cs
  Robust.Server/GameObjects/EntitySystems/PhysicsSystem.cs
  Robust.Server/GameObjects/ServerComponentFactory.cs
  Robust.Server/GameObjects/ServerEntityManager.cs
  Robust.Shared/Containers/ContainerHelpers.cs
  Robust.Shared/GameObjects/Components/Map/MapComponent.cs
  Robust.Shared/GameObjects/Components/Map/MapGridComponent.cs
  Robust.Shared/GameObjects/Components/NetIDs.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/Interfaces/GameObjects/Components/IContainerManager.cs
  Robust.Shared/Interfaces/Map/IMapManager.cs
  Robust.Shared/Map/IMapGrid.cs
  Robust.Shared/Map/MapGrid.cs
  Robust.Shared/Map/MapManager.Network.cs
  Robust.Shared/Map/MapManager.cs
  Robust.UnitTesting/Client/GameObjects/Components/Transform_Test.cs
  Robust.UnitTesting/Server/GameObjects/Components/Container_Test.cs
  Robust.UnitTesting/Server/GameObjects/Components/Transform_Test.cs
  Robust.UnitTesting/Shared/Map/MapGrid_Tests.cs
Labels: Area: Entities, Project: Shared, Type: Feature

#917 Sprite orientation improvements
  Robust.Client/Animations/AnimationTrackSpriteFlick.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/EffectSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.RenderHandle.cs
  Robust.Client/Graphics/RSI/RSI.State.cs
  Robust.Client/Graphics/RSI/RSI.cs
  Robust.Client/Interfaces/Graphics/IClyde.cs
  Robust.Client/ResourceManagement/ResourceTypes/RSIResource.cs
  Robust.Client/UserInterface/Controls/SpriteView.cs
  Robust.Shared.Maths/Vector2i.cs
  Robust.UnitTesting/Client/ResourceManagement/RsiResourceTest.cs
Labels: Area: Entities, Area: Rendering, Project: Client, Type: Feature
