Repository space-wizards/RobustToolbox, pull requests merged in 2021-09, with the labels that each got.

#2008 Change serialization copying with serializers to use expression trees
  Robust.Benchmarks/Program.cs
  Robust.Benchmarks/Serialization/BenchmarkIntSerializer.cs
  Robust.Benchmarks/Serialization/Copy/SerializationCopyBenchmark.cs
  Robust.Benchmarks/Serialization/Definitions/DataDefinitionWithString.cs
  Robust.Benchmarks/Serialization/Initialize/SerializationInitializeBenchmark.cs
  Robust.Benchmarks/Serialization/Read/SerializationReadBenchmark.cs
  Robust.Benchmarks/Serialization/Write/SerializationWriteBenchmark.cs
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.CustomSerializers.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ListSerializerTest.cs
Labels: Type: Performance, Project: Shared, Area: Serialization

#2009 Change serialization reading with serializers to use expression trees
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.CustomSerializers.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ListSerializerTest.cs
Labels: Type: Performance, Project: Shared, Area: Serialization

#2010 Change serialization writing with serializers to use expression trees
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/SerializationManager.CustomSerializers.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/ListSerializerTest.cs
Labels: Type: Performance, Project: Shared, Area: Serialization

#2016 Add test for serializing nullable ints
  Robust.UnitTesting/Shared/Serialization/NullableSerializationTest.cs
Labels: Project: Tests, Area: Serialization

#2017 Add benchmark for serializing arrays of strings, ints and definitions
  Robust.Benchmarks/Serialization/Definitions/SealedDataDefinitionWithString.cs
  Robust.Benchmarks/Serialization/SerializationArrayBenchmark.cs
Labels: Type: Performance, Area: Serialization

#2011 Fix serialization manager shutdown and add test
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.UnitTesting/Shared/Serialization/SerializationShutdownTest.cs
Labels: Type: Bug, Project: Shared, Area: Serialization

#2014 Remove Snapus Gridus
  Robust.Client/GameObjects/ClientComponentFactory.cs
  Robust.Server/GameObjects/ServerComponentFactory.cs
  Robust.Shared/GameObjects/Components/Transform/SnapGridComponent.cs
  Robust.Shared/GameObjects/Systems/SnapGridSystem.cs
  Robust.UnitTesting/Shared/GameObjects/Systems/AnchoredSystemTests.cs
Labels: Type: Cleanup

#2024 Add test for IPopulateDefaultValues
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/PopulateTest.cs
Labels: Project: Tests, Area: Serialization

#2025 Fix tests getting stuck until terminated
  Robust.Server/BaseServer.cs
Labels: Type: Bug, Project: Tests

#2026 Fix data definitions sometimes not being found in tests
  Robust.UnitTesting/Shared/Serialization/SerializationShutdownTest.cs
Labels: Type: Bug, Project: Tests, Area: Serialization

#2018 Change serialization reading to only do type checks once per type
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.Delegates.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.cs
  Robust.Shared/Serialization/Manager/ISerializationManager.cs
  Robust.Shared/Serialization/Manager/Result/DeserializationResult.cs
  Robust.Shared/Serialization/Manager/Result/DeserializedArray.cs
  Robust.Shared/Serialization/Manager/Result/DeserializedValue.cs
  Robust.Shared/Serialization/Manager/SerializationManager.CustomSerializers.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Instantiation.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Reading.cs
  Robust.Shared/Serialization/Manager/SerializationManager.TypeCopiers.cs
  Robust.Shared/Serialization/Manager/SerializationManager.TypeReaders.cs
  Robust.Shared/Serialization/Manager/SerializationManager.TypeValidators.cs
  Robust.Shared/Serialization/Manager/SerializationManager.TypeWriters.cs
  Robust.Shared/Serialization/Manager/SerializationManager.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/ComponentRegistrySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/PrototypeIdSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ValueTupleSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/SpriteSpecifierSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/TypeSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeReader.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeReaderWriter.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeWriter.cs
  Robust.Shared/Utility/NullableHelper.cs
  Robust.UnitTesting/Shared/Serialization/PropertyAndFieldDefinitionTest.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/IntegerSerializerTest.cs
Labels: Type: Performance, Project: Shared, Area: Serialization

#2033 Makes BoundUserInterfaces partially ECS.
  Robust.Client/GameObjects/Components/UserInterface/ClientUserInterfaceComponent.cs
  Robust.Client/GameObjects/EntitySystems/UserInterfaceSystem.cs
  Robust.Server/GameObjects/Components/UserInterface/ServerUserInterfaceComponent.cs
  Robust.Server/GameObjects/EntitySystems/UserInterfaceSystem.cs
  Robust.Shared/GameObjects/Components/UserInterface/SharedUserInterfaceComponent.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Labels: Area: UI, Area: ECS

#2036 Fix deleting empty containers on the client deleting their previous contents
  Robust.Client/GameObjects/EntitySystems/ContainerSystem.cs
Labels: Type: Bug, Status: Needs Review

#2047 EntitySystem Resolve helper methods.
  Robust.Shared/GameObjects/EntitySystem.Resolve.cs
Labels: Type: Discussion, Misc: Quality of Life, Status: Needs Review

#2061 Add proxy methods to SharedContainerSystem.
  Robust.Shared/Containers/ContainerManagerComponent.cs
  Robust.Shared/Containers/SharedContainerSystem.cs
Labels: Area: ECS

#2064 Merge ComponentManager into EntityManager.
  Robust.Client/ClientIoC.cs
  Robust.Server/ServerIoC.cs
  Robust.Shared/GameObjects/EntityManager.Components.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/IComponentManager.cs
  Robust.Shared/GameObjects/IEntityManager.cs
  Robust.Shared/SharedIoC.cs
  Robust.UnitTesting/Server/RobustServerSimulation.cs
  Robust.UnitTesting/Shared/GameObjects/ComponentManager_Tests.cs
Labels: Type: Refactor, Status: Needs Review

#2076 Gets rid of most ComponentManager usages.
  Robust.Client/GameObjects/EntitySystems/AnimationPlayerSystem.cs
  Robust.Client/GameObjects/EntitySystems/ClientOccluderSystem.cs
  Robust.Client/GameObjects/EntitySystems/GridChunkBoundsDebugSystem.cs
  Robust.Client/GameObjects/EntitySystems/UserInterfaceSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/ViewVariables/Instances/ViewVariablesInstanceEntity.cs
  Robust.Server/GameObjects/EntitySystems/ActorSystem.cs
  Robust.Server/GameObjects/EntitySystems/UserInterfaceSystem.cs
  Robust.Server/GameObjects/EntitySystems/ViewSubscriberSystem.cs
  Robust.Server/GameObjects/ServerEntityManager.cs
  Robust.Server/GameStates/ServerGameStateManager.cs
  Robust.Shared/Containers/SharedContainerSystem.cs
  Robust.Shared/GameObjects/Component.cs
  Robust.Shared/GameObjects/Components/Transform/TransformComponent.cs
  Robust.Shared/GameObjects/Entity.cs
  Robust.Shared/GameObjects/EntityEventBus.Directed.cs
  Robust.Shared/GameObjects/EntityManager.cs
  Robust.Shared/GameObjects/EntitySystem.Resolve.cs
  Robust.Shared/GameObjects/EntitySystem.cs
  Robust.Shared/GameObjects/IEntityManager.cs
  Robust.Shared/GameObjects/Systems/CollisionWakeSystem.cs
  Robust.Shared/GameObjects/Systems/SharedPhysicsSystem.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.cs
  Robust.Shared/GameObjects/Systems/TimerSystem.cs
  Robust.Shared/Physics/Controllers/VirtualController.cs
  Robust.Shared/Physics/SharedBroadphaseSystem.cs
  Robust.UnitTesting/Shared/GameObjects/ComponentDependencies_Tests.cs
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
  Robust.UnitTesting/Shared/GameObjects/EntityEventBusTests.ComponentEvent.cs
  Robust.UnitTesting/Shared/GameObjects/EntityEventBusTests.SystemEvent.cs
  Robust.UnitTesting/Shared/GameObjects/EntityManager_Components_Tests.cs
  Robust.UnitTesting/Shared/Map/GridFixtures_Tests.cs
  Robust.UnitTesting/Shared/Physics/CollisionWake_Test.cs
  Robust.UnitTesting/Shared/Physics/MapVelocity_Test.cs
Labels: Type: Cleanup, Type: Refactor, Area: ECS
