Repository space-wizards/RobustToolbox, pull requests merged in 2021-01, with the labels that each got.

#1489 Replicated CVars
  Robust.Client/BaseClient.cs
  Robust.Client/GameController.cs
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Server/BaseServer.cs
  Robust.Server/Player/PlayerManager.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Configuration/ConfigurationManager.cs
  Robust.Shared/Configuration/NetConfigurationManager.cs
  Robust.Shared/Interfaces/Configuration/IConfigurationManager.cs
  Robust.Shared/Interfaces/Configuration/IConfigurationManagerInternal.cs
  Robust.Shared/Interfaces/Timing/IGameTiming.cs
  Robust.Shared/Network/Messages/MsgConVars.cs
  Robust.Shared/Network/Messages/MsgServerInfo.cs
  Robust.Shared/Network/Messages/MsgServerInfoReq.cs
  Robust.Shared/SharedIoC.cs
  Robust.Shared/Timing/GameTiming.cs
Labels: Feature: Networking, Project: Shared, Type: Feature

#1503 VV Enum
  Robust.Client/ViewVariables/Editors/VVPropEditorEnum.cs
Labels: Feature: Tooling, Type: Feature

#1510 Viewport improvements.
  Robust.Client/Graphics/ClientEye/EyeManager.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.Viewport.cs
  Robust.Client/Graphics/Clyde/Clyde.Windowing.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Client/Graphics/Clyde/ClydeHeadless.cs
  Robust.Client/Interfaces/Graphics/IClydeViewport.cs
  Robust.Client/Interfaces/UserInterface/IUserInterfaceManager.cs
  Robust.Client/UserInterface/CustomControls/MainViewportContainer.cs
  Robust.Client/UserInterface/CustomControls/ViewportContainer.cs
  Robust.Client/UserInterface/UserInterfaceManager.cs
Labels: Area: Rendering, Feature: Clyde

#1514 Reorganizes NumericsHelpers into different files using partial classes.
  Robust.Shared.Maths/NumericsHelpers.Abs.cs
  Robust.Shared.Maths/NumericsHelpers.Add.cs
  Robust.Shared.Maths/NumericsHelpers.Divide.cs
  Robust.Shared.Maths/NumericsHelpers.Max.cs
  Robust.Shared.Maths/NumericsHelpers.Min.cs
  Robust.Shared.Maths/NumericsHelpers.Multiply.cs
  Robust.Shared.Maths/NumericsHelpers.Sub.cs
  Robust.Shared.Maths/NumericsHelpers.cs
Labels: Type: Cleanup
