Repository space-wizards/RobustToolbox, pull requests merged in 2025-04, with the labels that each got.

#5227 Added separate localization & clean up
  Resources/Locale/en-US/commands.ftl
  Robust.Client/Console/Commands/LocalizationCommands.cs
  Robust.Shared/CVars.cs
  Robust.Shared/Localization/ILocalizationManager.cs
  Robust.Shared/Localization/LocalizationManager.cs
  Robust.Shared/Utility/CultureInfoExtension.cs
Labels: Status: Needs Review

#5295 Refactor TileEdgeOverlay
  RELEASE-NOTES.md
  Robust.Client/GameObjects/EntitySystems/MapSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Map/ClydeTileDefinitionManager.cs
  Robust.Client/Map/IClydeTileDefinitionManager.cs
  Robust.Client/Map/TileEdgeOverlay.cs
  Robust.Shared.Maths/Direction.cs
  Robust.Shared/Map/TileDefinitionManager.cs
Labels: Status: Needs Discussion, Issue: Performance, Area: Rendering, Status: Needs Review

#5808 Add ForbidLiteralAttribute and analyzer
  Robust.Analyzers.Tests/ForbidLiteralAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ForbidLiteralAnalyzer.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ForbidLiteralAttribute.cs
Labels: Issue: Feature, Area: Roslyn Components

#5780 equatable FormattedMessage, take 2
  Robust.Shared/Utility/FormattedMessage.cs
Labels: Issue: Performance, Area: UI, Status: Awaiting Changes

#5842 Tile edge rendering fixes
  Robust.Client/Graphics/Clyde/Clyde.GridRendering.cs
  Robust.Client/Graphics/Clyde/Clyde.cs
  Robust.Shared/CVars.cs
Labels: Area: Rendering

#5783 Make MappingDataNode use string keys
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/MapChunkSerializer.cs
  Robust.Shared/Physics/FixtureSerializer.cs
  Robust.Shared/Prototypes/PrototypeManager.YamlLoad.cs
  Robust.Shared/Replays/ReplayData.cs
  Robust.Shared/Serialization/Manager/Definition/DataDefinition.cs
  Robust.Shared/Serialization/Manager/SerializationManager.Composition.cs
  Robust.Shared/Serialization/Markdown/DataNode.cs
  Robust.Shared/Serialization/Markdown/DataNodeHelpers.cs
  Robust.Shared/Serialization/Markdown/DataNodeParser.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNode.cs
  Robust.Shared/Serialization/Markdown/Mapping/MappingDataNodeExtensions.cs
  Robust.Shared/Serialization/Markdown/Sequence/SequenceDataNode.cs
  Robust.Shared/Serialization/Markdown/Value/ValueDataNode.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/AbstractDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/Dictionary/PrototypeIdDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Custom/Prototype/Dictionary/PrototypeIdValueDictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/DictionarySerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/Generic/ValueTupleSerializer.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ManagerTests.cs
  Robust.UnitTesting/Shared/Serialization/SerializationTests/ReadValueProviderTests.cs
Labels: Area: Serialization, Status: Requires Content PR

#5858 Add "obsolete inheritance" analyzer
  Robust.Analyzers.Tests/ObsoleteInheritanceAnalyzerTest.cs
  Robust.Analyzers.Tests/Robust.Analyzers.Tests.csproj
  Robust.Analyzers/ObsoleteInheritanceAnalyzer.cs
  Robust.Client/UserInterface/UIConstants.cs
  Robust.Roslyn.Shared/Diagnostics.cs
  Robust.Shared/Analyzers/ObsoleteInheritanceAttribute.cs
  Robust.Shared/Analyzers/VirtualAttribute.cs
Labels: Issue: Feature, Area: Roslyn Components

#5872 Make `RobustIntegrationTest` pool by default
  RELEASE-NOTES.md
  Robust.Benchmarks/Transform/RecursiveMoveBenchmark.cs
  Robust.Server/GameStates/PvsData.cs
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/GameObjects/Components/MetaDataComponent.cs
  Robust.UnitTesting/Client/GameObjects/Components/OccluderDirectionsTest.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
  Robust.UnitTesting/Server/GameStates/DefaultEntityTest.cs
  Robust.UnitTesting/Server/GameStates/DetachedParentTest.cs
  Robust.UnitTesting/Server/GameStates/MissingParentTest.cs
  Robust.UnitTesting/Server/GameStates/PvsChunkTest.cs
  Robust.UnitTesting/Server/GameStates/PvsReEntryTest.cs
  Robust.UnitTesting/Server/GameStates/PvsSystemTests.cs
  Robust.UnitTesting/Shared/EngineIntegrationTest_Test.cs
  Robust.UnitTesting/Shared/EntitySerialization/AutoIncludeSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v3.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v4.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v5.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v6.cs
  Robust.UnitTesting/Shared/EntitySerialization/BackwardsCompatibilityTest.v7.cs
  Robust.UnitTesting/Shared/EntitySerialization/CategorizationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/LifestageSerializationTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/MapMergeTest.cs
  Robust.UnitTesting/Shared/EntitySerialization/OrphanSerializationTest.cs
  Robust.UnitTesting/Shared/GameObjects/ContainerTests.cs
  Robust.UnitTesting/Shared/GameState/ComponentStateTests.cs
  Robust.UnitTesting/Shared/GameState/DeletionNetworkingTests.cs
  Robust.UnitTesting/Shared/GameState/NoSharedReferencesTest.cs
  Robust.UnitTesting/Shared/Map/SingleTileRemoveTest.cs
  Robust.UnitTesting/Shared/Networking/DisconnectTest.cs
  Robust.UnitTesting/Shared/Physics/BroadphaseNetworkingTest.cs
  Robust.UnitTesting/Shared/Physics/CollisionPredictionTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnInContainerOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/SpawnNextToOrDropTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnInContainerTest.cs
  Robust.UnitTesting/Shared/Spawning/TrySpawnNextToTest.cs
  Robust.UnitTesting/Shared/Toolshed/ToolshedTest.cs
Labels: Area: Testing

#5873 PredictedDeleteEntity fixes
  RELEASE-NOTES.md
  Robust.Client/GameObjects/ClientEntityManager.Spawn.cs
  Robust.Client/GameObjects/ClientEntityManager.cs
Labels: Issue: Bug

#5879 Add cycle detection when setting MIDI renderer masters
  RELEASE-NOTES.md
  Robust.Client/Audio/Midi/MidiRenderer.cs
Labels: Area: Replays, Area: MIDI

#5900 Fix PVS NRE
  RELEASE-NOTES.md
  Robust.Server/GameStates/PvsSystem.Chunks.cs
Labels: Area: PVS
