Repository space-wizards/RobustToolbox, pull requests merged in 2025-05, with the labels that each got.

#5897 Add documentation to the serializer interfaces and remove ITypeReaderWriter
  RELEASE-NOTES.md
  Robust.Shared/Serialization/Manager/Attributes/TypeSerializerAttribute.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeReader.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeReaderWriter.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeSerializer.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeValidator.cs
  Robust.Shared/Serialization/TypeSerializers/Interfaces/ITypeWriter.cs
Labels: Area: Serialization, Difficulty: 1-Easy, Issue: Documentation

#5894 Check audio file signatures instead of extensions
  Robust.Client/ResourceManagement/ResourceTypes/AudioResource.cs
Labels: Area: Audio, Area: Resources

#5865 Serialize TimeSpan from text
  Robust.Shared/Serialization/TypeSerializers/Implementations/TimespanSerializer.cs
  Robust.UnitTesting/Shared/Serialization/TypeSerializers/TimespanSerializerTest.cs
Labels: Status: Awaiting Changes

#5877 Move TestPair & PoolManager to engine
  RELEASE-NOTES.md
  Robust.UnitTesting/IIntegrationInstance.cs
  Robust.UnitTesting/Pool/ITestPair.cs
  Robust.UnitTesting/Pool/PairSettings.cs
  Robust.UnitTesting/Pool/PoolManager.cs
  Robust.UnitTesting/Pool/PoolTestLogHandler.cs
  Robust.UnitTesting/Pool/TestMapData.cs
  Robust.UnitTesting/Pool/TestPair.Helpers.cs
  Robust.UnitTesting/Pool/TestPair.Recycle.cs
  Robust.UnitTesting/Pool/TestPair.cs
  Robust.UnitTesting/Pool/TestPrototypesAttribute.cs
  Robust.UnitTesting/RobustIntegrationTest.TestPair.cs
  Robust.UnitTesting/RobustIntegrationTest.cs
Labels: Area: Testing

#5602 Move parts of SpriteComponent to SpriteSystem
  RELEASE-NOTES.md
  Robust.Client/ComponentTrees/SpriteTreeSystem.cs
  Robust.Client/GameObjects/Components/Renderable/IRenderableComponent.cs
  Robust.Client/GameObjects/Components/Renderable/ISpriteLayer.cs
  Robust.Client/GameObjects/Components/Renderable/SpriteComponent.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Bounds.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Component.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Helpers.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Layer.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerGetters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerMap.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.LayerSetters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Render.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Setters.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.Specifier.cs
  Robust.Client/GameObjects/EntitySystems/SpriteSystem.cs
  Robust.Client/Graphics/Clyde/Clyde.HLR.cs
  Robust.Client/Graphics/Clyde/Clyde.Rendering.cs
  Robust.Client/Placement/PlacementMode.cs
  Robust.Client/Utility/SpriteSpecifierExt.cs
  Robust.Shared.Maths/Angle.cs
  Robust.Shared/ComponentTrees/ComponentTreeSystem.cs
  Robust.Shared/GameObjects/Components/Renderable/SpriteLayerData.cs
  Robust.Shared/Serialization/TypeSerializers/Implementations/SpriteSpecifierSerializer.cs
Labels: Area: Rendering

#5878 Pause entities that leave PVS range
  RELEASE-NOTES.md
  Robust.Client/GameStates/ClientGameStateManager.cs
  Robust.Shared/GameObjects/Systems/SharedTransformSystem.Component.cs
  Robust.UnitTesting/Server/GameStates/PvsPauseTest.cs
Labels: Area: PVS

#5922 Add SpriteBoundsTest
  Robust.UnitTesting/Client/Sprite/SpriteBoundsTest.cs
Labels: Area: Testing

#5932 Add new Vertical property to progress bars
  Robust.Client/UserInterface/Controls/ProgressBar.cs
Labels: Area: UI, Status: Needs Review
