Repository space-wizards/RobustToolbox, pull requests merged in 2025-09, with the labels that each got.

#6184 Move SDL3 binding to NuGet package
  Directory.Packages.props
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/LICENSE
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.Ext.cs
  Robust.Client/Graphics/Clyde/Windowing/SDL3-CS/SDL3.Core.cs
  Robust.Client/Robust.Client.csproj
  Robust.Client/Utility/ClientDllMap.cs
Labels: T: Performance, T: Refactor, A: WSI

#6171 Remove TransformBounds(Matrix3x2 , Box2Rotated)
  RELEASE-NOTES.md
  Robust.Shared.Maths/Matrix3Helpers.cs
  Robust.Shared/GameObjects/Systems/EntityLookup.Queries.cs
  Robust.UnitTesting/Shared/Maths/Box2Rotated_Test.cs
Labels: T: Bugfix, Priority: 2-Important, A: Physics, Size: Very Small, D2: Medium

#5947 Allow multiple clients running WebView on a singular machine.
  Robust.Client.WebView/Cef/WebViewManagerCef.Lock.cs
  Robust.Client.WebView/Cef/WebViewManagerCef.cs
  Robust.Client.WebView/WCVars.cs
Labels: T: Bugfix, A: WebView

#6188 Improve map serialization error logging & exception tolerance
  RELEASE-NOTES.md
  Robust.Shared/EntitySerialization/EntityDeserializer.cs
  Robust.Shared/EntitySerialization/EntitySerializer.cs
  Robust.Shared/EntitySerialization/Options.cs
  Robust.Shared/EntitySerialization/SerializationEnums.cs
  Robust.Shared/EntitySerialization/Systems/MapLoaderSystem.Load.cs
Labels: A: Serialization

#6191 Try fix UI state debug assert
  Robust.Client/GameStates/GameStateProcessor.cs
  Robust.Shared/GameObjects/Systems/SharedUserInterfaceSystem.cs
Labels: T: Bugfix, A: PVS / GameState Networking

#6135 Change PhysicsSystem.Island.FinalisePositions to TryComp transform component
  Robust.Shared/Physics/Systems/SharedPhysicsSystem.Island.cs
Labels: Priority: 2-Important, D2: Medium
